<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>15A284</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleHDAHardwareConfigDriver</string>
	<key>CFBundleGetInfoString</key>
	<string>AppleHDAHardwareConfigDriver 278.56, Copyright © 2000-2016 Apple Inc. All rights reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.AppleHDAHardwareConfigDriver</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>HDA Hardware Config Driver</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>278.56</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>278.56</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>8R174l</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>16D20</string>
	<key>DTSDKName</key>
	<string>macosx10.12internal</string>
	<key>DTXcode</key>
	<string>0800</string>
	<key>DTXcodeBuild</key>
	<string>8R174l</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>HDA Hardware Config Resource</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleHDAHardwareConfigDriver</string>
			<key>HDAConfigDefault</key>
			<array>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>Mirone - Realtek ALC256</string>
					<key>CodecID</key>
					<integer>283902550</integer>
					<key>ConfigData</key>
					<data>
					ASccEAEnHQABJx6mAScfkAFHHCABRx0AAUce
					FwFHH5ABlxwwAZcdEQGXHosBlx8BAhccQAIX
					HRACFx4rAhcfAQFHDAICFwwC
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>3</integer>
				</dict>
			</array>
			<key>IOClass</key>
			<string>AppleHDAHardwareConfigDriver</string>
			<key>IOMatchCategory</key>
			<string>AppleHDAHardwareConfigDriver</string>
			<key>IOProviderClass</key>
			<string>AppleHDAHardwareConfigDriverLoader</string>
			<key>PostConstructionInitialization</key>
			<array>
				<dict>
					<key>CodecID</key>
					<integer>269714441</integer>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>Layouts</key>
					<array>
						<integer>0</integer>
					</array>
					<key>widgets</key>
					<array>
						<dict>
							<key>NodeID</key>
							<integer>36</integer>
							<key>PinConfigDefault</key>
							<integer>2834464</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>37</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>38</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>39</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>40</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>41</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>42</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>43</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>44</integer>
							<key>PinConfigDefault</key>
							<integer>2416967952</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>45</integer>
							<key>PinConfigDefault</key>
							<integer>2416967954</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>46</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>47</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>48</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>49</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>50</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>51</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>52</integer>
							<key>PinConfigDefault</key>
							<integer>11243568</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>53</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>54</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>55</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>56</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>57</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>58</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>59</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>60</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>61</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>62</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>63</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>64</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>65</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>66</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>67</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>68</integer>
							<key>PinConfigDefault</key>
							<integer>2426798336</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>69</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>269714441</integer>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>Layouts</key>
					<array>
						<integer>14</integer>
						<integer>15</integer>
						<integer>16</integer>
						<integer>54</integer>
						<integer>55</integer>
						<integer>57</integer>
					</array>
					<key>widgets</key>
					<array>
						<dict>
							<key>NodeID</key>
							<integer>69</integer>
							<key>PinConfigDefault</key>
							<integer>2426405121</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>269697544</integer>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>Layouts</key>
					<array>
						<integer>0</integer>
					</array>
					<key>widgets</key>
					<array>
						<dict>
							<key>NodeID</key>
							<integer>16</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>17</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>18</integer>
							<key>PinConfigDefault</key>
							<integer>2416967952</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>19</integer>
							<key>PinConfigDefault</key>
							<integer>720928</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>20</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>21</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>22</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>23</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>24</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>25</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>26</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>27</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>28</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>29</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>30</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>31</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>32</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>33</integer>
							<key>PinConfigDefault</key>
							<integer>21299248</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>34</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>269697544</integer>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>Layouts</key>
					<array>
						<integer>114</integer>
					</array>
					<key>widgets</key>
					<array>
						<dict>
							<key>NodeID</key>
							<integer>19</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>29</integer>
							<key>PinConfigDefault</key>
							<integer>2416967952</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>269697544</integer>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>Layouts</key>
					<array>
						<integer>108</integer>
						<integer>131</integer>
					</array>
					<key>widgets</key>
					<array>
						<dict>
							<key>NodeID</key>
							<integer>23</integer>
							<key>PinConfigDefault</key>
							<integer>9121792</integer>
						</dict>
						<dict>
							<key>NodeID</key>
							<integer>34</integer>
							<key>PinConfigDefault</key>
							<integer>13361168</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>269697544</integer>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>Layouts</key>
					<array>
						<integer>121</integer>
						<integer>127</integer>
						<integer>129</integer>
					</array>
					<key>widgets</key>
					<array>
						<dict>
							<key>NodeID</key>
							<integer>34</integer>
							<key>PinConfigDefault</key>
							<integer>13361168</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>269697544</integer>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>Layouts</key>
					<array>
						<integer>120</integer>
					</array>
					<key>widgets</key>
					<array>
						<dict>
							<key>NodeID</key>
							<integer>18</integer>
							<key>PinConfigDefault</key>
							<integer>2417426704</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>269697544</integer>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>Layouts</key>
					<array>
						<integer>121</integer>
					</array>
					<key>widgets</key>
					<array>
						<dict>
							<key>NodeID</key>
							<integer>34</integer>
							<key>PinConfigDefault</key>
							<integer>3502637120</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>269697544</integer>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>Layouts</key>
					<array>
						<integer>127</integer>
					</array>
					<key>widgets</key>
					<array>
						<dict>
							<key>NodeID</key>
							<integer>34</integer>
							<key>PinConfigDefault</key>
							<integer>3502637120</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>269697544</integer>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>Layouts</key>
					<array>
						<integer>129</integer>
					</array>
					<key>widgets</key>
					<array>
						<dict>
							<key>NodeID</key>
							<integer>34</integer>
							<key>PinConfigDefault</key>
							<integer>3502637120</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>CodecID</key>
					<integer>283904133</integer>
					<key>Layouts</key>
					<array>
						<integer>36</integer>
						<integer>38</integer>
						<integer>52</integer>
						<integer>53</integer>
					</array>
					<key>widgets</key>
					<array>
						<dict>
							<key>MicAttributes</key>
							<integer>28</integer>
							<key>MicInfo</key>
							<string>Sampled on rising edge</string>
							<key>NodeID</key>
							<integer>39</integer>
							<key>PinConfigDefault</key>
							<integer>2426405136</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Codec</key>
					<string>Cirrus Logic CS4206</string>
					<key>CodecID</key>
					<integer>269697542</integer>
					<key>Layouts</key>
					<array>
						<integer>0</integer>
					</array>
					<key>widgets</key>
					<array>
						<dict>
							<key>NodeID</key>
							<integer>22</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Codec</key>
					<string>Cirrus Logic CS4206</string>
					<key>CodecID</key>
					<integer>269697542</integer>
					<key>Layouts</key>
					<array>
						<integer>71</integer>
					</array>
					<key>widgets</key>
					<array>
						<dict>
							<key>NodeID</key>
							<integer>23</integer>
							<key>PinConfigDefault</key>
							<integer>2416968002</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Codec</key>
					<string>Cirrus Logic CS4206</string>
					<key>CodecID</key>
					<integer>269697542</integer>
					<key>Layouts</key>
					<array>
						<integer>83</integer>
					</array>
					<key>widgets</key>
					<array>
						<dict>
							<key>NodeID</key>
							<integer>24</integer>
							<key>PinConfigDefault</key>
							<integer>2416968001</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Codec</key>
					<string>Cirrus Logic CS4206</string>
					<key>CodecID</key>
					<integer>269697542</integer>
					<key>Layouts</key>
					<array>
						<integer>90</integer>
						<integer>92</integer>
						<integer>6</integer>
						<integer>7</integer>
						<integer>122</integer>
						<integer>130</integer>
					</array>
					<key>widgets</key>
					<array>
						<dict>
							<key>NodeID</key>
							<integer>24</integer>
							<key>PinConfigDefault</key>
							<integer>2416967952</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Codec</key>
					<string>Wolfson WM8800</string>
					<key>CodecID</key>
					<integer>451708928</integer>
					<key>Layouts</key>
					<array>
						<integer>67</integer>
						<integer>73</integer>
					</array>
					<key>widgets</key>
					<array>
						<dict>
							<key>MicInfo</key>
							<string>WM8800 External Microphone Virtual Pin Complex</string>
							<key>NodeID</key>
							<integer>24</integer>
							<key>PinConfigDefault</key>
							<integer>28020848</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>AppleHDAHardwareConfigDriver 278.56, Copyright © 2000-2016 Apple Inc. All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.kpi.iokit</key>
		<string>8.0.0b3</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0b3</string>
	</dict>
</dict>
</plist>
