<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>S.Mitrofanov</string>
	<key>CodecID</key>
	<integer>642</integer>
	<key>CodecName</key>
	<string>ALC282</string>
	<key>Files</key>
	<dict>
		<key>Layouts</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Mirone Laptop patch ALC282 v1</string>
				<key>Id</key>
				<integer>3</integer>
				<key>Path</key>
				<string>layout3.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Mirone Laptop patch ALC282 v2</string>
				<key>Id</key>
				<integer>4</integer>
				<key>Path</key>
				<string>layout4.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Skvo ALC282 Acer Aspire on IvyBridge by Andrey1970</string>
				<key>Id</key>
				<integer>27</integer>
				<key>Path</key>
				<string>layout27.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Custom ALC282 Acer Aspire E1-572G</string>
				<key>Id</key>
				<integer>28</integer>
				<key>Path</key>
				<string>layout28.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Custom ALC282 Dell Inspirion 3521 by Generation88</string>
				<key>Id</key>
				<integer>29</integer>
				<key>Path</key>
				<string>layout29.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Custom ALC282 Asus x200LA by S.Mitrofanov</string>
				<key>Id</key>
				<integer>86</integer>
				<key>Path</key>
				<string>layout86.xml.zlib</string>
			</dict>
		</array>
		<key>Platforms</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Mirone resources</string>
				<key>Id</key>
				<integer>3</integer>
				<key>Path</key>
				<string>PlatformsM3.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Mirone resources</string>
				<key>Id</key>
				<integer>4</integer>
				<key>Path</key>
				<string>PlatformsM4.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Skvo ALC282 Acer Aspire on IvyBridge by Andrey1970</string>
				<key>Id</key>
				<integer>27</integer>
				<key>Path</key>
				<string>Platforms27.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Custom ALC282 Acer Aspire E1-572G</string>
				<key>Id</key>
				<integer>28</integer>
				<key>Path</key>
				<string>Platforms28.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Custom ALC282 Dell Inspirion 3521 by Generation88</string>
				<key>Id</key>
				<integer>29</integer>
				<key>Path</key>
				<string>Platforms29.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Custom ALC282 Asus x200LA by S.Mitrofanov</string>
				<key>Id</key>
				<integer>86</integer>
				<key>Path</key>
				<string>Platforms86.xml.zlib</string>
			</dict>
		</array>
	</dict>
	<key>Patches</key>
	<array>
		<dict>
			<key>Count</key>
			<integer>1</integer>
			<key>Find</key>
			<data>QcYGAEmLvCQ=</data>
			<key>MaxKernel</key>
			<integer>13</integer>
			<key>MinKernel</key>
			<integer>12</integer>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>QcYGAUmLvCQ=</data>
		</dict>
		<dict>
			<key>Count</key>
			<integer>1</integer>
			<key>Find</key>
			<data>QcYGAEiLu2g=</data>
			<key>MinKernel</key>
			<integer>14</integer>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>QcYGAUiLu2g=</data>
		</dict>
		<dict>
			<key>Count</key>
			<integer>1</integer>
			<key>Find</key>
			<data>QcaGQwEAAAA=</data>
			<key>MinKernel</key>
			<integer>12</integer>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>QcaGQwEAAAE=</data>
		</dict>
		<dict>
			<key>Count</key>
			<integer>2</integer>
			<key>Find</key>
			<data>hBnUEQ==</data>
			<key>MinKernel</key>
			<integer>12</integer>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>ggLsEA==</data>
		</dict>
		<dict>
			<key>Count</key>
			<integer>2</integer>
			<key>Find</key>
			<data>hQjsEA==</data>
			<key>MinKernel</key>
			<integer>12</integer>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>AAAAAA==</data>
		</dict>
		<dict>
			<key>Count</key>
			<integer>2</integer>
			<key>Find</key>
			<data>hAjsEA==</data>
			<key>MinKernel</key>
			<integer>12</integer>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>AAAAAA==</data>
		</dict>
		<dict>
			<key>Count</key>
			<integer>2</integer>
			<key>Find</key>
			<data>gxnUEQ==</data>
			<key>MinKernel</key>
			<integer>15</integer>
			<key>MaxKernel</key>
			<integer>15</integer>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>AAAAAA==</data>
		</dict>
	</array>
	<key>Revisions</key>
	<array>
		<integer>1048579</integer>
	</array>
	<key>Vendor</key>
	<string>Realtek</string>
</dict>
</plist>
