<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleGetInfoString</key>
	<string>Copyright © 2016 vit9696. All rights reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>as.vit9696.PinConfigs</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>PinConfigs</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>HDA Hardware Config Resource</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleHDAHardwareConfigDriver</string>
			<key>HDAConfigDefault</key>
			<array>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>Mirone - Realtek ALC255</string>
					<key>CodecID</key>
					<integer>283902549</integer>
					<key>ConfigData</key>
					<data>
					AUccEAFHHQEBRx4XAUcfkAG3HDABtx0wAbce
					pwG3H5ACFxwgAhcdEAIXHiECFx8DAUcMAg==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>3</integer>
				</dict>
			</array>
			<key>IOClass</key>
			<string>AppleHDAHardwareConfigDriver</string>
			<key>IOMatchCategory</key>
			<string>AppleHDAHardwareConfigDriver</string>
			<key>IOProviderClass</key>
			<string>AppleHDAHardwareConfigDriverLoader</string>
		</dict>
	</dict>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.kpi.libkern</key>
		<string>11.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
