<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>17A405001</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleUSBHostMergeProperties</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.AppleUSBHostMergeProperties</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>I/O Kit Driver for USB Devices</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.2</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>10L213p</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>10.14</string>
	<key>DTSDKBuild</key>
	<string>18A375</string>
	<key>DTSDKName</key>
	<string>macosx10.14internal</string>
	<key>DTXcode</key>
	<string>1000</string>
	<key>DTXcodeBuild</key>
	<string>10L213p</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>Apple 0x9226-7 Device</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBHostMergeProperties</string>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>ExtendedData</key>
				<array>
					<integer>66980129</integer>
				</array>
			</dict>
			<key>idProductArray</key>
			<array>
				<integer>37414</integer>
				<integer>37415</integer>
				<integer>37430</integer>
			</array>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>Apple 0x9226-7 Interface</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBHostMergeProperties</string>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>ExtendedData</key>
				<array>
					<integer>66980129</integer>
				</array>
			</dict>
			<key>bConfigurationValue</key>
			<string>*</string>
			<key>bInterfaceNumber</key>
			<string>*</string>
			<key>idProductArray</key>
			<array>
				<integer>37414</integer>
				<integer>37415</integer>
				<integer>37430</integer>
			</array>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>Apple Acrylic Keyboard</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBHostMergeProperties</string>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>kUSBResumeRecoveryTime</key>
				<integer>250</integer>
			</dict>
			<key>idProductArray</key>
			<array>
				<integer>523</integer>
				<integer>524</integer>
				<integer>525</integer>
			</array>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>Apple DFU Device</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBHostMergeProperties</string>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>NeedsAdministratorPrivilege</key>
				<true/>
			</dict>
			<key>idProductArray</key>
			<array>
				<integer>550</integer>
				<integer>551</integer>
				<integer>552</integer>
				<integer>564</integer>
				<integer>565</integer>
				<integer>559</integer>
				<integer>5633</integer>
				<integer>33297</integer>
				<integer>33298</integer>
				<integer>33305</integer>
				<integer>34052</integer>
				<integer>34054</integer>
				<integer>34060</integer>
				<integer>34061</integer>
				<integer>34062</integer>
				<integer>4358</integer>
			</array>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>Apple DFU Device Range</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBHostMergeProperties</string>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>NeedsAdministratorPrivilege</key>
				<true/>
			</dict>
			<key>idProduct</key>
			<integer>61440</integer>
			<key>idProductMask</key>
			<integer>64512</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>Apple DFU Interface</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBHostMergeProperties</string>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>NeedsAdministratorPrivilege</key>
				<true/>
			</dict>
			<key>bConfigurationValue</key>
			<string>*</string>
			<key>bInterfaceNumber</key>
			<string>*</string>
			<key>idProductArray</key>
			<array>
				<integer>550</integer>
				<integer>551</integer>
				<integer>552</integer>
				<integer>564</integer>
				<integer>565</integer>
				<integer>559</integer>
				<integer>5633</integer>
				<integer>33297</integer>
				<integer>33298</integer>
				<integer>33305</integer>
				<integer>34052</integer>
				<integer>34054</integer>
				<integer>34060</integer>
				<integer>34061</integer>
				<integer>34062</integer>
				<integer>4358</integer>
			</array>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>Apple DFU Interface Range</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBHostMergeProperties</string>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>NeedsAdministratorPrivilege</key>
				<true/>
			</dict>
			<key>bConfigurationValue</key>
			<string>*</string>
			<key>bInterfaceNumber</key>
			<string>*</string>
			<key>idProduct</key>
			<integer>61440</integer>
			<key>idProductMask</key>
			<integer>64512</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>Apple LED Display Audio Device</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBHostMergeProperties</string>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>DisplayRouting</key>
				<integer>0</integer>
				<key>kUSBDescriptorOverride</key>
				<dict>
					<key>descriptor</key>
					<data>
					HANEAGkAcwBwAGwAYQB5ACAAQQB1AGQAaQBv
					AA==
					</data>
					<key>index</key>
					<string>UsbDescriptorOverrideProductStringIndex</string>
					<key>languageID</key>
					<integer>1033</integer>
				</dict>
			</dict>
			<key>idProductArray</key>
			<array>
				<integer>10514</integer>
				<integer>4357</integer>
				<integer>4359</integer>
			</array>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>Apple WS Device</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBHostMergeProperties</string>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>ExtendedData</key>
				<array>
					<integer>50399521</integer>
					<integer>50465057</integer>
				</array>
			</dict>
			<key>idProductArray</key>
			<array>
				<integer>547</integer>
				<integer>548</integer>
				<integer>549</integer>
				<integer>560</integer>
				<integer>561</integer>
				<integer>562</integer>
				<integer>566</integer>
				<integer>567</integer>
				<integer>568</integer>
				<integer>575</integer>
				<integer>576</integer>
				<integer>577</integer>
				<integer>578</integer>
				<integer>579</integer>
				<integer>580</integer>
				<integer>581</integer>
				<integer>582</integer>
				<integer>583</integer>
				<integer>594</integer>
				<integer>595</integer>
				<integer>596</integer>
				<integer>585</integer>
				<integer>586</integer>
				<integer>587</integer>
				<integer>588</integer>
				<integer>589</integer>
				<integer>590</integer>
				<integer>601</integer>
				<integer>602</integer>
				<integer>603</integer>
				<integer>610</integer>
				<integer>611</integer>
				<integer>612</integer>
			</array>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>Apple WS Interface</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBHostMergeProperties</string>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>ExtendedData</key>
				<array>
					<integer>50399521</integer>
					<integer>50465057</integer>
				</array>
			</dict>
			<key>bConfigurationValue</key>
			<string>*</string>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProductArray</key>
			<array>
				<integer>547</integer>
				<integer>548</integer>
				<integer>549</integer>
				<integer>560</integer>
				<integer>561</integer>
				<integer>562</integer>
				<integer>566</integer>
				<integer>567</integer>
				<integer>568</integer>
				<integer>575</integer>
				<integer>576</integer>
				<integer>577</integer>
				<integer>578</integer>
				<integer>579</integer>
				<integer>580</integer>
				<integer>581</integer>
				<integer>582</integer>
				<integer>583</integer>
				<integer>594</integer>
				<integer>595</integer>
				<integer>596</integer>
				<integer>585</integer>
				<integer>586</integer>
				<integer>587</integer>
				<integer>588</integer>
				<integer>589</integer>
				<integer>590</integer>
				<integer>601</integer>
				<integer>602</integer>
				<integer>603</integer>
				<integer>610</integer>
				<integer>611</integer>
				<integer>612</integer>
			</array>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>Built-in iSight2 - 0x219</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBHostMergeProperties</string>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>kUSBDescriptorOverride</key>
				<dict>
					<key>descriptor</key>
					<data>
					CQJ2BQMBAID6CAsAAg4DAAIJBAAAAQ4BAAIN
					JAEAATMAAAk9AAEBEiQCAQECAAAAAAAAAAAD
					CgAACSQDAgEBAAMACyQFAwEAAAJ/FQAHBYED
					CAAGBSUDKAAJBAEAAA4CAAAPJAECmwSCAAIC
					AAABAAAbJAQBB1lVWTIAABAAgAAAqgA4m3EQ
					BQAAAABGJAUBAKAAeAAAAHcBAADKCACWAAAV
					FgUACxUWBQB0jAUAgBoGABzIBgAgoQcAJLgI
					ACssCgAANQwAQEIPAFVYFACAhB4ARiQFAgCw
					AJAAAAB3AQAAyggAxgAAFRYFAAsVFgUAdIwF
					AIAaBgAcyAYAIKEHACS4CAArLAoAADUMAEBC
					DwBVWBQAgIQeAEYkBQMAQAHwAAAAdwEAAMoI
					AFgCABUWBQALFRYFAHSMBQCAGgYAHMgGACCh
					BwAkuAgAKywKAAA1DABAQg8AVVgUAICEHgBG
					JAUEAGABIAEAAHcBAADKCAAYAwAVFgUACxUW
					BQB0jAUAgBoGABzIBgAgoQcAJLgIACssCgAA
					NQwAQEIPAFVYFACAhB4ARiQFBQCAAuABAAB3
					AQAAyggAYAkAFRYFAAsVFgUAdIwFAIAaBgAc
					yAYAIKEHACS4CAArLAoAADUMAEBCDwBVWBQA
					gIQeAD4kBQYA0ALgAQAAdwEAAMoIAIwKAIAa
					BgAJgBoGABzIBgAgoQcAJLgIACssCgAANQwA
					QEIPAFVYFACAhB4APiQFBwDAAkACAAB3AQAA
					yggAYAwAgBoGAAmAGgYAHMgGACChBwAkuAgA
					KywKAAA1DABAQg8AVVgUAICEHgAiJAMAB6AA
					eACwAJAAQAHwAGABIAGAAuAB0ALgAcACQAIA
					BiQNAQEBCyQGAggAAQAAAABKJAcBAIAC4AEA
					AHcBAADKCABgCQAVFgUADAuLAgAVFgUAdIwF
					AIAaBgAcyAYAIKEHACS4CAArLAoAADUMAEBC
					DwBVWBQAgIQeAEokBwIA0ALgAQAAdwEAAMoI
					AIwKABUWBQAMC4sCABUWBQB0jAUAgBoGABzI
					BgAgoQcAJLgIACssCgAANQwAQEIPAFVYFACA
					hB4ARiQHAwAgA1gCAAB3AQAAyggApg4AFRYF
					AAsVFgUAdIwFAIAaBgAcyAYAIKEHACS4CAAr
					LAoAADUMAEBCDwBVWBQAgIQeAEYkBwQAAARA
					AgAAdwEAAMoIAAASABUWBQALFRYFAHSMBQCA
					GgYAHMgGACChBwAkuAgAKywKAAA1DABAQg8A
					VVgUAICEHgBGJAcFAAAEAAMAAHcBAADKCAAA
					GAAVFgUACxUWBQB0jAUAgBoGABzIBgAgoQcA
					JLgIACssCgAANQwAQEIPAFVYFACAhB4ARiQH
					BgAABdACAAB3AQAAyggAIBwAFRYFAAsVFgUA
					dIwFAIAaBgAcyAYAIKEHACS4CAArLAoAADUM
					AEBCDwBVWBRCgIQeAEYkBwcAAAXAAwAAdwEA
					AMoIAIAlABUWBQALFRYFAHSMBQCAGgYAHMgG
					ACChBwAkuAgAKywKAAA1DABAQg8AVVgUAICE
					HgBGJAcIAAAFAAQAAHcBAADKCAAAKAAVFgUA
					CxUWBQB0jAUAgBoGABzIBgAgoQcAJLgIACss
					CgAANQwAQEIPAFVYFACAhB4AJiQDAAiAAuAB
					0ALgASADWAIABEACAAQAAwAF0AIABcADAAUA
					BAAGJA0BAQEJBAEBAQ4CAAAHBYIFgAABCQQB
					AgEOAgAABwWCBQACAQkEAQMBDgIAAAcFggUA
					BAEJBAEEAQ4CAAAHBYIFAAsBCQQBBQEOAgAA
					BwWCBQAMAQkEAQYBDgIAAAcFggWAEwEJBAEH
					AQ4CAAAHBYIFABQBCQQCAAD/AAAA
					</data>
					<key>index</key>
					<integer>0</integer>
					<key>languageID</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>bcdDevice</key>
			<integer>537</integer>
			<key>idProduct</key>
			<integer>34050</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>Built-in iSight3 - 0x319</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBHostMergeProperties</string>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>kUSBDescriptorOverride</key>
				<dict>
					<key>descriptor</key>
					<data>
					CQKCAgMBAID6CAsAAg4DAAIJBAAAAQ4BAAIN
					JAEAATMAAAk9AAEBEiQCAQECAAAAAAAAAAAD
					CgAACSQDAgEBAAMACyQFAwEAAAJ/FQAHBYED
					CAAGBSUDKAAJBAEAAA4CAAAOJAEBpwGCAAIC
					AAABABskBAEFWVVZMgAAEACAAACqADibcRAF
					AAAAAEYkBQEAoAB4AAAAdwEAAMoIAJYAABUW
					BQALFRYFAHSMBQCAGgYAHMgGACChBwAkuAgA
					KywKAAA1DABAQg8AVVgUAICEHgBGJAUCALAA
					kAAAAHcBAADKCADGAAAVFgUACxUWBQB0jAUA
					gBoGABzIBgAgoQcAJLgIACssCgAANQwAQEIP
					AFVYFACAhB4ARiQFAwBAAfAAAAB3AQAAyggA
					WAIAFRYFAAsVFgUAdIwFAIAaBgAcyAYAIKEH
					ACS4CAArLAoAADUMAEBCDwBVWBQAgIQeAEYk
					BQQAYAEgAQAAdwEAAMoIABgDABUWBQALFRYF
					AHSMBQCAGgYAHMgGACChBwAkuAgAKywKAAA1
					DABAQg8AVVgUAICEHgBGJAUFAIAC4AEAAHcB
					AADKCABgCQAVFgUACxUWBQB0jAUAgBoGABzI
					BgAgoQcAJLgIACssCgAANQwAQEIPAFVYFACA
					hB4AGiQDAAWgAHgAsACQAEAB8ABgASABgALg
					AQAGJA0BAQEJBAEBAQ4CAAAHBYIFgAABCQQB
					AgEOAgAABwWCBQACAQkEAQMBDgIAAAcFggUA
					BAEJBAEEAQ4CAAAHBYIFAAsBCQQBBQEOAgAA
					BwWCBQAMAQkEAQYBDgIAAAcFggWAEwEJBAEH
					AQ4CAAAHBYIFABQBCQQCAAD/AAAA
					</data>
					<key>index</key>
					<integer>0</integer>
					<key>languageID</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>bcdDevice</key>
			<integer>793</integer>
			<key>idProduct</key>
			<integer>34053</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>Built-in iSight5-0x419</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBHostMergeProperties</string>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>kUSBDescriptorOverride</key>
				<dict>
					<key>descriptor</key>
					<data>
					CQKCAgMBAID6CAsAAg4DAAIJBAAAAQ4BAAIN
					JAEAATMAAAk9AAEBEiQCAQECAAAAAAAAAAAD
					CgAACSQDAgEBAAMACyQFAwEAAAJ/FQAHBYED
					CAAGBSUDKAAJBAEAAA4CAAAOJAEBpwGCAAIC
					AAABABskBAEFWVVZMgAAEACAAACqADibcRAF
					AAAAAEYkBQEAoAB4AAAAdwEAAMoIAJYAABUW
					BQALFRYFAHSMBQCAGgYAHMgGACChBwAkuAgA
					KywKAAA1DABAQg8AVVgUAICEHgBGJAUCALAA
					kAAAAHcBAADKCADGAAAVFgUACxUWBQB0jAUA
					gBoGABzIBgAgoQcAJLgIACssCgAANQwAQEIP
					AFVYFACAhB4ARiQFAwBAAfAAAAB3AQAAyggA
					WAIAFRYFAAsVFgUAdIwFAIAaBgAcyAYAIKEH
					ACS4CAArLAoAADUMAEBCDwBVWBQAgIQeAEYk
					BQQAYAEgAQAAdwEAAMoIABgDABUWBQALFRYF
					AHSMBQCAGgYAHMgGACChBwAkuAgAKywKAAA1
					DABAQg8AVVgUAICEHgBGJAUFAIAC4AEAAHcB
					AADKCABgCQAVFgUACxUWBQB0jAUAgBoGABzI
					BgAgoQcAJLgIACssCgAANQwAQEIPAFVYFACA
					hB4AGiQDAAWgAHgAsACQAEAB8ABgASABgALg
					AQAGJA0BAQEJBAEBAQ4CAAAHBYIFgAABCQQB
					AgEOAgAABwWCBQACAQkEAQMBDgIAAAcFggUA
					BAEJBAEEAQ4CAAAHBYIFAAsBCQQBBQEOAgAA
					BwWCBQAMAQkEAQYBDgIAAAcFggWAEwEJBAEH
					AQ4CAAAHBYIFABQBCQQCAAD/AAAA
					</data>
					<key>index</key>
					<integer>0</integer>
					<key>languageID</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>bcdDevice</key>
			<integer>1049</integer>
			<key>idProduct</key>
			<integer>34055</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>DisplayiSight - 0x219</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBHostMergeProperties</string>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>kUSBDescriptorOverride</key>
				<dict>
					<key>descriptor</key>
					<data>
					CQJ2BQMBAID6CAsAAg4DAAIJBAAAAQ4BAAIN
					JAEAATMAAAk9AAEBEiQCAQECAAAAAAAAAAAD
					CgAACSQDAgEBAAMACyQFAwEAAAJ/FQAHBYED
					CAAGBSUDKAAJBAEAAA4CAAAPJAECmwSCAAIC
					AAABAAAbJAQBB1lVWTIAABAAgAAAqgA4m3EQ
					BQAAAABGJAUBAKAAeAAAAHcBAADKCACWAAAV
					FgUACxUWBQB0jAUAgBoGABzIBgAgoQcAJLgI
					ACssCgAANQwAQEIPAFVYFACAhB4ARiQFAgCw
					AJAAAAB3AQAAyggAxgAAFRYFAAsVFgUAdIwF
					AIAaBgAcyAYAIKEHACS4CAArLAoAADUMAEBC
					DwBVWBQAgIQeAEYkBQMAQAHwAAAAdwEAAMoI
					AFgCABUWBQALFRYFAHSMBQCAGgYAHMiAACCh
					BwAkuAgAKywKAAA1DABAQg8AVVgUAICEHgBG
					JAUEAGABIAEAAHcBAADKCAAYAwAVFgUACxUW
					BQB0jAUAgBoGABzIBgAgoQcAJLgIACssCgAA
					NQwAQEIPAFVYFACAhB4ARiQFBQCAAuABAAB3
					AQAAyggAYAkAFRYFAAsVFgUAdIwFAIAaBgAc
					yAYAIKEHACS4CAArLAoAADUMAEBCDwBVWBQA
					gIQeAD4kBQYA0ALgAQAAdwEAAMoIAIwKAIAa
					BgAJgBoGABzIBgAgoQcAJLgIACssCgAANQwA
					QEIPAFVYFACAhB4APiQFBwDAAkACAAB3AQAA
					yggAYAwAgBoGAAmAGgYAHMgGACChBwAkuAgA
					KywKAAA1DABAQg8AVVgUAICEHgAiJAMAB6AA
					eACwAJAAQAHwAGABIAGAAuAB0ALgAcACQAIA
					BiQNAQEBCyQGAggAAQAAAABKJAcBAIAC4AEA
					AHcBAADKCABgCQAVFgUADAuLAgAVFgUAdIwF
					AIAaBgAcyAYAIKEHACS4CAArLAoAADUMAEBC
					DwBVWBQAgIQeAEokBwIA0ALgAQAAdwEAAMoI
					AIwKABUWBQAMC4sCABUWBQB0jAUAgBoGABzI
					BgAgoQcAJLgIACssCgAANQwAQEIPAFVYFACA
					hB4ARiQHAwAgA1gCAAB3AQAAyggApg4AFRYF
					AAsVFgUAdIwFAIAaBgAcyAYAIKEHACS4CAAr
					LAoAADUMAEBCDwBVWBQAgIQeAEYkBwQAAARA
					AgAAdwEAAMoIAAASABUWBQALFRYFAHSMBQCA
					GgYAHMgGACChBwAkuAgAKywKAAA1DABAQg8A
					VVgUAICEHgBGJAcFAAAEAAMAAHcBAADKCAAA
					GAAVFgUACxUWBQB0jAUAgBoGABzIBgAgoQcA
					JLgIACssCgAANQwAQEIPAFVYFACAhB4ARiQH
					BgAABdACAAB3AQAAyggAIBwAFRYFAAsVFgUA
					dIwFAIAaBgAcyAYAIKEHACS4CAArLAoAADUM
					AEBCDwBVWBQAgIQeAEYkBwcAAAXAAwAAdwEA
					AMoIAIAlABUWBQALFRYFAHSMBQCAGgYAHMgG
					ACChBwAkuAgAKywKAAA1DABAQg8AVVgUAICE
					HgBGJAcIAAAFAAQAAHcBAADKCAAAKAAVFgUA
					CxUWBQB0jAUAgBoGABzIBgAgoQcAJLgIACss
					CgAANQwAQEIPAFVYFACAhB4AJiQDAAiAAuAB
					0ALgASADWAIABEACAAQAAwAF0AIABcADAAUA
					BAAGJA0BAQEJBAEBAQ4CAAAHBYIFgAABCQQB
					AgEOAgAABwWCBQACAQkEAQMBDgIAAAcFggUA
					BAEJBAEEAQ4CAAAHBYIFAAsBCQQBBQEOAgAA
					BwWCBQAMAQkEAQYBDgIAAAcFggWAEwEJBAEH
					AQ4CAAAHBYIFABQBCQQCAAD/AAAA
					</data>
					<key>index</key>
					<integer>0</integer>
					<key>languageID</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>bcdDevice</key>
			<integer>537</integer>
			<key>idProduct</key>
			<integer>34056</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>FaceTime Camera (Built-in) 34058</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBHostMergeProperties</string>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>kUSBDescriptorOverride</key>
				<dict>
					<key>descriptor</key>
					<data>
					NgNGAGEAYwBlAFQAaQBtAGUAIABDAGEAbQBl
					AHIAYQAgACgAQgB1AGkAbAB0AC0AaQBuACkA
					</data>
					<key>index</key>
					<string>UsbDescriptorOverrideProductStringIndex</string>
					<key>languageID</key>
					<integer>1033</integer>
				</dict>
			</dict>
			<key>idProduct</key>
			<integer>34058</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>FaceTime HD Camera-0x8510</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBHostMergeProperties</string>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>kUSBDescriptorOverride</key>
				<dict>
					<key>descriptor</key>
					<data>
					CQLkAgMBAID6CAsAAg4DAAIJBAAAAQ4BAAIN
					JAEAATMAAAk9AAEBEiQCAQECAAAAAAAAAAAD
					CgEACSQDAgEBAAMACyQFAwEAAAJ/FQAHBYED
					CAAGBSUDKAAJBAEAAA4CAAAPJAECCQKCAAIC
					AAABAAAbJAQBB1lVWTIAABAAgAAAqgA4m3EQ
					BQAAAAAqJAUBAKAAeAAAAHcBAADKCACWAABj
					FwUABGMXBQCAGgYAm1sGACssCgAqJAUCALAA
					kAAAAHcBAADKCADGAABjFwUABGMXBQCAGgYA
					m1sGACssCgAqJAUDAEAB8AAAAHcBAADKCABY
					AgBjFwUABGMXBQCAGgYAm1sGACssCgAqJAUE
					AGABIAEAAHcBAADKCAAYAwBjFwUABGMXBQCA
					GgYAm1sGACssCgAqJAUFAIAC4AEAAHcBAADK
					CABgCQBjFwUABGMXBQCAGgYAm1sGACssCgAq
					JAUGAOABaAEAAHcBAADKCABGBQBjFwUABGMX
					BQCAGgYAm1sGACssCgAeJAUHAAAF0AIAAHcB
					AADKCAAgHABAQg8AAUBCDwAeJAMABqAAeACw
					AJAAQAHwAGABIAGAAuABAAXQAgAGJA0BAQEL
					JAYCAwACAAAAACokBwEAwAMgAgAAdwEAAMoI
					APAPAGMXBQAEYxcFAIAaBgCbWwYAKywKACok
					BwIAAARAAgAAdwEAAMoIAAASAGMXBQAEYxcF
					AIAaBgCbWwYAKywKACokBwMAAAXQAgAAdwEA
					AMoIACAcAGMXBQAEYxcFAIAaBgCbWwYAKywK
					ABIkAwADwAMcAgAEQAIABdACAAYkDQEBAQkE
					AQEBDgIAAAcFggWAAAEJBAECAQ4CAAAHBYIF
					AAIBCQQBAwEOAgAABwWCBQAEAQkEAQQBDgIA
					AAcFggUACwEJBAEFAQ4CAAAHBYIFAAwBCQQB
					BgEOAgAABwWCBYATAQkEAQcBDgIAAAcFggUA
					FAEJBAIAAP8AAAA=
					</data>
					<key>index</key>
					<integer>0</integer>
					<key>languageID</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>bcdDevice</key>
			<integer>32805</integer>
			<key>idProduct</key>
			<integer>34064</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>Lightning Digital AV Adapter</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBHostMergeProperties</string>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>kUSBDescriptorOverride</key>
				<dict>
					<key>descriptor</key>
					<data>
					OgNMAGkAZwBoAHQAbgBpAG4AZwAgAEQAaQBn
					AGkAdABhAGwAIABBAFYAIABBAGQAYQBwAHQA
					ZQByAA==
					</data>
					<key>index</key>
					<string>UsbDescriptorOverrideProductStringIndex</string>
					<key>languageID</key>
					<integer>1033</integer>
				</dict>
			</dict>
			<key>idProduct</key>
			<integer>4781</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>Lightning VGA Adapter</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBHostMergeProperties</string>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>kUSBDescriptorOverride</key>
				<dict>
					<key>descriptor</key>
					<data>
					LANMAGkAZwBoAHQAbgBpAG4AZwAgAFYARwBB
					ACAAQQBkAGEAcAB0AGUAcgA=
					</data>
					<key>index</key>
					<string>UsbDescriptorOverrideProductStringIndex</string>
					<key>languageID</key>
					<integer>1033</integer>
				</dict>
			</dict>
			<key>idProduct</key>
			<integer>4782</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>Linksys USB3GIGV1</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBHostMergeProperties</string>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>kUSBHostDeviceEnableLPM</key>
				<false/>
			</dict>
			<key>idProductArray</key>
			<array>
				<integer>65</integer>
			</array>
			<key>idVendor</key>
			<integer>5041</integer>
		</dict>
		<key>MacBookPro11,1 Card Reader</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBHostMergeProperties</string>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>kUSBDescriptorOverride</key>
				<dict>
					<key>descriptor</key>
					<data>
					OANJAG4AdABlAHIAbgBhAGwAIABNAGUAbQBv
					AHIAeQAgAEMAYQByAGQAIABSAGUAYQBkAGUA
					cgA=
					</data>
					<key>index</key>
					<string>UsbDescriptorOverrideProductStringIndex</string>
					<key>languageID</key>
					<integer>1033</integer>
				</dict>
			</dict>
			<key>idProductArray</key>
			<array>
				<integer>33795</integer>
				<integer>33796</integer>
				<integer>33798</integer>
			</array>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>Moshi USB 10/100/1000 LAN</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBHostMergeProperties</string>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>kUSBHostDeviceEnableLPM</key>
				<false/>
			</dict>
			<key>idProductArray</key>
			<array>
				<integer>33107</integer>
			</array>
			<key>idVendor</key>
			<integer>3034</integer>
		</dict>
		<key>Patriot Memory</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBComposite</string>
			<key>IOClass</key>
			<string>IOUSBCompositeDriver</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>20992</integer>
			<key>idVendor</key>
			<integer>5118</integer>
		</dict>
		<key>SIXAXIS controller</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBHostMergeProperties</string>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>SIXAXIS compatibility</key>
				<true/>
			</dict>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>616</integer>
			<key>idVendor</key>
			<integer>1356</integer>
		</dict>
		<key>iPod</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBHostMergeProperties</string>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>kUSBResumeRecoveryTime</key>
				<integer>400</integer>
			</dict>
			<key>idProductArray</key>
			<array>
				<integer>4608</integer>
				<integer>4864</integer>
			</array>
			<key>idProductMask</key>
			<integer>65408</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>10.14</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2000-2017 Apple Inc. All rights reserved.</string>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.kpi.bsd</key>
		<string>16.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>16.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>16.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
