<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>16B2657</string>
	<key>CFBundleExecutable</key>
	<string>VoodooPS2Trackpad</string>
	<key>CFBundleGetInfoString</key>
	<string>6.0.0, Copyright Apple Computer, Inc. 2002-2003, mackerintel 2008, RehabMan 2012-2013, Dr Hurt 2016</string>
	<key>CFBundleIdentifier</key>
	<string>org.rehabman.voodoo.driver.PS2Trackpad</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Voodoo PS/2 Trackpad</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>6.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>6.0.0</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>8T61a</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>16A300</string>
	<key>DTSDKName</key>
	<string>macosx10.12</string>
	<key>DTXcode</key>
	<string>0810</string>
	<key>DTXcodeBuild</key>
	<string>8T61a</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>ALPS TouchPad</key>
		<dict>
			<key>ApplePreferenceCapability</key>
			<true/>
			<key>ApplePreferenceIdentifier</key>
			<string>com.apple.AppleMultitouchTrackpad</string>
			<key>CFBundleIdentifier</key>
			<string>org.rehabman.voodoo.driver.PS2Trackpad</string>
			<key>IOClass</key>
			<string>ALPS</string>
			<key>IOProbeScore</key>
			<integer>6000</integer>
			<key>IOProviderClass</key>
			<string>ApplePS2MouseDevice</string>
			<key>MT Built-in</key>
			<true/>
			<key>MTHIDDevice</key>
			<true/>
			<key>Platform Profile</key>
			<dict>
				<key>Default</key>
				<dict>
					<key>BogusDeltaThreshX</key>
					<integer>0</integer>
					<key>BogusDeltaThreshY</key>
					<integer>0</integer>
					<key>CenterX</key>
					<integer>3000</integer>
					<key>CenterY</key>
					<integer>2100</integer>
					<key>CircularScrollDivisor</key>
					<integer>0</integer>
					<key>CircularScrollTrigger</key>
					<integer>0</integer>
					<key>DisableDevice</key>
					<false/>
					<key>DisableLEDUpdating</key>
					<false/>
					<key>DivisorX</key>
					<integer>5</integer>
					<key>DivisorY</key>
					<integer>5</integer>
					<key>DoubleTapThresholdX</key>
					<integer>100</integer>
					<key>DoubleTapThresholdY</key>
					<integer>100</integer>
					<key>DragExitDelayTime</key>
					<integer>1000000000</integer>
					<key>DragLockTempMask</key>
					<integer>1048592</integer>
					<key>EdgeBottom</key>
					<integer>500</integer>
					<key>EdgeLeft</key>
					<integer>1700</integer>
					<key>EdgeRight</key>
					<integer>5200</integer>
					<key>EdgeTop</key>
					<integer>2940</integer>
					<key>FingerChangeIgnoreDeltas</key>
					<integer>3</integer>
					<key>FingerZ</key>
					<integer>1</integer>
					<key>HorizontalScrollDivisor</key>
					<integer>0</integer>
					<key>ImmediateClick</key>
					<false/>
					<key>MaxDragTime</key>
					<integer>180000000</integer>
					<key>MaxTapTime</key>
					<integer>130000000</integer>
					<key>MomentumScrollDivisor</key>
					<integer>100</integer>
					<key>MomentumScrollMultiplier</key>
					<integer>98</integer>
					<key>MomentumScrollSamplesMin</key>
					<integer>3</integer>
					<key>MomentumScrollThreshY</key>
					<integer>7</integer>
					<key>MomentumScrollTimer</key>
					<integer>10000000</integer>
					<key>MultiFingerHorizontalDivisor</key>
					<integer>5</integer>
					<key>MultiFingerVerticalDivisor</key>
					<integer>5</integer>
					<key>QuietTimeAfterTyping</key>
					<integer>500000000</integer>
					<key>Resolution</key>
					<integer>400</integer>
					<key>ScrollDeltaThreshX</key>
					<integer>0</integer>
					<key>ScrollDeltaThreshY</key>
					<integer>0</integer>
					<key>ScrollResolution</key>
					<integer>400</integer>
					<key>SmoothInput</key>
					<true/>
					<key>StickyHorizontalScrolling</key>
					<false/>
					<key>StickyMultiFingerScrolling</key>
					<false/>
					<key>StickyVerticalScrolling</key>
					<false/>
					<key>SwapDoubleTriple</key>
					<false/>
					<key>SwipeDeltaX</key>
					<integer>400</integer>
					<key>SwipeDeltaY</key>
					<integer>400</integer>
					<key>TapThresholdX</key>
					<integer>50</integer>
					<key>TapThresholdY</key>
					<integer>50</integer>
					<key>USBMouseStopsTrackpad</key>
					<integer>0</integer>
					<key>UnitsPerMMX</key>
					<integer>50</integer>
					<key>UnitsPerMMY</key>
					<integer>50</integer>
					<key>UnsmoothInput</key>
					<false/>
					<key>VerticalScrollDivisor</key>
					<integer>0</integer>
					<key>WakeDelay</key>
					<integer>1000</integer>
					<key>ZLimit</key>
					<integer>255</integer>
					<key>ZoneBottom</key>
					<integer>0</integer>
					<key>ZoneLeft</key>
					<integer>567</integer>
					<key>ZoneRight</key>
					<integer>1733</integer>
					<key>ZoneTop</key>
					<integer>99999</integer>
				</dict>
			</dict>
			<key>ProductID</key>
			<integer>547</integer>
			<key>SupportsGestureScrolling</key>
			<true/>
			<key>TrackpadEmbedded</key>
			<true/>
			<key>TrackpadFourFingerGestures</key>
			<false/>
			<key>TrackpadSecondaryClickCorners</key>
			<true/>
			<key>TrackpadThreeFingerDrag</key>
			<false/>
			<key>VendorID</key>
			<integer>1452</integer>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOHIDSystem</key>
		<string>1.0.0b1</string>
		<key>com.apple.kpi.iokit</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>9.0.0</string>
		<key>org.rehabman.voodoo.driver.PS2Controller</key>
		<string>2.8.15</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Console</string>
	<key>Source Code</key>
	<string>https://github.com/RehabMan/OS-X-Voodoo-PS2-Controller</string>
</dict>
</plist>
