<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Badruzeus</string>
	<key>Description</key>
	<string>Dark version of Beauty Clover theme with black and white UI, supports up to 1080p display resolution. Version: 1.1</string>
	<key>Theme</key>
	<dict>
		<key>Background</key>
		<dict>
			<key>Dark</key>
			<true/>
			<key>Path</key>
			<string>background.png</string>
			<key>Type</key>
			<string>Tile</string>
		</dict>
		<key>Badges</key>
		<dict>
			<key>Inline</key>
			<false/>
			<key>Scale</key>
			<integer>5</integer>
			<key>Show</key>
			<false/>
			<key>Swap</key>
			<true/>
		</dict>
		<key>Banner</key>
		<string>logo.png</string>
		<key>BootCampStyle</key>
		<false/>
		<key>Components</key>
		<dict>
			<key>Banner</key>
			<true/>
			<key>Functions</key>
			<true/>
			<key>Help</key>
			<true/>
			<key>Label</key>
			<true/>
			<key>MenuTitle</key>
			<true/>
			<key>MenuTitleImage</key>
			<true/>
			<key>Revision</key>
			<true/>
		</dict>
		<key>Font</key>
		<dict>
			<key>CharWidth</key>
			<integer>10</integer>
			<key>Path</key>
			<string>Font_Telegrama_16pt_White.png</string>
			<key>Proportional</key>
			<false/>
			<key>Type</key>
			<string>Load</string>
		</dict>
		<key>Selection</key>
		<dict>
			<key>Big</key>
			<string>selection_big.png</string>
			<key>ChangeNonSelectedGrey</key>
			<false/>
			<key>Color</key>
			<string>0x333333FF</string>
			<key>OnTop</key>
			<true/>
			<key>Small</key>
			<string>selection_small.png</string>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.1</string>
	<key>Year</key>
	<string>2017</string>
</dict>
</plist>
