<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<string>AppleIntelKBLGraphicsFramebufferInjector3e9x</string>
	<key>CFBundleIdentifier</key>
	<string>org.rehabman.injector.AppleIntelKBLGraphicsFramebuffer3e9x</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>org.rehabman.injector.AppleIntelKBLGraphicsFramebuffer3e9x</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>0.5.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>0.5.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AppleIntelFramebufferController</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleIntelKBLGraphicsFramebuffer</string>
			<key>Debug</key>
			<dict>
				<key>LogEnable</key>
				<true/>
				<key>LogHeader</key>
				<dict>
					<key>File</key>
					<false/>
					<key>Function</key>
					<true/>
					<key>Line</key>
					<false/>
					<key>LogLevel</key>
					<true/>
					<key>Module</key>
					<true/>
					<key>StackLevel</key>
					<false/>
					<key>Stamp</key>
					<false/>
					<key>Tag</key>
					<true/>
					<key>ThreadId</key>
					<false/>
				</dict>
				<key>LogLevel</key>
				<dict>
					<key>AUX</key>
					<integer>7</integer>
					<key>DEFAULT</key>
					<integer>31</integer>
					<key>DIAGS</key>
					<integer>31</integer>
					<key>DISPLAY</key>
					<integer>31</integer>
					<key>HDCP</key>
					<integer>7</integer>
					<key>LINK_TRAINING</key>
					<integer>31</integer>
					<key>METRICS</key>
					<integer>31</integer>
					<key>PANEL</key>
					<integer>7</integer>
					<key>PLANE</key>
					<integer>7</integer>
					<key>POWER</key>
					<integer>31</integer>
					<key>SCALER</key>
					<integer>7</integer>
					<key>SYSCTL</key>
					<integer>7</integer>
					<key>TRANSACTION</key>
					<integer>7</integer>
				</dict>
				<key>LogListener</key>
				<dict>
					<key>Printf</key>
					<dict/>
				</dict>
			</dict>
			<key>FBCControl</key>
			<dict>
				<key>Compression</key>
				<integer>1</integer>
			</dict>
			<key>FBMemControl</key>
			<integer>11</integer>
			<key>FeatureControl</key>
			<dict>
				<key>ASRDisable</key>
				<integer>0</integer>
				<key>CachedEDIDDisable</key>
				<integer>0</integer>
				<key>CoarsePowerGatingSelect</key>
				<integer>4</integer>
				<key>DPDownSpreadDisable</key>
				<integer>0</integer>
				<key>DPM</key>
				<integer>1</integer>
				<key>DisableApertureAccess</key>
				<integer>0</integer>
				<key>DisableInternalPanel</key>
				<integer>0</integer>
				<key>DynamicRingTables</key>
				<integer>0</integer>
				<key>EDPDownSpreadDisable</key>
				<integer>0</integer>
				<key>EdramSWModeInED</key>
				<integer>1</integer>
				<key>Enable8K</key>
				<integer>1</integer>
				<key>EnableDeepDisplay</key>
				<integer>1</integer>
				<key>EnablePlaneRotation</key>
				<integer>1</integer>
				<key>EnableTconScaler</key>
				<integer>1</integer>
				<key>FastDisplayDetectDisable</key>
				<integer>0</integer>
				<key>ForceAccelBacked</key>
				<integer>0</integer>
				<key>GFMPPFM</key>
				<integer>2</integer>
				<key>GPUInterruptHandling</key>
				<integer>1</integer>
				<key>Gamma</key>
				<integer>1</integer>
				<key>GammaAdjustDisable</key>
				<integer>0</integer>
				<key>GammaTestMode</key>
				<integer>0</integer>
				<key>IPCEnable</key>
				<integer>1</integer>
				<key>IgnorePanelTimings</key>
				<integer>0</integer>
				<key>MaximumSelfRefreshLevel</key>
				<integer>3</integer>
				<key>NV12Enable</key>
				<integer>1</integer>
				<key>OptimizeForTTNFAftersec</key>
				<integer>30</integer>
				<key>PPPM</key>
				<integer>1</integer>
				<key>PowerStates</key>
				<integer>1</integer>
				<key>RCxEIModeEnable</key>
				<integer>1</integer>
				<key>RenderStandby</key>
				<integer>1</integer>
				<key>SetRC6Voltage</key>
				<integer>0</integer>
				<key>SpreadON</key>
				<integer>1</integer>
				<key>SupportDynamicCDClk</key>
				<integer>1</integer>
				<key>SupportPSRwithExternalDisplay</key>
				<integer>1</integer>
				<key>TTNFBuffDistribution</key>
				<integer>1</integer>
				<key>UseProgrammedCoefficients</key>
				<integer>0</integer>
				<key>Watermarks</key>
				<integer>1</integer>
				<key>YTiling</key>
				<integer>1</integer>
				<key>transcapenable</key>
				<integer>1</integer>
			</dict>
			<key>IOClass</key>
			<string>AppleIntelFramebufferController</string>
			<key>IOMatchCategory</key>
			<string>IOFramebuffer</string>
			<key>IOPCIClassMatch</key>
			<string>0x03000000&amp;0xff000000</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x3e9b8086 0x3e928086 0x3e918086 </string>
			<key>IOProbeScore</key>
			<integer>80005</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>IOSourceVersion</key>
			<string>0.0.0.0.0</string>
			<key>PMTControl</key>
			<dict>
				<key>DisplayEngineCounting</key>
				<integer>0</integer>
			</dict>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2018 RehabMan, GPL v2, All Rights Reserved.</string>
</dict>
</plist>
