<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>14F27</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleIdentifier</key>
	<string>org.emlydinesh.driver.BluetoothDevBroadcomInjector</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>BluetoothDevBroadcomInjector</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>3.1.5</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>3.1.5</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>7B1005</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>15A278</string>
	<key>DTSDKName</key>
	<string>macosx10.11</string>
	<key>DTXcode</key>
	<string>0711</string>
	<key>DTXcodeBuild</key>
	<string>7B1005</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AppleBroadcomBTUSBController_0221</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>LMPLoggingEnabled</key>
			<false/>
			<key>idProduct</key>
			<integer>545</integer>
			<key>idVendor</key>
			<integer>2352</integer>
		</dict>
		<key>AppleBroadcomBTUSBController_0223</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>LMPLoggingEnabled</key>
			<false/>
			<key>idProduct</key>
			<integer>547</integer>
			<key>idVendor</key>
			<integer>2352</integer>
		</dict>
		<key>AppleBroadcomBTUSBController_065A</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>LMPLoggingEnabled</key>
			<false/>
			<key>idProduct</key>
			<integer>1626</integer>
			<key>idVendor</key>
			<integer>1293</integer>
		</dict>
		<key>AppleBroadcomBTUSBController_17CB</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>LMPLoggingEnabled</key>
			<false/>
			<key>idProduct</key>
			<integer>6091</integer>
			<key>idVendor</key>
			<integer>2821</integer>
		</dict>
		<key>AppleBroadcomBTUSBController_17CF</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>LMPLoggingEnabled</key>
			<false/>
			<key>idProduct</key>
			<integer>6095</integer>
			<key>idVendor</key>
			<integer>2821</integer>
		</dict>
		<key>AppleBroadcomBTUSBController_180A</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>LMPLoggingEnabled</key>
			<false/>
			<key>idProduct</key>
			<integer>6154</integer>
			<key>idVendor</key>
			<integer>2821</integer>
		</dict>
		<key>AppleBroadcomBTUSBController_200A</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>LMPLoggingEnabled</key>
			<false/>
			<key>idProduct</key>
			<integer>8202</integer>
			<key>idVendor</key>
			<integer>1226</integer>
		</dict>
		<key>AppleBroadcomBTUSBController_200B</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>LMPLoggingEnabled</key>
			<false/>
			<key>idProduct</key>
			<integer>8203</integer>
			<key>idVendor</key>
			<integer>1226</integer>
		</dict>
		<key>AppleBroadcomBTUSBController_200C</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>LMPLoggingEnabled</key>
			<false/>
			<key>idProduct</key>
			<integer>8204</integer>
			<key>idVendor</key>
			<integer>1226</integer>
		</dict>
		<key>AppleBroadcomBTUSBController_200F</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>LMPLoggingEnabled</key>
			<false/>
			<key>idProduct</key>
			<integer>8207</integer>
			<key>idVendor</key>
			<integer>1226</integer>
		</dict>
		<key>AppleBroadcomBTUSBController_216B</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>LMPLoggingEnabled</key>
			<false/>
			<key>idProduct</key>
			<integer>8555</integer>
			<key>idVendor</key>
			<integer>2652</integer>
		</dict>
		<key>AppleBroadcomBTUSBController_216E</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>LMPLoggingEnabled</key>
			<false/>
			<key>idProduct</key>
			<integer>8558</integer>
			<key>idVendor</key>
			<integer>2652</integer>
		</dict>
		<key>AppleBroadcomBTUSBController_216F</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>LMPLoggingEnabled</key>
			<false/>
			<key>idProduct</key>
			<integer>8559</integer>
			<key>idVendor</key>
			<integer>2652</integer>
		</dict>
		<key>AppleBroadcomBTUSBController_21DE</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>LMPLoggingEnabled</key>
			<false/>
			<key>idProduct</key>
			<integer>8670</integer>
			<key>idVendor</key>
			<integer>2652</integer>
		</dict>
		<key>AppleBroadcomBTUSBController_21E1</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>LMPLoggingEnabled</key>
			<false/>
			<key>idProduct</key>
			<integer>8673</integer>
			<key>idVendor</key>
			<integer>2652</integer>
		</dict>
		<key>AppleBroadcomBTUSBController_21E6</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>LMPLoggingEnabled</key>
			<false/>
			<key>idProduct</key>
			<integer>8678</integer>
			<key>idVendor</key>
			<integer>2652</integer>
		</dict>
		<key>AppleBroadcomBTUSBController_21E8</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>LMPLoggingEnabled</key>
			<false/>
			<key>idProduct</key>
			<integer>8680</integer>
			<key>idVendor</key>
			<integer>2652</integer>
		</dict>
		<key>AppleBroadcomBTUSBController_21FB</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>LMPLoggingEnabled</key>
			<false/>
			<key>idProduct</key>
			<integer>8699</integer>
			<key>idVendor</key>
			<integer>2652</integer>
		</dict>
		<key>AppleBroadcomBTUSBController_21FD</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>LMPLoggingEnabled</key>
			<false/>
			<key>idProduct</key>
			<integer>8701</integer>
			<key>idVendor</key>
			<integer>2652</integer>
		</dict>
		<key>AppleBroadcomBTUSBController_22BE</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>LMPLoggingEnabled</key>
			<false/>
			<key>idProduct</key>
			<integer>8894</integer>
			<key>idVendor</key>
			<integer>2652</integer>
		</dict>
		<key>AppleBroadcomBTUSBController_3404</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>LMPLoggingEnabled</key>
			<false/>
			<key>idProduct</key>
			<integer>13316</integer>
			<key>idVendor</key>
			<integer>5075</integer>
		</dict>
		<key>AppleBroadcomBTUSBController_3411</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>LMPLoggingEnabled</key>
			<false/>
			<key>idProduct</key>
			<integer>13329</integer>
			<key>idVendor</key>
			<integer>5075</integer>
		</dict>
		<key>AppleBroadcomBTUSBController_3413</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>LMPLoggingEnabled</key>
			<false/>
			<key>idProduct</key>
			<integer>13331</integer>
			<key>idVendor</key>
			<integer>5075</integer>
		</dict>
		<key>AppleBroadcomBTUSBController_3418</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>LMPLoggingEnabled</key>
			<false/>
			<key>idProduct</key>
			<integer>13336</integer>
			<key>idVendor</key>
			<integer>5075</integer>
		</dict>
		<key>AppleBroadcomBTUSBController_3435</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>LMPLoggingEnabled</key>
			<false/>
			<key>idProduct</key>
			<integer>13365</integer>
			<key>idVendor</key>
			<integer>5075</integer>
		</dict>
		<key>AppleBroadcomBTUSBController_3456</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>LMPLoggingEnabled</key>
			<false/>
			<key>idProduct</key>
			<integer>13398</integer>
			<key>idVendor</key>
			<integer>5075</integer>
		</dict>
		<key>AppleBroadcomBTUSBController_6417</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>LMPLoggingEnabled</key>
			<false/>
			<key>idProduct</key>
			<integer>25623</integer>
			<key>idVendor</key>
			<integer>2652</integer>
		</dict>
		<key>AppleBroadcomBTUSBController_8143</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>LMPLoggingEnabled</key>
			<false/>
			<key>idProduct</key>
			<integer>33091</integer>
			<key>idVendor</key>
			<integer>16700</integer>
		</dict>
		<key>AppleBroadcomBTUSBController_8197</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>LMPLoggingEnabled</key>
			<false/>
			<key>idProduct</key>
			<integer>33175</integer>
			<key>idVendor</key>
			<integer>16700</integer>
		</dict>
		<key>AppleBroadcomBTUSBController_E032</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>LMPLoggingEnabled</key>
			<false/>
			<key>idProduct</key>
			<integer>57394</integer>
			<key>idVendor</key>
			<integer>1161</integer>
		</dict>
		<key>AppleBroadcomBTUSBController_E079</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>LMPLoggingEnabled</key>
			<false/>
			<key>idProduct</key>
			<integer>57465</integer>
			<key>idVendor</key>
			<integer>1161</integer>
		</dict>
		<key>AppleBroadcomBTUSBController_E07A</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>LMPLoggingEnabled</key>
			<false/>
			<key>idProduct</key>
			<integer>57466</integer>
			<key>idVendor</key>
			<integer>1161</integer>
		</dict>
		<key>AppleBroadcomBTUSBController_E0A1</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>LMPLoggingEnabled</key>
			<false/>
			<key>idProduct</key>
			<integer>57505</integer>
			<key>idVendor</key>
			<integer>1161</integer>
		</dict>
		<key>Info- BCM - 4313-E032</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>USB Product Name</key>
				<string>Broadcom USB Bluetooth 4.0 Controller (BCM4313 WiFi/BT combo)</string>
			</dict>
			<key>idProduct</key>
			<integer>57394</integer>
			<key>idVendor</key>
			<integer>1161</integer>
		</dict>
		<key>Info- BCM - AZWave-4352-3418</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>USB Product Name</key>
				<string>Broadcom USB Bluetooth 4.0 Controller (AzureWave 4352 WiFi/BT combo)</string>
			</dict>
			<key>idProduct</key>
			<integer>13336</integer>
			<key>idVendor</key>
			<integer>5075</integer>
		</dict>
		<key>Info- BCM - AZWave-4352-3435</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>USB Product Name</key>
				<string>Broadcom USB Bluetooth 4.0 Controller (AzureWave 4352 WiFi/BT combo)</string>
			</dict>
			<key>idProduct</key>
			<integer>13365</integer>
			<key>idVendor</key>
			<integer>5075</integer>
		</dict>
		<key>Info- BCM - AZWave-4352-3456</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>USB Product Name</key>
				<string>Broadcom USB Bluetooth 4.0 Controller (AzureWave 4352 WiFi/BT combo)</string>
			</dict>
			<key>idProduct</key>
			<integer>13398</integer>
			<key>idVendor</key>
			<integer>5075</integer>
		</dict>
		<key>Info- BCM - AZWave-4352HMB-3404</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>USB Product Name</key>
				<string>Broadcom USB Bluetooth 4.0 Controller (AzureWave CE123H 4352 WiFi/BT combo)</string>
				<key>idProduct</key>
				<integer>13316</integer>
				<key>idVendor</key>
				<integer>5075</integer>
			</dict>
			<key>idProduct</key>
			<integer>13316</integer>
			<key>idVendor</key>
			<integer>5075</integer>
		</dict>
		<key>Info- BCM - AZWave-4360-180A</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>USB Product Name</key>
				<string>Broadcom USB Bluetooth 4.0 Controller (Azurewave 4360 WiFi/BT combo)</string>
			</dict>
			<key>idProduct</key>
			<integer>6154</integer>
			<key>idVendor</key>
			<integer>2821</integer>
		</dict>
		<key>Info- BCM - AZWave-4360-3413</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>USB Product Name</key>
				<string>Broadcom USB Bluetooth 4.0 Controller (Azurewave 4360 WiFi/BT combo)</string>
			</dict>
			<key>idProduct</key>
			<integer>13331</integer>
			<key>idVendor</key>
			<integer>5075</integer>
		</dict>
		<key>Info- BCM - Acer-LiteOn-4352-200F</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>USB Product Name</key>
				<string>Broadcom USB Bluetooth 4.0 Controller (Acer LiteOn 4352 WiFi/BT combo)</string>
			</dict>
			<key>idProduct</key>
			<integer>8207</integer>
			<key>idVendor</key>
			<integer>1226</integer>
		</dict>
		<key>Info- BCM - Asus-4352-17CF</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>USB Product Name</key>
				<string>Broadcom USB Bluetooth 4.0 Controller (Asus 4352 WiFi/BT combo)</string>
			</dict>
			<key>idProduct</key>
			<integer>6095</integer>
			<key>idVendor</key>
			<integer>2821</integer>
		</dict>
		<key>Info- BCM - Asus-BT400-USB-17CB</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>USB Product Name</key>
				<string>Broadcom USB Bluetooth 4.0 Controller (Asus BT-400 USB)</string>
			</dict>
			<key>idProduct</key>
			<integer>6091</integer>
			<key>idVendor</key>
			<integer>2821</integer>
		</dict>
		<key>Info- BCM - Belkin-USB-065A</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>USB Product Name</key>
				<string>Broadcom USB Bluetooth 4.0 Controller (Belkin USB)</string>
			</dict>
			<key>idProduct</key>
			<integer>1626</integer>
			<key>idVendor</key>
			<integer>1293</integer>
		</dict>
		<key>Info- BCM - Dell-AW-BCM4352-3411</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>USB Product Name</key>
				<string>Broadcom USB Bluetooth 4.0 Controller (Dell Alienware 4352 WiFi/BT combo)</string>
			</dict>
			<key>idProduct</key>
			<integer>13329</integer>
			<key>idVendor</key>
			<integer>5075</integer>
		</dict>
		<key>Info- BCM - Dell-DW1550-8143</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>USB Product Name</key>
				<string>Broadcom USB Bluetooth 4.0 Controller (Dell DW1550 4352 WiFi/BT combo)</string>
			</dict>
			<key>idProduct</key>
			<integer>33091</integer>
			<key>idVendor</key>
			<integer>16700</integer>
		</dict>
		<key>Info- BCM - Dell-DW1560-NGFF-216F</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>USB Product Name</key>
				<string>Broadcom USB Bluetooth 4.0 Controller (Dell DW1560 4352 WiFi/BT combo NGFF)</string>
			</dict>
			<key>idProduct</key>
			<integer>8559</integer>
			<key>idVendor</key>
			<integer>2652</integer>
		</dict>
		<key>Info- BCM - Dell-DW380-8197</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>USB Product Name</key>
				<string>Broadcom USB Bluetooth 4.0 Controller (Dell DW380 BT)</string>
			</dict>
			<key>idProduct</key>
			<integer>33175</integer>
			<key>idVendor</key>
			<integer>16700</integer>
		</dict>
		<key>Info- BCM - Dongle-USB-21E8</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>USB Product Name</key>
				<string>Broadcom USB Bluetooth 4.0 Controller (USB Dongles like Delock, IOGear etc.,)</string>
			</dict>
			<key>idProduct</key>
			<integer>8680</integer>
			<key>idVendor</key>
			<integer>2652</integer>
		</dict>
		<key>Info- BCM - Generic-4352z-21FD</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>USB Product Name</key>
				<string>Broadcom USB Bluetooth 4.0 Controller (Generic 4352z WiFi/BT combo)</string>
			</dict>
			<key>idProduct</key>
			<integer>8701</integer>
			<key>idVendor</key>
			<integer>2652</integer>
		</dict>
		<key>Info- BCM - HP-43162-NGFF-216E</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>USB Product Name</key>
				<string>Broadcom USB Bluetooth 4.0 Controller (HP 43162 WiFi/BT combo NGFF)</string>
			</dict>
			<key>idProduct</key>
			<integer>8558</integer>
			<key>idVendor</key>
			<integer>2652</integer>
		</dict>
		<key>Info- BCM - HP-4352-21FB</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>USB Product Name</key>
				<string>Broadcom USB Bluetooth 4.0 Controller (HP Supra 4352 WiFi/BT combo)</string>
			</dict>
			<key>idProduct</key>
			<integer>8699</integer>
			<key>idVendor</key>
			<integer>2652</integer>
		</dict>
		<key>Info- BCM - HP-4352z-NGFF-216B</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>USB Product Name</key>
				<string>Broadcom USB Bluetooth 4.0 Controller (HP Rapture 4352 WiFi/BT combo NGFF)</string>
			</dict>
			<key>idProduct</key>
			<integer>8555</integer>
			<key>idVendor</key>
			<integer>2652</integer>
		</dict>
		<key>Info- BCM - HP-EliteNB-BT-21E1</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>USB Product Name</key>
				<string>Broadcom USB Bluetooth 4.0 Controller (HP Elite Notebook BT)</string>
			</dict>
			<key>idProduct</key>
			<integer>8673</integer>
			<key>idVendor</key>
			<integer>2652</integer>
		</dict>
		<key>Info- BCM - Lenovo-43162-NGFF-E079</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>USB Product Name</key>
				<string>Broadcom USB Bluetooth 4.0 Controller (Lenovo 43162 WiFi/BT combo NGFF)</string>
			</dict>
			<key>idProduct</key>
			<integer>57465</integer>
			<key>idVendor</key>
			<integer>1161</integer>
		</dict>
		<key>Info- BCM - Lenovo-4352-NGFF-E07A</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>USB Product Name</key>
				<string>Broadcom USB Bluetooth 4.0 Controller (Lenovo 4352 WiFi/BT combo NGFF)</string>
			</dict>
			<key>idProduct</key>
			<integer>57466</integer>
			<key>idVendor</key>
			<integer>1161</integer>
		</dict>
		<key>Info- BCM - Lenovo-43602-NGFF-E0A1</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>USB Product Name</key>
				<string>Broadcom USB Bluetooth 4.0 Controller (Lenovo 43602 WiFi/BT combo NGFF)</string>
			</dict>
			<key>idProduct</key>
			<integer>57505</integer>
			<key>idVendor</key>
			<integer>1161</integer>
		</dict>
		<key>Info- BCM - Lenovo-ThinkPadNB-BT-21E6</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>USB Product Name</key>
				<string>Broadcom USB Bluetooth 4.0 Controller (Lenovo ThinkPad Notebook BT)</string>
			</dict>
			<key>idProduct</key>
			<integer>8678</integer>
			<key>idVendor</key>
			<integer>2652</integer>
		</dict>
		<key>Info- BCM - LiteOn-4352-200A</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>USB Product Name</key>
				<string>Broadcom USB Bluetooth 4.0 Controller (LiteOn 4352 WiFi/BT combo)</string>
			</dict>
			<key>idProduct</key>
			<integer>8202</integer>
			<key>idVendor</key>
			<integer>1226</integer>
		</dict>
		<key>Info- BCM - LiteOn-4352-200B</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>USB Product Name</key>
				<string>Broadcom USB Bluetooth 4.0 Controller (LiteOn 4352 WiFi/BT combo)</string>
			</dict>
			<key>idProduct</key>
			<integer>8203</integer>
			<key>idVendor</key>
			<integer>1226</integer>
		</dict>
		<key>Info- BCM - LiteOn-4352-200C</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>USB Product Name</key>
				<string>Broadcom USB Bluetooth 4.0 Controller (LiteOn 4352 WiFi/BT combo)</string>
			</dict>
			<key>idProduct</key>
			<integer>8204</integer>
			<key>idVendor</key>
			<integer>1226</integer>
		</dict>
		<key>Info- BCM - Some-4352-21DE</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>USB Product Name</key>
				<string>Broadcom USB Bluetooth 4.0 Controller (Some 4352 WiFi/BT combo)</string>
			</dict>
			<key>idProduct</key>
			<integer>8670</integer>
			<key>idVendor</key>
			<integer>2652</integer>
		</dict>
		<key>Info- BCM - Toshiba-4352-0221</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>USB Product Name</key>
				<string>Broadcom USB Bluetooth 4.0 Controller (Toshiba 4352 WiFi/BT combo)</string>
			</dict>
			<key>idProduct</key>
			<integer>545</integer>
			<key>idVendor</key>
			<integer>2352</integer>
		</dict>
		<key>Info- BCM - Toshiba-4352-NGFF-0223</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>USB Product Name</key>
				<string>Broadcom USB Bluetooth 4.0 Controller (Toshiba 4352 WiFi/BT combo NGFF)</string>
			</dict>
			<key>idProduct</key>
			<integer>547</integer>
			<key>idVendor</key>
			<integer>2352</integer>
		</dict>
		<key>Info- BCM - Unknown-22BE</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>USB Product Name</key>
				<string>Broadcom USB Bluetooth 4.0 Controller (BCM4352/4360 WiFi/BT combo)</string>
			</dict>
			<key>idProduct</key>
			<integer>8894</integer>
			<key>idVendor</key>
			<integer>2652</integer>
		</dict>
		<key>Info- BCM - Zebra-4352-6417</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>USB Product Name</key>
				<string>Broadcom USB Bluetooth 4.0 Controller (Zebra BCM4352 WiFi/BT combo)</string>
			</dict>
			<key>idProduct</key>
			<integer>25623</integer>
			<key>idVendor</key>
			<integer>2652</integer>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © EMlyDinEsH (mg-dinesh@live.com) 2012-2016. All rights reserved.</string>
	<key>OSBundleRequired</key>
	<string>Safe Boot</string>
</dict>
</plist>
