<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>#Comment-SortedOrder</key>
		<string>SortedOrder may be required if you have patched SSDTs in ACPI/patched</string>
		<key>#SortedOrder</key>
		<array>
			<string>SSDT.aml</string>
			<string>SSDT-0.aml</string>
			<string>SSDT-1.aml</string>
			<string>SSDT-2.aml</string>
			<string>SSDT-3.aml</string>
			<string>SSDT-4.aml</string>
			<string>SSDT-5.aml</string>
			<string>SSDT-6.aml</string>
			<string>SSDT-7.aml</string>
			<string>SSDT-8.aml</string>
			<string>SSDT-9.aml</string>
			<string>SSDT-10.aml</string>
			<string>SSDT-11.aml</string>
			<string>SSDT-12.aml</string>
			<string>SSDT-13.aml</string>
			<string>SSDT-14.aml</string>
			<string>SSDT-15.aml</string>
			<string>SSDT-16.aml</string>
			<string>SSDT-17.aml</string>
			<string>SSDT-18.aml</string>
			<string>SSDT-19.aml</string>
			<string>SSDT-XOSI.aml</string>
			<string>SSDT-LPC.aml</string>
			<string>SSDT-UIAC.aml</string>
			<string>SSDT-PNLF.aml</string>
		</array>
		<key>AutoMerge</key>
		<true/>
		<key>DSDT</key>
		<dict>
			<key>Fixes</key>
			<dict>
				<key>#Comment-IRQ Fix</key>
				<string>The following fixes may be needed for onboard audio/USB/etc</string>
				<key>FIX_RTC_20000</key>
				<false/>
				<key>FIX_TMR_40000</key>
				<false/>
				<key>FixHPET_0010</key>
				<false/>
				<key>FixHeaders_20000000</key>
				<true/>
				<key>FixIPIC_0040</key>
				<false/>
				<key>FixRegions_10000000</key>
				<false/>
				<key>NewWay_80000000</key>
				<true/>
			</dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>change OSID to XSID (to avoid match against _OSI XOSI patch)</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					T1NJRA==
					</data>
					<key>Replace</key>
					<data>
					WFNJRA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change _OSI to XOSI</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X09TSQ==
					</data>
					<key>Replace</key>
					<data>
					WE9TSQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change _DSM to XDSM</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X0RTTQ==
					</data>
					<key>Replace</key>
					<data>
					WERTTQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change EC0 to EC</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					RUMwXw==
					</data>
					<key>Replace</key>
					<data>
					RUNfXw==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change H_EC to EC</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					SF9FQw==
					</data>
					<key>Replace</key>
					<data>
					RUNfXw==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change EHC1 to EH01</string>
					<key>Find</key>
					<data>
					RUhDMQ==
					</data>
					<key>Replace</key>
					<data>
					RUgwMQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change EHC2 to EH02</string>
					<key>Find</key>
					<data>
					RUhDMg==
					</data>
					<key>Replace</key>
					<data>
					RUgwMg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change GFX0 to IGPU</string>
					<key>Find</key>
					<data>
					R0ZYMA==
					</data>
					<key>Replace</key>
					<data>
					SUdQVQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change PCI0.VID to IGPU #1 (Thinkpad)</string>
					<key>Find</key>
					<data>
					UENJMFZJRF8=
					</data>
					<key>Replace</key>
					<data>
					UENJMElHUFU=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change PCI0.VID to IGPU #2 (Thinkpad)</string>
					<key>Find</key>
					<data>
					VklEXwhfQURSDAAAAgA=
					</data>
					<key>Replace</key>
					<data>
					SUdQVQhfQURSDAAAAgA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change B0D3 to HDAU</string>
					<key>Find</key>
					<data>
					QjBEMw==
					</data>
					<key>Replace</key>
					<data>
					SERBVQ==
					</data>
				</dict>
			</array>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>#MCFG</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
		</array>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<false/>
			<key>Generate</key>
			<dict>
				<key>PluginType</key>
				<true/>
			</dict>
			<key>NoDynamicExtract</key>
			<true/>
			<key>NoOemTableId</key>
			<true/>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>kext-dev-mode=1 dart=0 nv_disable=1</string>
		<key>DefaultVolume</key>
		<string>LastBootedVolume</string>
		<key>NeverHibernate</key>
		<true/>
		<key>Secure</key>
		<false/>
		<key>Timeout</key>
		<integer>5</integer>
		<key>XMPDetection</key>
		<false/>
	</dict>
	<key>Devices</key>
	<dict>
		<key>#AddProperties</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>hda-gfx=onboard-1 for HDMI audio</string>
				<key>Device</key>
				<string>IntelGFX</string>
				<key>Key</key>
				<string>hda-gfx</string>
				<key>Value</key>
				<data>
				b25ib2FyZC0xAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>hda-gfx=onboard-1 for HDMI audio</string>
				<key>Device</key>
				<string>HDA</string>
				<key>Key</key>
				<string>hda-gfx</string>
				<key>Value</key>
				<data>
				b25ib2FyZC0xAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>layout-id=3</string>
				<key>Device</key>
				<string>HDA</string>
				<key>Key</key>
				<string>layout-id</string>
				<key>Value</key>
				<data>
				AwAAAA==
				</data>
			</dict>
			<dict>
				<key>Device</key>
				<string>HDA</string>
				<key>Key</key>
				<string>PinConfigurations</string>
				<key>Value</key>
				<data>
				</data>
			</dict>
		</array>
		<key>AddProperties</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Inject "name" as (data)"#display" to disable graphics drivers on NVidia</string>
				<key>Device</key>
				<string>NVidia</string>
				<key>Key</key>
				<string>name</string>
				<key>Value</key>
				<data>
				I2Rpc3BsYXkA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Inject "IOName" as "#display" to disable graphics drivers on NVidia</string>
				<key>Device</key>
				<string>NVidia</string>
				<key>Key</key>
				<string>IOName</string>
				<key>Value</key>
				<string>#display</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Inject bogus class-code to prevent graphics drivers loading for NVidia</string>
				<key>Device</key>
				<string>NVidia</string>
				<key>Key</key>
				<string>class-code</string>
				<key>Value</key>
				<data>
				/////w==
				</data>
			</dict>
		</array>
		<key>Audio</key>
		<dict>
			<key>Inject</key>
			<integer>0</integer>
		</dict>
		<key>USB</key>
		<dict>
			<key>AddClockID</key>
			<true/>
			<key>FixOwnership</key>
			<true/>
			<key>Inject</key>
			<true/>
		</dict>
		<key>UseIntelHDMI</key>
		<false/>
	</dict>
	<key>DisableDrivers</key>
	<array>
		<string>VBoxHfs</string>
	</array>
	<key>GUI</key>
	<dict>
		<key>#ScreenResolution</key>
		<string>1920x1080</string>
		<key>Custom</key>
		<dict>
			<key>Entries</key>
			<array>
				<dict>
					<key>Hidden</key>
					<false/>
					<key>Type</key>
					<string>OSXRecovery</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Windows</string>
					<key>Type</key>
					<string>Windows</string>
				</dict>
			</array>
		</dict>
		<key>Hide</key>
		<array>
			<string>Preboot</string>
		</array>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<false/>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Linux</key>
			<true/>
			<key>Tool</key>
			<true/>
		</dict>
		<key>Theme</key>
		<string>BGM</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<true/>
			<key>NVidia</key>
			<true/>
		</dict>
		<key>InjectEDID</key>
		<false/>
		<key>ig-platform-id</key>
		<string>0x16260006</string>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleRTC</key>
		<true/>
		<key>AsusAICPUPM</key>
		<true/>
		<key>DellSMBIOSPatch</key>
		<false/>
		<key>ForceKextsToLoad</key>
		<array>
			<string>\System\Library\Extensions\IONetworkingFamily.kext</string>
		</array>
		<key>KernelLapic</key>
		<true/>
		<key>KernelPm</key>
		<true/>
		<key>KernelToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Disable panic kext logging on 10.13 Debug kernel</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				sABMi1Xw
				</data>
				<key>MatchOS</key>
				<string>10.13</string>
				<key>Replace</key>
				<data>
				SIPEQF3D
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Disable panic kext logging on 10.13 Release kernel</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				igKEwHRE
				</data>
				<key>MatchOS</key>
				<string>10.13</string>
				<key>Replace</key>
				<data>
				igKEwOtE
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>MSR 0xE2 _xcpm_idle instant reboot(c) Pike R. Alpha</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				ILniAAAADzA=
				</data>
				<key>Replace</key>
				<data>
				ILniAAAAkJA=
				</data>
			</dict>
		</array>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Change 15 port limit to 24 in XHCI kext 10.13</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				g32MEA==
				</data>
				<key>Name</key>
				<string>AppleUSBXHCIPCI</string>
				<key>Replace</key>
				<data>
				g32MGw==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>0x16260006,0x16260004/etc, 32MB BIOS, 19MB framebuffer, 9MB cursor bytes (credit RehabMan)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AAAgAgAAUAE=
				</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelBDWGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>
				AAAwAQAAkAA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio, port 0105, 0x16060000 0x160e0000 0x16160000 0x161e0000 0x16260000 0x162b0000 0x16220000</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				AQUJAAQAAAAEAAAA
				</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelBDWGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>
				AQUJAAAIAACCAAAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio, port 0204, 0x16060000 0x160e0000 0x16160000 0x161e0000 0x16260000 0x162b0000 0x16220000</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				AgQJAAAIAACCAAAA
				</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelBDWGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>
				AgQJAAAIAACCAAAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio, port 0105, 0x160e0001 0x161e0001</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				AQUJAAAEAAABEAAA
				</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelBDWGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>
				AQUJAAAIAACCAAAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio, port 0105, 0x16060002 0x16060002 0x16160002 0x16260002 0x16220002 0x162b0002 0x162b0004 0x16260004 0x16220007 0x162b0008 0x16260008</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				AQUJAAAEAAAHBQAA
				</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelBDWGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>
				AQUJAAAIAACCAAAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio, port 0204, 0x16060002 0x16060002 0x16160002 0x16260002 0x16220002 0x162b0002 0x162b0004 0x16260004 0x16220007 0x162b0008 0x16260008</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				AgQJAAAEAAAHBQAA
				</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelBDWGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>
				AgQJAAAIAACCAAAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio, port 0204, 0x16060002 0x16060002 0x16160002 0x16260002 0x16220002 0x162b0002 0x162b0004 0x16260004 0x16220007 0x162b0008 0x16260008</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				AgQKAAAEAAAHBQAA
				</data>
				<key>MatchOS</key>
				<string>10.11.6,10.12.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelBDWGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>
				AgQKAAAIAACCAAAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio, port 0105, 0x16120003 0x16120005 0x16120006 0x16260006</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				AQULAAAEAAAHBQAA
				</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelBDWGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>
				AQULAAAIAACCAAAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio, port 0204, 0x16120003 0x16120005 0x16120006 0x16260006</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				AgQLAAAEAAAHBQAA
				</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelBDWGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>
				AgQLAAAIAACCAAAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio, port 0306, 0x16220007</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				AwYIAAAEAAARAAAA
				</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelBDWGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>
				AwYIAAAIAACCAAAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio, port 0204, 0x160e0001 0x161e0001 (1 of 2)</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				AQAeFgECAgIAACACAABQAQ==
				</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelBDWGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>
				AQAeFgEDAwMAACACAABQAQ==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio, port 0204, 0x160e0001 0x161e0001 (2 of 2)</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				/wAAAAEAAABAAAAAAAA=
				</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelBDWGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>
				AgQJAAAIAACCAAAA/wA=
				</data>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>#ProductName-MacBook8</key>
		<string>MacBook8,1</string>
		<key>#ProductName-MacBookAir7</key>
		<string>MacBookAir7,1</string>
		<key>#ProductName-MacBookPro12</key>
		<string>MacBookPro12,1</string>
		<key>ProductName</key>
		<string>MacBookAir6,2</string>
		<key>ProductName-Comment</key>
		<string>Using Haswell MacBookAir6,2 until Clover has support for Broadwell identifiers</string>
		<key>Trust</key>
		<true/>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>#BacklightLevel</key>
		<integer>0</integer>
		<key>InjectKexts</key>
		<string>Detect</string>
	</dict>
</dict>
</plist>
