<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>com.micky1979_and _insanelymac.com</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AHCI Device Injector</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>ASMedia ASM1061</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAHCIPort</string>
			<key>Chipset Name</key>
			<string>ASM1061 SATA IDE Controller</string>
			<key>IOClass</key>
			<string>AppleAHCI</string>
			<key>IOPCIClassMatch</key>
			<string>0x01060100&amp;0xffffff00</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x06111b21</string>
			<key>IOProbeScore</key>
			<integer>15000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Vendor Name</key>
			<string>ASMedia</string>
		</dict>
		<key>ASMedia ASM1062</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAHCIPort</string>
			<key>Chipset Name</key>
			<string>ASM1062 SATA III Controller</string>
			<key>IOClass</key>
			<string>AppleAHCI</string>
			<key>IOPCIClassMatch</key>
			<string>0x01060100&amp;0xffffff00</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x06121b21</string>
			<key>IOProbeScore</key>
			<integer>15000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Vendor Name</key>
			<string>ASMedia</string>
		</dict>
		<key>AppleAHCIDiskDriver</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOAHCIBlockStorage</string>
			<key>IOClass</key>
			<string>AppleAHCIDiskDriver</string>
			<key>IOProbeScore</key>
			<integer>6800</integer>
			<key>IOProviderClass</key>
			<string>IOAHCIDevice</string>
			<key>Protocol Characteristics</key>
			<dict>
				<key>Physical Interconnect</key>
				<string>SATA</string>
				<key>Physical Interconnect Location</key>
				<string>Internal</string>
			</dict>
		</dict>
		<key>DH89xxCC AHCI</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAHCIPort</string>
			<key>Chipset Name</key>
			<string>DH89xxCC 4 Port SATA AHCI Controller</string>
			<key>IOClass</key>
			<string>AppleAHCI</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x23238086</string>
			<key>IOProbeScore</key>
			<integer>2000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Vendor Name</key>
			<string>Intel</string>
		</dict>
		<key>GenericAHCI</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAHCIPort</string>
			<key>Chipset Name</key>
			<string>SATA AHCI Standard Controller(Generic)</string>
			<key>IOClass</key>
			<string>AppleAHCI</string>
			<key>IOPCIClassMatch</key>
			<string>0x01060100&amp;0xffffff00</string>
			<key>IOProbeScore</key>
			<integer>800</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Vendor Name</key>
			<string>Manufacturer Unknown</string>
		</dict>
		<key>ICH10AHCI</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAHCIPort</string>
			<key>Chipset Name</key>
			<string>ICH10 SATA AHCI Controller</string>
			<key>IOClass</key>
			<string>AppleAHCI</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x3A028086</string>
			<key>IOProbeScore</key>
			<integer>2000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Vendor Name</key>
			<string>Intel</string>
		</dict>
		<key>ICH10RAHCI</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAHCIPort</string>
			<key>Chipset Name</key>
			<string>ICH10 SATA AHCI Controller</string>
			<key>IOClass</key>
			<string>AppleAHCI</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x3a228086</string>
			<key>IOProbeScore</key>
			<integer>2000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Vendor Name</key>
			<string>Intel</string>
		</dict>
		<key>ICH10RAID</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAHCIPort</string>
			<key>Chipset Name</key>
			<string>ICH10 SATA RAID Controller</string>
			<key>IOClass</key>
			<string>AppleAHCI</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x3A058086</string>
			<key>IOProbeScore</key>
			<integer>2000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Vendor Name</key>
			<string>Intel</string>
		</dict>
		<key>ICH10RRAID</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAHCIPort</string>
			<key>Chipset Name</key>
			<string>ICH10-R SATA RAID Controller</string>
			<key>IOClass</key>
			<string>AppleAHCI</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x3A258086</string>
			<key>IOProbeScore</key>
			<integer>2000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Vendor Name</key>
			<string>Intel</string>
		</dict>
		<key>ICH6 ESB2 AHCI</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAHCIPort</string>
			<key>Chipset Name</key>
			<string>631xESB/632xESB SATA AHCI Controller</string>
			<key>IOClass</key>
			<string>AppleAHCI</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x26818086</string>
			<key>IOProbeScore</key>
			<integer>2000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Vendor Name</key>
			<string>Intel</string>
		</dict>
		<key>ICH6 ESB2 RAID</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAHCIPort</string>
			<key>Chipset Name</key>
			<string>631xESB/632xESB SATA RAID Controller</string>
			<key>IOClass</key>
			<string>AppleAHCI</string>
			<key>IONameMatch</key>
			<array>
				<string>pci8086,2682</string>
				<string>pci8086,2683</string>
			</array>
			<key>IOProbeScore</key>
			<integer>2000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Vendor Name</key>
			<string>Intel</string>
		</dict>
		<key>ICH7MAHCI</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAHCIPort</string>
			<key>Chipset Name</key>
			<string>ICH7M SATA AHCI Controller</string>
			<key>IOClass</key>
			<string>AppleAHCI</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x27c58086</string>
			<key>IOProbeScore</key>
			<integer>2000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Vendor Name</key>
			<string>Intel</string>
		</dict>
		<key>ICH7MRAID</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAHCIPort</string>
			<key>Chipset Name</key>
			<string>ICH7-M DH SATA RAID Controller</string>
			<key>IOClass</key>
			<string>AppleAHCI</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x27c68086</string>
			<key>IOProbeScore</key>
			<integer>2000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Vendor Name</key>
			<string>Intel</string>
		</dict>
		<key>ICH7RAHCI</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAHCIPort</string>
			<key>Chipset Name</key>
			<string>ICH7R SATA AHCI Controller</string>
			<key>IOClass</key>
			<string>AppleAHCI</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x27c18086</string>
			<key>IOProbeScore</key>
			<integer>2000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Vendor Name</key>
			<string>Intel</string>
		</dict>
		<key>ICH7RRAID</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAHCIPort</string>
			<key>Chipset Name</key>
			<string>ICH7-R SATA RAID Controller</string>
			<key>IOClass</key>
			<string>AppleAHCI</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x27c38086</string>
			<key>IOProbeScore</key>
			<integer>2000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Vendor Name</key>
			<string>Intel</string>
		</dict>
		<key>ICH8AHCI</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAHCIPort</string>
			<key>Chipset Name</key>
			<string>ICH8 4 port SATA AHCI Controller</string>
			<key>IOClass</key>
			<string>AppleICH8AHCI</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x28248086</string>
			<key>IOProbeScore</key>
			<integer>2000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Vendor Name</key>
			<string>Intel</string>
		</dict>
		<key>ICH8MAHCI</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAHCIPort</string>
			<key>Chipset Name</key>
			<string>ICH8M/ICH8M-E SATA AHCI Controller</string>
			<key>IOClass</key>
			<string>AppleICH8AHCI</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x28298086</string>
			<key>IOProbeScore</key>
			<integer>2000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Vendor Name</key>
			<string>Intel</string>
		</dict>
		<key>ICH8MRAID</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAHCIPort</string>
			<key>Chipset Name</key>
			<string>ICH8-M SATA RAID Controller</string>
			<key>IOClass</key>
			<string>AppleICH8AHCI</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x282a8086</string>
			<key>IOProbeScore</key>
			<integer>2000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Vendor Name</key>
			<string>Intel</string>
		</dict>
		<key>ICH8RAHCI</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAHCIPort</string>
			<key>Chipset Name</key>
			<string>ICH8R/DO/DH 6 port SATA AHCI controller</string>
			<key>IOClass</key>
			<string>AppleICH8AHCI</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x28218086</string>
			<key>IOProbeScore</key>
			<integer>2000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Vendor Name</key>
			<string>Intel</string>
		</dict>
		<key>ICH8RRAID</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAHCIPort</string>
			<key>Chipset Name</key>
			<string>ICH8-R SATA RAID Controller</string>
			<key>IOClass</key>
			<string>AppleICH8AHCI</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x28228086</string>
			<key>IOProbeScore</key>
			<integer>2000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Vendor Name</key>
			<string>Intel</string>
		</dict>
		<key>ICH9AHCI</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAHCIPort</string>
			<key>Chipset Name</key>
			<string>ICH9 4 port SATA AHCI Controller</string>
			<key>IOClass</key>
			<string>AppleICH8AHCI</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x29238086</string>
			<key>IOProbeScore</key>
			<integer>2000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Vendor Name</key>
			<string>Intel</string>
		</dict>
		<key>ICH9MAHCI</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAHCIPort</string>
			<key>Chipset Name</key>
			<string>ICH9M/M-E SATA AHCI Controller</string>
			<key>IOClass</key>
			<string>AppleICH8AHCI</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x29298086</string>
			<key>IOProbeScore</key>
			<integer>2000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Vendor Name</key>
			<string>Intel</string>
		</dict>
		<key>ICH9MRAID</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAHCIPort</string>
			<key>Chipset Name</key>
			<string>ICH9M-E SATA RAID Controller</string>
			<key>IOClass</key>
			<string>AppleICH8AHCI</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x292c8086</string>
			<key>IOProbeScore</key>
			<integer>2000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Vendor Name</key>
			<string>Intel</string>
		</dict>
		<key>ICH9RAHCI</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAHCIPort</string>
			<key>Chipset Name</key>
			<string>ICH9R/DO/DH 6 port SATA AHCI Controller</string>
			<key>IOClass</key>
			<string>AppleICH8AHCI</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x29228086</string>
			<key>IOProbeScore</key>
			<integer>2000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Vendor Name</key>
			<string>Intel</string>
		</dict>
		<key>ICH9RRAID</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAHCIPort</string>
			<key>Chipset Name</key>
			<string>ICH9R/DO SATA RAID Controller</string>
			<key>IOClass</key>
			<string>AppleICH8AHCI</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x29258086</string>
			<key>IOProbeScore</key>
			<integer>2000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Vendor Name</key>
			<string>Intel</string>
		</dict>
		<key>IOAHCISerialATAPI</key>
		<dict>
			<key>ATAPI</key>
			<true/>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOAHCISerialATAPI</string>
			<key>IOClass</key>
			<string>IOAHCISerialATAPI</string>
			<key>IOProbeScore</key>
			<integer>6800</integer>
			<key>IOProviderClass</key>
			<string>IOAHCIDevice</string>
			<key>Protocol Characteristics</key>
			<dict>
				<key>Physical Interconnect</key>
				<string>SATA</string>
				<key>Physical Interconnect Location</key>
				<string>Internal</string>
			</dict>
		</dict>
		<key>Intel5SeriesAHCI</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAHCIPort</string>
			<key>Chipset Name</key>
			<string>5 Series Chipset</string>
			<key>IOClass</key>
			<string>AppleIntelPchSeriesAHCI</string>
			<key>IONameMatch</key>
			<array>
				<string>pci8086,3b22</string>
				<string>pci8086,3b22</string>
				<string>pci8086,3b29</string>
				<string>pci8086,3b2f</string>
			</array>
			<key>IOProbeScore</key>
			<integer>2000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Vendor Name</key>
			<string>Intel</string>
		</dict>
		<key>Intel5SeriesRAID</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAHCIPort</string>
			<key>Chipset Name</key>
			<string>5 Series/3400 Series Chipset SATA RAID Controller</string>
			<key>IOClass</key>
			<string>AppleIntelPchSeriesAHCI</string>
			<key>IONameMatch</key>
			<array>
				<string>pci8086,3b25</string>
				<string>pci8086,3b2C</string>
			</array>
			<key>IOProbeScore</key>
			<integer>2000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Vendor Name</key>
			<string>Intel</string>
		</dict>
		<key>Intel6SeriesAHCI</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAHCIPort</string>
			<key>Chipset Name</key>
			<string>6 Series Chipset</string>
			<key>IOClass</key>
			<string>AppleIntelPchSeriesAHCI</string>
			<key>IONameMatch</key>
			<array>
				<string>pci8086,1c02</string>
				<string>pci8086,1c03</string>
			</array>
			<key>IOProbeScore</key>
			<integer>2000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Vendor Name</key>
			<string>Intel</string>
		</dict>
		<key>Intel6SeriesRAID</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAHCIPort</string>
			<key>Chipset Name</key>
			<string>6 Series/C200 Series Chipset Family SATA RAID Controller</string>
			<key>IOClass</key>
			<string>AppleIntelPchSeriesAHCI</string>
			<key>IONameMatch</key>
			<array>
				<string>pci8086,1c04</string>
				<string>pci8086,1c05</string>
			</array>
			<key>IOProbeScore</key>
			<integer>2000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Vendor Name</key>
			<string>Intel</string>
		</dict>
		<key>Intel7SeriesAHCI</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAHCIPort</string>
			<key>Chipset Name</key>
			<string>7 Series Chipset</string>
			<key>IOClass</key>
			<string>AppleIntelPchSeriesAHCI</string>
			<key>IONameMatch</key>
			<array>
				<string>pci8086,1e02</string>
				<string>pci8086,1e03</string>
			</array>
			<key>IOProbeScore</key>
			<integer>2000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Vendor Name</key>
			<string>Intel</string>
		</dict>
		<key>Intel7SeriesRAID</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAHCIPort</string>
			<key>Chipset Name</key>
			<string>7 Series Chipset RAID</string>
			<key>IOClass</key>
			<string>AppleIntelPchSeriesAHCI</string>
			<key>IONameMatch</key>
			<array>
				<string>pci8086,1e04</string>
				<string>pci8086,1e05</string>
				<string>pci8086,1e06</string>
				<string>pci8086,1e07</string>
			</array>
			<key>IOProbeScore</key>
			<integer>2000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Vendor Name</key>
			<string>Intel</string>
		</dict>
		<key>IntelC600SeriesAHCI</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAHCIPort</string>
			<key>Chipset Name</key>
			<string>C600/X79 Series Chipset</string>
			<key>IOClass</key>
			<string>AppleIntelPchSeriesAHCI</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x1d028086</string>
			<key>IOProbeScore</key>
			<integer>2000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Vendor Name</key>
			<string>Intel</string>
		</dict>
		<key>IntelC600SeriesRAID</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAHCIPort</string>
			<key>Chipset Name</key>
			<string>C600/X79 series chipset SATA Premium RAID Controller</string>
			<key>IOClass</key>
			<string>AppleIntelPchSeriesAHCI</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x1d068086</string>
			<key>IOProbeScore</key>
			<integer>2000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Vendor Name</key>
			<string>Intel</string>
		</dict>
		<key>IntelLynxPointAHCI</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAHCIPort</string>
			<key>Chipset Name</key>
			<string>Lynx Point 6-port SATA Controller</string>
			<key>IOClass</key>
			<string>AppleIntelPchSeriesAHCI</string>
			<key>IONameMatch</key>
			<array>
				<string>pci8086,8c02</string>
				<string>pci8086,8c03</string>
				<string>pci8086,9c02</string>
				<string>pci8086,9c03</string>
			</array>
			<key>IOProbeScore</key>
			<integer>2000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Vendor Name</key>
			<string>Intel</string>
		</dict>
		<key>IntelLynxPointRAID</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAHCIPort</string>
			<key>Chipset Name</key>
			<string>Lynx Point 6-port SATA RAID Controller</string>
			<key>IOClass</key>
			<string>AppleIntelPchSeriesAHCI</string>
			<key>IONameMatch</key>
			<array>
				<string>pci8086,8c04</string>
				<string>pci8086,8c05</string>
				<string>pci8086,8c06</string>
				<string>pci8086,8c07</string>
				<string>pci8086,8c0e</string>
				<string>pci8086,8c0f</string>
				<string>pci8086,9c04</string>
				<string>pci8086,9c05</string>
				<string>pci8086,9c06</string>
				<string>pci8086,9c07</string>
			</array>
			<key>IOProbeScore</key>
			<integer>2000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Vendor Name</key>
			<string>Intel</string>
		</dict>
		<key>IntelWellsburgAHCI</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAHCIPort</string>
			<key>Chipset Name</key>
			<string>Wellsburg sSATA Controller</string>
			<key>IOClass</key>
			<string>AppleIntelPchSeriesAHCI</string>
			<key>IOPCIClassMatch</key>
			<string>0x8d628086</string>
			<key>IOProbeScore</key>
			<integer>2000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Vendor Name</key>
			<string>Intel</string>
		</dict>
		<key>IntelWellsburgRAID</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAHCIPort</string>
			<key>Chipset Name</key>
			<string>Wellsburg sSATA Controller RAID</string>
			<key>IOClass</key>
			<string>AppleIntelPchSeriesAHCI</string>
			<key>IONameMatch</key>
			<array>
				<string>pci8086,8d64</string>
				<string>pci8086,8d66</string>
				<string>pci8086,8d6e</string>
			</array>
			<key>IOProbeScore</key>
			<integer>2000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Vendor Name</key>
			<string>Intel</string>
		</dict>
		<key>JMicron JMB360 AHCI</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAHCIPort</string>
			<key>Chipset Name</key>
			<string>JMB360 AHCI Controller</string>
			<key>IOClass</key>
			<string>AppleAHCI</string>
			<key>IOPCIClassMatch</key>
			<string>0x01060100&amp;0xffffff00</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x2360197b</string>
			<key>IOProbeScore</key>
			<integer>11000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Vendor Name</key>
			<string>JMicron</string>
		</dict>
		<key>JMicron JMB360 RAID</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAHCIPort</string>
			<key>Chipset Name</key>
			<string>JMB360 RAID</string>
			<key>IOClass</key>
			<string>AppleAHCI</string>
			<key>IOPCIClassMatch</key>
			<string>0x01040000&amp;0xffff0000</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x2360197b</string>
			<key>IOProbeScore</key>
			<integer>11000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Vendor Name</key>
			<string>JMicron</string>
		</dict>
		<key>JMicron JMB361 AHCI</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAHCIPort</string>
			<key>Chipset Name</key>
			<string>JJMB361 AHCI/IDE</string>
			<key>IOClass</key>
			<string>AppleAHCI</string>
			<key>IOPCIClassMatch</key>
			<string>0x01060100&amp;0xffffff00</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x2361197b</string>
			<key>IOProbeScore</key>
			<integer>11000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Vendor Name</key>
			<string>JMicron</string>
		</dict>
		<key>JMicron JMB361 RAID</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAHCIPort</string>
			<key>Chipset Name</key>
			<string>JMB361 RAID</string>
			<key>IOClass</key>
			<string>AppleAHCI</string>
			<key>IOPCIClassMatch</key>
			<string>0x01040000&amp;0xffff0000</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x2361197b</string>
			<key>IOProbeScore</key>
			<integer>11000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Vendor Name</key>
			<string>JMicron</string>
		</dict>
		<key>JMicron JMB362 AHCI</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAHCIPort</string>
			<key>Chipset Name</key>
			<string>JMB362 SATA Controller</string>
			<key>IOClass</key>
			<string>AppleAHCI</string>
			<key>IOPCIClassMatch</key>
			<string>0x01060100&amp;0xffffff00</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x2362197b</string>
			<key>IOProbeScore</key>
			<integer>11000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Vendor Name</key>
			<string>JMicron</string>
		</dict>
		<key>JMicron JMB362 RAID</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAHCIPort</string>
			<key>Chipset Name</key>
			<string>JMB362 RAID</string>
			<key>IOClass</key>
			<string>AppleAHCI</string>
			<key>IOPCIClassMatch</key>
			<string>0x01040000&amp;0xffff0000</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x2362197b</string>
			<key>IOProbeScore</key>
			<integer>11000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Vendor Name</key>
			<string>JMicron</string>
		</dict>
		<key>JMicron JMB363 AHCI</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAHCIPort</string>
			<key>Chipset Name</key>
			<string>JMB363 SATA/IDE Controller</string>
			<key>IOClass</key>
			<string>AppleAHCI</string>
			<key>IOPCIClassMatch</key>
			<string>0x01060100&amp;0xffffff00</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x2363197b</string>
			<key>IOProbeScore</key>
			<integer>11000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Vendor Name</key>
			<string>JMicron</string>
		</dict>
		<key>JMicron JMB363 RAID</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAHCIPort</string>
			<key>Chipset Name</key>
			<string>JMB363 RAID</string>
			<key>IOClass</key>
			<string>AppleAHCI</string>
			<key>IOPCIClassMatch</key>
			<string>0x01040000&amp;0xffff0000</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x2363197b</string>
			<key>IOProbeScore</key>
			<integer>11000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Vendor Name</key>
			<string>JMicron</string>
		</dict>
		<key>JMicron JMB364 AHCI</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAHCIPort</string>
			<key>Chipset Name</key>
			<string>JMB364 AHCI Controller</string>
			<key>IOClass</key>
			<string>AppleAHCI</string>
			<key>IOPCIClassMatch</key>
			<string>0x01060100&amp;0xffffff00</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x2364197b</string>
			<key>IOProbeScore</key>
			<integer>11000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Vendor Name</key>
			<string>JMicron</string>
		</dict>
		<key>JMicron JMB365 AHCI</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAHCIPort</string>
			<key>Chipset Name</key>
			<string>JMB365 AHCI/IDE</string>
			<key>IOClass</key>
			<string>AppleAHCI</string>
			<key>IOPCIClassMatch</key>
			<string>0x01060100&amp;0xffffff00</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x2365197b</string>
			<key>IOProbeScore</key>
			<integer>11000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Vendor Name</key>
			<string>JMicron</string>
		</dict>
		<key>JMicron JMB366 AHCI</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAHCIPort</string>
			<key>Chipset Name</key>
			<string>JMB366 AHCI/IDE</string>
			<key>IOClass</key>
			<string>AppleAHCI</string>
			<key>IOPCIClassMatch</key>
			<string>0x01060100&amp;0xffffff00</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x2366197b</string>
			<key>IOProbeScore</key>
			<integer>11000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Vendor Name</key>
			<string>JMicron</string>
		</dict>
		<key>JMicron JMB366 RAID</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAHCIPort</string>
			<key>Chipset Name</key>
			<string>JMB366 RAID/IDE</string>
			<key>IOClass</key>
			<string>AppleAHCI</string>
			<key>IOPCIClassMatch</key>
			<string>0x01040000&amp;0xffff0000</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x2366197b</string>
			<key>IOProbeScore</key>
			<integer>11000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Vendor Name</key>
			<string>JMicron</string>
		</dict>
		<key>JMicron JMB369 AHCI</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAHCIPort</string>
			<key>Chipset Name</key>
			<string>JMB369 Serial ATA Controller</string>
			<key>IOClass</key>
			<string>AppleAHCI</string>
			<key>IOPCIClassMatch</key>
			<string>0x01060100&amp;0xffffff00</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x2369197b</string>
			<key>IOProbeScore</key>
			<integer>11000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Vendor Name</key>
			<string>JMicron</string>
		</dict>
		<key>JMicronAHCI</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAHCIPort</string>
			<key>Chipset Name</key>
			<string>JMB36x AHCI Controller</string>
			<key>IOClass</key>
			<string>AppleAHCI</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x2368197b 0x2363197b</string>
			<key>IOProbeScore</key>
			<integer>2000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Vendor Name</key>
			<string>JMicron</string>
		</dict>
		<key>MCP79AHCI</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAHCIPort</string>
			<key>Chipset Name</key>
			<string>MCP79 AHCI</string>
			<key>IOClass</key>
			<string>AppleMCP79AHCI</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x0ab910de</string>
			<key>IOProbeScore</key>
			<integer>2000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Vendor Name</key>
			<string>NVidia</string>
		</dict>
		<key>MCP89AHCI</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAHCIPort</string>
			<key>Chipset Name</key>
			<string>MCP89 AHCI</string>
			<key>IOClass</key>
			<string>AppleMCP89AHCI</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x0d8810de</string>
			<key>IOProbeScore</key>
			<integer>2000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Vendor Name</key>
			<string>NVidia</string>
		</dict>
		<key>Marvell 88SE9120</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAHCIPort</string>
			<key>Chipset Name</key>
			<string>88SE9120 SATA 6Gb/s Controller</string>
			<key>IOClass</key>
			<string>AppleAHCI</string>
			<key>IOPCIClassMatch</key>
			<string>0x01060100&amp;0xffffff00</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x91201b4b</string>
			<key>IOProbeScore</key>
			<integer>15000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Vendor Name</key>
			<string>Marvell</string>
		</dict>
		<key>Marvell 88SE9123</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAHCIPort</string>
			<key>Chipset Name</key>
			<string>88SE9123 PCIe SATA 6.0 Gb/s controller</string>
			<key>IOClass</key>
			<string>AppleAHCI</string>
			<key>IOPCIClassMatch</key>
			<string>0x01060100&amp;0xffffff00</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x91231b4b</string>
			<key>IOProbeScore</key>
			<integer>15000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Vendor Name</key>
			<string>Marvell</string>
		</dict>
		<key>Marvell 88SE9125</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAHCIPort</string>
			<key>Chipset Name</key>
			<string>88SE9125 PCIe SATA 6.0 Gb/s controller</string>
			<key>IOClass</key>
			<string>AppleAHCI</string>
			<key>IOPCIClassMatch</key>
			<string>0x01060100&amp;0xffffff00</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x91251b4b</string>
			<key>IOProbeScore</key>
			<integer>15000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Vendor Name</key>
			<string>Marvell</string>
		</dict>
		<key>Marvell 88SE9128</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAHCIPort</string>
			<key>Chipset Name</key>
			<string>88SE9128 PCIe SATA 6 Gb/s RAID controller with HyperDuo</string>
			<key>IOClass</key>
			<string>AppleAHCI</string>
			<key>IOPCIClassMatch</key>
			<string>0x01040000&amp;0xffff0000</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x91301b4b</string>
			<key>IOProbeScore</key>
			<integer>15000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Vendor Name</key>
			<string>Marvell</string>
		</dict>
		<key>Marvell 88SE9172</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAHCIPort</string>
			<key>Chipset Name</key>
			<string>88SE9172 SATA III 6Gb/s RAID Controller</string>
			<key>IOClass</key>
			<string>AppleAHCI</string>
			<key>IOPCIClassMatch</key>
			<string>0x01040000&amp;0xffff0000</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x91921b4b</string>
			<key>IOProbeScore</key>
			<integer>15000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Vendor Name</key>
			<string>Marvell</string>
		</dict>
		<key>Marvell 88SE91A0</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAHCIPort</string>
			<key>Chipset Name</key>
			<string>88SE9172 SATA 6Gb/s Controller</string>
			<key>IOClass</key>
			<string>AppleAHCI</string>
			<key>IOPCIClassMatch</key>
			<string>0x01060100&amp;0xffffff00</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x91921b4b</string>
			<key>IOProbeScore</key>
			<integer>15000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Vendor Name</key>
			<string>Marvell</string>
		</dict>
		<key>Marvell 88SE9230</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAHCIPort</string>
			<key>Chipset Name</key>
			<string>88SE9172 PCIe SATA 6Gb/s Controller</string>
			<key>IOClass</key>
			<string>AppleAHCI</string>
			<key>IOPCIClassMatch</key>
			<string>0x01060100&amp;0xffffff00</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x91921b4b</string>
			<key>IOProbeScore</key>
			<integer>15000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Vendor Name</key>
			<string>Marvell</string>
		</dict>
		<key>Marvell 88SE9480</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAHCIPort</string>
			<key>Chipset Name</key>
			<string>88SE9172 SAS/SATA 6Gb/s RAID controller</string>
			<key>IOClass</key>
			<string>AppleAHCI</string>
			<key>IOPCIClassMatch</key>
			<string>0x01040000&amp;0xffff0000</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x91921b4b</string>
			<key>IOProbeScore</key>
			<integer>15000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Vendor Name</key>
			<string>Marvell</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Micky1979 and  insanelymac.com</string>
	<key>OSBundleRequired</key>
	<string>Local-Root</string>
</dict>
</plist>
