<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>14F27</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AsusNBFnKeys</string>
	<key>CFBundleIdentifier</key>
	<string>org.emlydinesh.driver.AsusNBFnKeys</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AsusNBFnKeys</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>2.6</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2.6</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>6A2008a</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>11E52</string>
	<key>DTSDKName</key>
	<string>macosx10.7</string>
	<key>DTXcode</key>
	<string>0611</string>
	<key>DTXcodeBuild</key>
	<string>6A2008a</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AsusNBFnKeys</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.AsusNBFnKeys</string>
			<key>IOClass</key>
			<string>AsusNBFnKeys</string>
			<key>IONameMatch</key>
			<array>
				<string>PNP0c14</string>
				<string>PNP0C14</string>
				<string>PnP0C14</string>
				<string>pnp0c14</string>
				<string>ASUS010</string>
				<string>ASUS0100</string>
				<string>ASUS0010</string>
				<string>ATK0100</string>
			</array>
			<key>IOProviderClass</key>
			<string>IOACPIPlatformDevice</string>
			<key>Preferences</key>
			<dict>
				<key>ConfigForALS</key>
				<dict>
					<key>DisableOnAC</key>
					<false/>
					<key>DisableOnFnControl</key>
					<false/>
					<key>EnableALSLogs</key>
					<false/>
					<key>EnableAtBoot</key>
					<true/>
					<key>Level1Brightness</key>
					<integer>20</integer>
					<key>Level1RangeEnd</key>
					<integer>50</integer>
					<key>Level1RangeStart</key>
					<integer>0</integer>
					<key>Level2Brightness</key>
					<integer>40</integer>
					<key>Level2RangeEnd</key>
					<integer>200</integer>
					<key>Level2RangeStart</key>
					<integer>51</integer>
					<key>Level3Brightness</key>
					<integer>60</integer>
					<key>Level3RangeEnd</key>
					<integer>400</integer>
					<key>Level3RangeStart</key>
					<integer>201</integer>
					<key>Level4Brightness</key>
					<integer>80</integer>
					<key>Level4RangeEnd</key>
					<integer>600</integer>
					<key>Level4RangeStart</key>
					<integer>401</integer>
					<key>Level5Brightness</key>
					<integer>100</integer>
					<key>Level5RangeEnd</key>
					<integer>50000</integer>
					<key>Level5RangeStart</key>
					<integer>601</integer>
					<key>SamplesToProcess</key>
					<integer>8</integer>
					<key>TimerInterval</key>
					<integer>3000</integer>
				</dict>
				<key>DimBacklightOnAC/DC</key>
				<true/>
				<key>DimBrightnessByLevels</key>
				<integer>3</integer>
				<key>F3KeyFunction</key>
				<integer>0</integer>
				<key>F4KeyFunction</key>
				<integer>0</integer>
				<key>FinerBrightnessControl</key>
				<true/>
				<key>FinerVolumeControl</key>
				<true/>
				<key>HasMediaFnKeys</key>
				<true/>
				<key>IdleKBacklightAutoOff</key>
				<false/>
				<key>IdleKBacklightAutoOffTimeout</key>
				<integer>10000</integer>
				<key>InstantKeyFunction</key>
				<integer>0</integer>
				<key>KBackLightlvlAtBoot</key>
				<integer>1</integer>
				<key>MakeFnKeysAsFunction</key>
				<false/>
				<key>MediaKeysDoFastRewind</key>
				<false/>
				<key>SoftDisplayBacklightOff</key>
				<true/>
			</dict>
		</dict>
		<key>FnKeysHIKeyboard</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.AsusNBFnKeys</string>
			<key>IOClass</key>
			<string>FnKeysHIKeyboard</string>
			<key>IONameMatch</key>
			<string>FnKeysHIKeyboardDevice</string>
			<key>IOProviderClass</key>
			<string>FnKeysHIKeyboardDevice</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © EMlyDinEsH (mg-dinesh@live.com) 2012-2016. All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOACPIFamily</key>
		<string>1.0.0d1</string>
		<key>com.apple.iokit.IOHIDSystem</key>
		<string>1.6.5</string>
		<key>com.apple.kpi.bsd</key>
		<string>10.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>9.6.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>9.6.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>9.6.0</string>
	</dict>
</dict>
</plist>
