<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>14D136</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>IOath3kfrmwr</string>
	<key>CFBundleGetInfoString</key>
	<string>1.2.1, Open Source 2012-2013 mac4mat, RehabMan</string>
	<key>CFBundleIdentifier</key>
	<string>org.rehabman.driver.IOath3kfrmwr</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>IOath3kfrmwr</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2.1</string>
	<key>CFBundleSignature</key>
	<string>Mac OS X</string>
	<key>CFBundleVersion</key>
	<string>1.2.1</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>6D2105</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>12D75</string>
	<key>DTSDKName</key>
	<string>macosx10.8</string>
	<key>DTXcode</key>
	<string>0632</string>
	<key>DTXcodeBuild</key>
	<string>6D2105</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>IOath3kfrmwr-03f0-311d</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.rehabman.driver.IOath3kfrmwr</string>
			<key>CheckEndpoints</key>
			<array>
				<dict>
					<key>EndpointNumber</key>
					<integer>2</integer>
					<key>TransferType</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>EndpointNumber</key>
					<integer>1</integer>
					<key>TransferType</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>IOClass</key>
			<string>org_rehabman_IOath3kfrmwr</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>PipeNumber</key>
			<integer>2</integer>
			<key>bcdDevice</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>12573</integer>
			<key>idVendor</key>
			<integer>1008</integer>
		</dict>
		<key>IOath3kfrmwr-0489-e027</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.rehabman.driver.IOath3kfrmwr</string>
			<key>CheckEndpoints</key>
			<array>
				<dict>
					<key>EndpointNumber</key>
					<integer>2</integer>
					<key>TransferType</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>EndpointNumber</key>
					<integer>1</integer>
					<key>TransferType</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>IOClass</key>
			<string>org_rehabman_IOath3kfrmwr</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>PipeNumber</key>
			<integer>2</integer>
			<key>bcdDevice</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>57383</integer>
			<key>idVendor</key>
			<integer>1161</integer>
		</dict>
		<key>IOath3kfrmwr-0489-e02c</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.rehabman.driver.IOath3kfrmwr</string>
			<key>CheckEndpoints</key>
			<array>
				<dict>
					<key>EndpointNumber</key>
					<integer>2</integer>
					<key>TransferType</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>EndpointNumber</key>
					<integer>1</integer>
					<key>TransferType</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>IOClass</key>
			<string>org_rehabman_IOath3kfrmwr</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>PipeNumber</key>
			<integer>2</integer>
			<key>bcdDevice</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>57388</integer>
			<key>idVendor</key>
			<integer>1161</integer>
		</dict>
		<key>IOath3kfrmwr-0930-0215</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.rehabman.driver.IOath3kfrmwr</string>
			<key>CheckEndpoints</key>
			<array>
				<dict>
					<key>EndpointNumber</key>
					<integer>2</integer>
					<key>TransferType</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>EndpointNumber</key>
					<integer>1</integer>
					<key>TransferType</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>IOClass</key>
			<string>org_rehabman_IOath3kfrmwr</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>PipeNumber</key>
			<integer>2</integer>
			<key>bcdDevice</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>533</integer>
			<key>idVendor</key>
			<integer>2352</integer>
		</dict>
		<key>IOath3kfrmwr-0b05-179c</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.rehabman.driver.IOath3kfrmwr</string>
			<key>CheckEndpoints</key>
			<array>
				<dict>
					<key>EndpointNumber</key>
					<integer>2</integer>
					<key>TransferType</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>EndpointNumber</key>
					<integer>1</integer>
					<key>TransferType</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>IOClass</key>
			<string>org_rehabman_IOath3kfrmwr</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>PipeNumber</key>
			<integer>2</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>6044</integer>
			<key>idVendor</key>
			<integer>2821</integer>
		</dict>
		<key>IOath3kfrmwr-0cf3-3000</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.rehabman.driver.IOath3kfrmwr</string>
			<key>CheckEndpoints</key>
			<array/>
			<key>IOClass</key>
			<string>org_rehabman_IOath3kfrmwr</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>PipeNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>512</integer>
			<key>idProduct</key>
			<integer>12288</integer>
			<key>idVendor</key>
			<integer>3315</integer>
		</dict>
		<key>IOath3kfrmwr-0cf3-3002</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.rehabman.driver.IOath3kfrmwr</string>
			<key>CheckEndpoints</key>
			<array>
				<dict>
					<key>EndpointNumber</key>
					<integer>2</integer>
					<key>TransferType</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>EndpointNumber</key>
					<integer>1</integer>
					<key>TransferType</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>IOClass</key>
			<string>org_rehabman_IOath3kfrmwr</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>PipeNumber</key>
			<integer>2</integer>
			<key>bcdDevice</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>12290</integer>
			<key>idVendor</key>
			<integer>3315</integer>
		</dict>
		<key>IOath3kfrmwr-13d3-3304</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.rehabman.driver.IOath3kfrmwr</string>
			<key>CheckEndpoints</key>
			<array>
				<dict>
					<key>EndpointNumber</key>
					<integer>2</integer>
					<key>TransferType</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>EndpointNumber</key>
					<integer>1</integer>
					<key>TransferType</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>IOClass</key>
			<string>org_rehabman_IOath3kfrmwr</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>PipeNumber</key>
			<integer>2</integer>
			<key>bcdDevice</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>13060</integer>
			<key>idVendor</key>
			<integer>5075</integer>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Open Source 2012-2013 mac4mat, RehabMan</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOUSBFamily</key>
		<string>3.7.8</string>
		<key>com.apple.kpi.iokit</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>9.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
	<key>Source Code</key>
	<string>https://github.com/RehabMan/OS-X-Atheros-3k-Firmware</string>
</dict>
</plist>
