<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>AutoMerge</key>
		<true/>
		<key>Comment-DisabledAML</key>
		<string>Disable other forms of CPU PM due to SSDT/Generate/PluginType=true</string>
		<key>DSDT</key>
		<dict>
			<key>DropOEM_DSM</key>
			<false/>
			<key>Fixes</key>
			<dict>
				<key>AddIMEI</key>
				<true/>
				<key>FixACST</key>
				<true/>
				<key>FixADP1</key>
				<true/>
				<key>FixAirport</key>
				<true/>
				<key>FixDarwin7</key>
				<true/>
				<key>FixHDA</key>
				<true/>
				<key>FixHPET</key>
				<true/>
				<key>FixHeaders</key>
				<true/>
				<key>FixIPIC</key>
				<true/>
				<key>FixIntelGfx</key>
				<true/>
				<key>FixLAN</key>
				<true/>
				<key>FixMutex</key>
				<true/>
				<key>FixPNLF</key>
				<true/>
				<key>FixRTC</key>
				<true/>
				<key>FixRegions</key>
				<true/>
				<key>FixS3D</key>
				<true/>
				<key>FixSBUS</key>
				<true/>
				<key>FixShutdown</key>
				<true/>
				<key>FixTMR</key>
				<true/>
				<key>FixUSB</key>
				<true/>
				<key>FixWak</key>
				<true/>
				<key>AddPNLF</key>
				<true/>
				<key>Rtc8Allowed</key>
				<true/>
				<key>AddMCHC</key>
				<true/>
				<key>FakeLPC</key>
				<true/>
			</dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>change OSID to XSID (to avoid match against _OSI XOSI patch)</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					T1NJRA==
					</data>
					<key>Replace</key>
					<data>
					WFNJRA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change _OSI to XOSI</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X09TSQ==
					</data>
					<key>Replace</key>
					<data>
					WE9TSQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change _DSM to XDSM</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X0RTTQ==
					</data>
					<key>Replace</key>
					<data>
					WERTTQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change EC0 to EC</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					RUMwXw==
					</data>
					<key>Replace</key>
					<data>
					RUNfXw==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change H_EC to EC</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					SF9FQw==
					</data>
					<key>Replace</key>
					<data>
					RUNfXw==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change ECDV to EC</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					RUNEVg==
					</data>
					<key>Replace</key>
					<data>
					RUNfXw==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change HDAS to HDEF</string>
					<key>Find</key>
					<data>
					SERBUw==
					</data>
					<key>Replace</key>
					<data>
					SERFRg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change HECI to IMEI</string>
					<key>Find</key>
					<data>
					SEVDSQ==
					</data>
					<key>Replace</key>
					<data>
					SU1FSQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change MEI to IMEI</string>
					<key>Find</key>
					<data>
					TUVJXw==
					</data>
					<key>Replace</key>
					<data>
					SU1FSQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change GFX0 to IGPU</string>
					<key>Find</key>
					<data>
					R0ZYMA==
					</data>
					<key>Replace</key>
					<data>
					SUdQVQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change PCI0.VID to IGPU #1 (Thinkpad)</string>
					<key>Find</key>
					<data>
					UENJMFZJRF8=
					</data>
					<key>Replace</key>
					<data>
					UENJMElHUFU=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change PCI0.VID to IGPU #2 (Thinkpad)</string>
					<key>Find</key>
					<data>
					VklEXwhfQURSDAAAAgA=
					</data>
					<key>Replace</key>
					<data>
					SUdQVQhfQURSDAAAAgA=
					</data>
				</dict>
			</array>
		</dict>
		<key>DisabledAML</key>
		<array>
			<string>SSDT.aml</string>
			<string>SSDT-XCPM.aml</string>
			<string>SSDT-PluginType1.aml</string>
		</array>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>#MCFG</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>xh_rvp10</string>
			</dict>
		</array>
		<key>FixHeaders</key>
		<true/>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<false/>
			<key>Generate</key>
			<dict>
				<key>PluginType</key>
				<true/>
			</dict>
			<key>NoOemTableId</key>
			<false/>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>#DefaultVolume</key>
		<string>LastBootedVolume</string>
		<key>Arguments</key>
		<string>dart=0 nv_disable=1 -disablegfxfirmware -cdfon -igfxnohdmi lilucpu=9</string>
		<key>NeverHibernate</key>
		<true/>
		<key>Secure</key>
		<false/>
		<key>Timeout</key>
		<integer>5</integer>
	</dict>
	<key>Comment</key>
	<string>This file is for 10.12.6+ with native KabyLake support</string>
	<key>Devices</key>
	<dict>
		<key>AddProperties</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Inject "name" as (data)"#display" to disable graphics drivers on NVidia</string>
				<key>Device</key>
				<string>NVidia</string>
				<key>Key</key>
				<string>name</string>
				<key>Value</key>
				<data>
				I2Rpc3BsYXkA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Inject "IOName" as "#display" to disable graphics drivers on NVidia</string>
				<key>Device</key>
				<string>NVidia</string>
				<key>Key</key>
				<string>IOName</string>
				<key>Value</key>
				<string>#display</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Inject bogus class-code to prevent graphics drivers loading for NVidia</string>
				<key>Device</key>
				<string>NVidia</string>
				<key>Key</key>
				<string>class-code</string>
				<key>Value</key>
				<data>
				/////w==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Inject "name" as (data)"#display" to disable graphics drivers on AMD</string>
				<key>Device</key>
				<string>ATI</string>
				<key>Key</key>
				<string>name</string>
				<key>Value</key>
				<data>
				I2Rpc3BsYXkA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Inject "IOName" as "#display" to disable graphics drivers on AMD</string>
				<key>Device</key>
				<string>ATI</string>
				<key>Key</key>
				<string>IOName</string>
				<key>Value</key>
				<string>#display</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Inject bogus class-code to prevent graphics drivers loading for AMD</string>
				<key>Device</key>
				<string>ATI</string>
				<key>Key</key>
				<string>class-code</string>
				<key>Value</key>
				<data>
				/////w==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Inject bogus vendor-id to prevent graphics drivers loading for AMD</string>
				<key>Device</key>
				<string>ATI</string>
				<key>Key</key>
				<string>vendor-id</string>
				<key>Value</key>
				<data>
				//8AAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Inject bogus device-id to prevent graphics drivers loading for AMD</string>
				<key>Device</key>
				<string>ATI</string>
				<key>Key</key>
				<string>device-id</string>
				<key>Value</key>
				<data>
				//8AAA==
				</data>
			</dict>
		</array>
		<key>Audio</key>
		<dict>
			<key>Inject</key>
			<integer>0</integer>
		</dict>
		<key>FakeID</key>
		<dict>
			<key>#IntelGFX</key>
			<string>0x59168086</string>
			<key>#Kaby Lake-Comment</key>
			<string>To avoid automatic Clover fake device-id (Skylake) injection</string>
		</dict>
		<key>Properties</key>
		<dict>
			<key>PciRoot(0)/Pci(0x02,0)</key>
			<dict>
				<key># DVMT-prealloc</key>
				<string>32MB BIOS, 19MB framebuffer, 9MB cursor bytes (credit RehabMan)</string>
				<key>## @0 LVDS-&gt;DP</key>
				<string></string>
				<key>## @1 HDMI</key>
				<string></string>
				<key>## @2 HDMI</key>
				<string></string>
				<key>## @3 HDMI</key>
				<string></string>
				<key>#1 0306-&gt;0105</key>
				<string>0x591b0000, 0105 instead of 0306, HDMI</string>
				<key>#1 framebuffer-con1-alldata</key>
				<data>
				AQUKAAAIAACHAQAAAgQKAAAIAACHAQAA/wAAAAEAAAAg
				AAAA
				</data>
				<key>#1 framebuffer-con1-enable</key>
				<integer>1</integer>
				<key>#2 0204-&gt;0105</key>
				<string>0x591b0000, 0105 instead of 0204, HDMI</string>
				<key>#2 framebuffer-con1-alldata</key>
				<data>
				AQUKAAAIAACHAQAAAwYKAAAEAACHAQAA/wAAAAEAAAAg
				AAAA
				</data>
				<key>#2 framebuffer-con1-enable</key>
				<integer>1</integer>
				<key>#3 framebuffer-con1-alldata</key>
				<data>
				/wAAAAEAAAAgAAAA/wAAAAEAAAAgAAAA/wAAAAEAAAAg
				AAAA
				</data>
				<key>#3 framebuffer-con1-enable</key>
				<integer>1</integer>
				<key>#3 no external</key>
				<string>0x591b0000, eliminate all external ports (0204 and 0306)</string>
				<key>#AAPL00,override-no-connect</key>
				<data>
				</data>
				<key>#AAPL00,override-no-edid</key>
				<data>
				</data>
				<key>#framebuffer-con0-enable</key>
				<integer>1</integer>
				<key>#framebuffer-con0-type</key>
				<data>
				AAQAAA==
				</data>
				<key>#framebuffer-con1-enable</key>
				<integer>1</integer>
				<key>#framebuffer-con1-flags</key>
				<data>
				hwEAAA==
				</data>
				<key>#framebuffer-con1-pipe</key>
				<data>
				EgAAAA==
				</data>
				<key>#framebuffer-con1-type</key>
				<data>
				AAgAAA==
				</data>
				<key>#framebuffer-con2-enable</key>
				<integer>1</integer>
				<key>#framebuffer-con2-flags</key>
				<data>
				hwEAAA==
				</data>
				<key>#framebuffer-con2-pipe</key>
				<data>
				EgAAAA==
				</data>
				<key>#framebuffer-con2-type</key>
				<data>
				AAgAAA==
				</data>
				<key>#framebuffer-con3-enable</key>
				<integer>1</integer>
				<key>#framebuffer-con3-flags</key>
				<data>
				hwEAAA==
				</data>
				<key>#framebuffer-con3-pipe</key>
				<data>
				EgAAAA==
				</data>
				<key>#framebuffer-con3-type</key>
				<data>
				AAgAAA==
				</data>
				<key>#hda-gfx</key>
				<string>onboard-1</string>
				<key>AAPL,ig-platform-id</key>
				<data>
				AAAbWQ==
				</data>
				<key>device-id</key>
				<data>
				FlkAAA==
				</data>
				<key>framebuffer-fbmem</key>
				<data>
				AACQAA==
				</data>
				<key>framebuffer-patch-enable</key>
				<integer>1</integer>
				<key>framebuffer-stolenmem</key>
				<data>
				AAAwAQ==
				</data>
			</dict>
			<key>PciRoot(0)/Pci(0x1f,3)</key>
			<dict>
				<key>#PinConfigurations</key>
				<data>
				</data>
				<key>#hda-gfx</key>
				<string>onboard-1</string>
				<key>#layout-id</key>
				<integer>3</integer>
				<key>#no-controller-patch</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>USB</key>
		<dict>
			<key>AddClockID</key>
			<true/>
			<key>FixOwnership</key>
			<true/>
			<key>Inject</key>
			<true/>
		</dict>
		<key>UseIntelHDMI</key>
		<false/>
	</dict>
	<key>DisableDrivers</key>
	<array>
		<string>VBoxHfs</string>
	</array>
	<key>GUI</key>
	<dict>
		<key>#ScreenResolution</key>
		<string>1920x1080</string>
		<key>Custom</key>
		<dict>
			<key>Entries</key>
			<array>
				<dict>
					<key>Hidden</key>
					<false/>
					<key>Type</key>
					<string>OSXRecovery</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Windows</string>
					<key>Type</key>
					<string>Windows</string>
				</dict>
			</array>
		</dict>
		<key>Hide</key>
		<array>
			<string>Preboot</string>
		</array>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<false/>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Linux</key>
			<true/>
			<key>Tool</key>
			<true/>
		</dict>
		<key>Theme</key>
		<string>embedded</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>#EDID</key>
		<dict>
			<key>Inject</key>
			<false/>
		</dict>
		<key>#ig-platform-id</key>
		<string>0x591b0000</string>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<true/>
			<key>Intel</key>
			<false/>
			<key>NVidia</key>
			<true/>
		</dict>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleRTC</key>
		<true/>
		<key>DellSMBIOSPatch</key>
		<false/>
		<key>ForceKextsToLoad</key>
		<array>
			<string>\System\Library\Extensions\IONetworkingFamily.kext</string>
		</array>
		<key>KernelLapic</key>
		<true/>
		<key>KernelPm</key>
		<true/>
		<key>KernelToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>MSR 0xE2 _xcpm_idle instant reboot(c) Pike R. Alpha</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				ILniAAAADzA=
				</data>
				<key>Replace</key>
				<data>
				ILniAAAAkJA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Disable panic kext logging on 10.13 release kernel (credit vit9696)</string>
				<key>Find</key>
				<data>
				igKEwHRE
				</data>
				<key>MatchOS</key>
				<string>10.13.x</string>
				<key>Replace</key>
				<data>
				igKEwOtE
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Disable panic kext logging on 10.14 release kernel (credit vit9696)</string>
				<key>Find</key>
				<data>
				igKEwHRC
				</data>
				<key>MatchOS</key>
				<string>10.14.x</string>
				<key>Replace</key>
				<data>
				igKEwOtC
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>disable port limit in XHCI kext (credit DalianSky,Ricky)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				g/sPD4OPBAAA
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.14.1,10.14.2</string>
				<key>Name</key>
				<string>com.apple.driver.usb.AppleUSBXHCI</string>
				<key>Replace</key>
				<data>
				g/sPkJCQkJCQ
				</data>
			</dict>
		</array>
		<key>KextsToPatch</key>
		<array/>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>ProductName</key>
		<string>MacBookPro14,1</string>
		<key>Trust</key>
		<true/>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Detect</string>
	</dict>
</dict>
</plist>
