<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Vandroiy</string>
	<key>CodecID</key>
	<integer>563</integer>
	<key>CodecName</key>
	<string>ALC233</string>
	<key>Files</key>
	<dict>
		<key>Layouts</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Mirone Laptop Patch ALC233</string>
				<key>Id</key>
				<integer>3</integer>
				<key>Path</key>
				<string>layout3.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Custom ALC233 (3236)</string>
				<key>Id</key>
				<integer>4</integer>
				<key>Path</key>
				<string>layout4.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Mirone Laptop Patch ALC3236</string>
				<key>Id</key>
				<integer>5</integer>
				<key>Path</key>
				<string>layout5.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>InsanelyDeepak - Realtek ALC233 for Asus X550LC</string>
				<key>Id</key>
				<integer>13</integer>
				<key>Path</key>
				<string>layout13.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Custom for Realtek ALC233 for SONY VAIO Fit 14E(SVF14316SCW) by SquallATF</string>
				<key>Id</key>
				<integer>27</integer>
				<key>Path</key>
				<string>layout27.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Custom for Realtek ALC3236 for Asus TP500LN by Mohamed Khairy</string>
				<key>Id</key>
				<integer>28</integer>
				<key>Path</key>
				<string>layout28.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Custom for Realtek ALC233 (ALC3236) for Asus X550LDV by Mirone</string>
				<key>Id</key>
				<integer>29</integer>
				<key>Path</key>
				<string>layout29.xml.zlib</string>
			</dict>
		</array>
		<key>Platforms</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Mirone Laptop Patch ALC233</string>
				<key>Id</key>
				<integer>3</integer>
				<key>Path</key>
				<string>PlatformsM.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Custom ALC233 (3236)</string>
				<key>Id</key>
				<integer>4</integer>
				<key>Path</key>
				<string>Platforms4.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Mirone Laptop Patch ALC3236</string>
				<key>Id</key>
				<integer>5</integer>
				<key>Path</key>
				<string>Platforms5.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>InsanelyDeepak - Realtek ALC233 for Asus X550LC</string>
				<key>Id</key>
				<integer>13</integer>
				<key>Path</key>
				<string>PlatformsID.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Custom for Realtek ALC233 for SONY VAIO Fit 14E(SVF14316SCW) by SquallATF</string>
				<key>Id</key>
				<integer>27</integer>
				<key>Path</key>
				<string>Platforms27.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Custom for Realtek ALC3236 for Asus TP500LN by Mohamed Khairy</string>
				<key>Id</key>
				<integer>28</integer>
				<key>Path</key>
				<string>Platforms28.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Custom for Realtek ALC233 (ALC3236) for Asus X550LDV by Mirone</string>
				<key>Id</key>
				<integer>29</integer>
				<key>Path</key>
				<string>Platforms29.xml.zlib</string>
			</dict>
		</array>
	</dict>
	<key>Patches</key>
	<array>
		<dict>
			<key>Count</key>
			<integer>1</integer>
			<key>Find</key>
			<data>QcYGAEmLvCQ=</data>
			<key>MaxKernel</key>
			<integer>13</integer>
			<key>MinKernel</key>
			<integer>13</integer>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>QcYGAUmLvCQ=</data>
		</dict>
		<dict>
			<key>Count</key>
			<integer>1</integer>
			<key>Find</key>
			<data>QcYGAEiLu2g=</data>
			<key>MinKernel</key>
			<integer>14</integer>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>QcYGAUiLu2g=</data>
		</dict>
		<dict>
			<key>Count</key>
			<integer>1</integer>
			<key>Find</key>
			<data>QcaGQwEAAAA=</data>
			<key>MinKernel</key>
			<integer>13</integer>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>QcaGQwEAAAE=</data>
		</dict>
		<dict>
			<key>Count</key>
			<integer>2</integer>
			<key>Find</key>
			<data>YQLsEA==</data>
			<key>MinKernel</key>
			<integer>13</integer>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>AAAAAA==</data>
		</dict>
		<dict>
			<key>Count</key>
			<integer>2</integer>
			<key>Find</key>
			<data>hAjsEA==</data>
			<key>MinKernel</key>
			<integer>13</integer>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>AAAAAA==</data>
		</dict>
		<dict>
			<key>Count</key>
			<integer>2</integer>
			<key>Find</key>
			<data>hQjsEA==</data>
			<key>MinKernel</key>
			<integer>13</integer>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>AAAAAA==</data>
		</dict>
		<dict>
			<key>Count</key>
			<integer>2</integer>
			<key>Find</key>
			<data>hBnUEQ==</data>
			<key>MinKernel</key>
			<integer>13</integer>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>MwLsEA==</data>
		</dict>
		<dict>
			<key>Count</key>
			<integer>2</integer>
			<key>Find</key>
			<data>YgLsEA==</data>
			<key>MinKernel</key>
			<integer>13</integer>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>AAAAAA==</data>
		</dict>
		<dict>
			<key>Count</key>
			<integer>2</integer>
			<key>Find</key>
			<data>gxnUEQ==</data>
			<key>MinKernel</key>
			<integer>15</integer>
			<key>MaxKernel</key>
			<integer>15</integer>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>AAAAAA==</data>
		</dict>
	</array>
	<key>Revisions</key>
	<array>
		<integer>1048579</integer>
	</array>
	<key>Vendor</key>
	<string>Realtek</string>
</dict>
</plist>
