<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>14E46</string>
	<key>CFBundleIdentifier</key>
	<string>org.rehabman.injector.FakePCIID-XHCIMux</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>FakePCIID_XHCIMux</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2.0</string>
	<key>CFBundleVersion</key>
	<string>1.2.0</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>6E35b</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>10M2518</string>
	<key>DTSDKName</key>
	<string>macosx10.6</string>
	<key>DTXcode</key>
	<string>0640</string>
	<key>DTXcodeBuild</key>
	<string>6E35b</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>XHCIMux 7-series</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.rehabman.driver.FakePCIID</string>
			<key>FakeProperties</key>
			<dict>
				<key>RM,pr2-block</key>
				<data>
				AA==
				</data>
				<key>RM,pr2-chipset-mask</key>
				<data>
				DwAAAA==
				</data>
				<key>RM,pr2-force</key>
				<data>
				AAAAAA==
				</data>
				<key>RM,pr2-honor-pr2m</key>
				<data>
				AQ==
				</data>
				<key>RM,pr2-init</key>
				<data>
				AQ==
				</data>
				<key>RM,pr2m-block</key>
				<data>
				AQ==
				</data>
			</dict>
			<key>IOClass</key>
			<string>FakePCIID_XHCIMux</string>
			<key>IOMatchCategory</key>
			<string>FakePCIID_XHCIMux</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x1e318086</string>
			<key>IOProbeScore</key>
			<integer>9001</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>RM,Build</key>
			<string>Release-RehabMan</string>
			<key>RM,Version</key>
			<string>FakePCIID_XHCIMux 1.2.0</string>
		</dict>
		<key>XHCIMux 8 and 9-series</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.rehabman.driver.FakePCIID</string>
			<key>FakeProperties</key>
			<dict>
				<key>RM,pr2-block</key>
				<data>
				AA==
				</data>
				<key>RM,pr2-chipset-mask</key>
				<data>
				/z8AAA==
				</data>
				<key>RM,pr2-force</key>
				<data>
				AAAAAA==
				</data>
				<key>RM,pr2-honor-pr2m</key>
				<data>
				AQ==
				</data>
				<key>RM,pr2-init</key>
				<data>
				AQ==
				</data>
				<key>RM,pr2m-block</key>
				<data>
				AQ==
				</data>
			</dict>
			<key>IOClass</key>
			<string>FakePCIID_XHCIMux</string>
			<key>IOMatchCategory</key>
			<string>FakePCIID_XHCIMux</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x9c318086 0x9cb18086 0x8c318086 0x8cb18086</string>
			<key>IOProbeScore</key>
			<integer>9001</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>RM,Build</key>
			<string>Release-RehabMan</string>
			<key>RM,Version</key>
			<string>FakePCIID_XHCIMux 1.2.0</string>
		</dict>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
	<key>Source Code</key>
	<string>https://github.com/RehabMan/FakePCIID</string>
</dict>
</plist>
