<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>16C67</string>
	<key>CFBundleIdentifier</key>
	<string>org.rehabman.injector.BCM57XX-as-BCM57765</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>FakePCIID_BCM57XX_as_BCM57765</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.3.6</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.3.6</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>8C1002</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>10M2518</string>
	<key>DTSDKName</key>
	<string>macosx10.6</string>
	<key>DTXcode</key>
	<string>0821</string>
	<key>DTXcodeBuild</key>
	<string>8C1002</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AppleBCM5701Ethernet</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.AppleBCM5701Ethernet</string>
			<key>Configuration Data</key>
			<dict>
				<key>Batch_ARP_Enable</key>
				<true/>
				<key>EnableRxHwCksum</key>
				<true/>
				<key>EnableTxHwCksum</key>
				<true/>
				<key>JumboRcvThreshold</key>
				<integer>5</integer>
				<key>MTU</key>
				<integer>9018</integer>
				<key>PassUpCRC</key>
				<false/>
				<key>RxCoalescingTicks</key>
				<integer>25</integer>
				<key>RxCoalescingTicksDuringInt</key>
				<integer>120</integer>
				<key>RxJumboRcvBuffers</key>
				<integer>128</integer>
				<key>RxMaxCoalescedFrames</key>
				<integer>15</integer>
				<key>RxMaxCoalescedFramesDuringInt</key>
				<integer>15</integer>
				<key>RxStdRcvBuffers</key>
				<integer>510</integer>
				<key>StdRcvThreshold</key>
				<integer>8</integer>
				<key>TxCoalescingTicks</key>
				<integer>150</integer>
				<key>TxCoalescingTicksDuringInt</key>
				<integer>150</integer>
				<key>TxMaxCoalescedFrames</key>
				<integer>64</integer>
				<key>TxMaxCoalescedFramesDuringInt</key>
				<integer>64</integer>
				<key>TxPacketQueueSize</key>
				<integer>1024</integer>
				<key>TxSendBuffers</key>
				<integer>500</integer>
				<key>WOL</key>
				<string>Enable</string>
			</dict>
			<key>IOClass</key>
			<string>BCM5701Enet</string>
			<key>IOMatchCategory</key>
			<string>IODefaultMatchCategory</string>
			<key>IONameMatch</key>
			<array>
				<string>pci14e4,1641</string>
				<string>pci14e4,1642</string>
				<string>pci14e4,1643</string>
				<string>pci14e4,1644</string>
				<string>pci14e4,1645</string>
				<string>pci14e4,1646</string>
				<string>pci14e4,1647</string>
				<string>pci14e4,1655</string>
				<string>pci14e4,1656</string>
				<string>pci14e4,1657</string>
				<string>pci14e4,1665</string>
				<string>pci14e4,1683</string>
				<string>pci14e4,1687</string>
				<string>pci14e4,1688</string>
				<string>pci14e4,1689</string>
				<string>pci14e4,1690</string>
				<string>pci14e4,1691</string>
				<string>pci14e4,1692</string>
				<string>pci14e4,1693</string>
				<string>pci14e4,1694</string>
				<string>pci14e4,1699</string>
				<string>pci14e4,16a0</string>
				<string>pci14e4,16b1</string>
				<string>pci14e4,16b2</string>
				<string>pci14e4,16b3</string>
				<string>pci14e4,16b5</string>
				<string>pci14e4,16b6</string>
				<string>pci14e4,16b7</string>
				<string>pci14e4,16f3</string>
			</array>
			<key>IOPCITunnelCompatible</key>
			<true/>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
		<key>BCM57XX as BCM57765</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.rehabman.driver.FakePCIID</string>
			<key>FakeProperties</key>
			<dict>
				<key>RM,device-id</key>
				<data>
				tBYAAA==
				</data>
				<key>RM,subsystem-id</key>
				<data>
				tBYAAA==
				</data>
				<key>RM,subsystem-vendor-id</key>
				<data>
				5BQAAA==
				</data>
				<key>RM,vendor-id</key>
				<data>
				5BQAAA==
				</data>
			</dict>
			<key>IOClass</key>
			<string>FakePCIID</string>
			<key>IOMatchCategory</key>
			<string>FakePCIID</string>
			<key>IONameMatch</key>
			<array>
				<string>pci14e4,1641</string>
				<string>pci14e4,1642</string>
				<string>pci14e4,1643</string>
				<string>pci14e4,1644</string>
				<string>pci14e4,1645</string>
				<string>pci14e4,1646</string>
				<string>pci14e4,1647</string>
				<string>pci14e4,1655</string>
				<string>pci14e4,1656</string>
				<string>pci14e4,1657</string>
				<string>pci14e4,1665</string>
				<string>pci14e4,1683</string>
				<string>pci14e4,1687</string>
				<string>pci14e4,1688</string>
				<string>pci14e4,1689</string>
				<string>pci14e4,1690</string>
				<string>pci14e4,1691</string>
				<string>pci14e4,1692</string>
				<string>pci14e4,1693</string>
				<string>pci14e4,1694</string>
				<string>pci14e4,1699</string>
				<string>pci14e4,16a0</string>
				<string>pci14e4,16b1</string>
				<string>pci14e4,16b2</string>
				<string>pci14e4,16b3</string>
				<string>pci14e4,16b4</string>
				<string>pci14e4,16b5</string>
				<string>pci14e4,16b6</string>
				<string>pci14e4,16b7</string>
				<string>pci14e4,16f3</string>
			</array>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
	</dict>
	<key>OSBundleRequired</key>
	<string>Network-Root</string>
	<key>Source Code</key>
	<string>https://github.com/RehabMan/FakePCIID</string>
</dict>
</plist>
