<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>16G29</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>ACPIBatteryManager</string>
	<key>CFBundleGetInfoString</key>
	<string>1.81.3, Copyright 2011 Apple Inc., RehabMan 2012</string>
	<key>CFBundleIdentifier</key>
	<string>org.rehabman.driver.AppleSmartBatteryManager</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>ACPIBatteryManager</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.81.3</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.81.3</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>8E3004b</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>12D75</string>
	<key>DTSDKName</key>
	<string>macosx10.8</string>
	<key>DTXcode</key>
	<string>0833</string>
	<key>DTXcodeBuild</key>
	<string>8E3004b</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>ACPI AC Adapter</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.rehabman.driver.AppleSmartBatteryManager</string>
			<key>IOClass</key>
			<string>rehab_ACPIACAdapter</string>
			<key>IONameMatch</key>
			<string>ACPI0003</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOACPIPlatformDevice</string>
		</dict>
		<key>ACPI Battery Manager</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.rehabman.driver.AppleSmartBatteryManager</string>
			<key>Configuration</key>
			<dict>
				<key>Correct16bitSignedCurrentRate</key>
				<true/>
				<key>CorrectCorruptCapacities</key>
				<true/>
				<key>CurrentDischargeRateMax</key>
				<integer>20000</integer>
				<key>EstimateCycleCountDivisor</key>
				<integer>6</integer>
				<key>FirstPollDelay</key>
				<integer>4000</integer>
				<key>StartupDelay</key>
				<integer>0</integer>
				<key>UseDesignVoltageForCurrentCapacity</key>
				<true/>
				<key>UseDesignVoltageForDesignCapacity</key>
				<true/>
				<key>UseDesignVoltageForMaxCapacity</key>
				<true/>
				<key>UseExtendedBatteryInformationMethod</key>
				<true/>
				<key>UseExtraBatteryInformationMethod</key>
				<true/>
			</dict>
			<key>IOClass</key>
			<string>AppleSmartBatteryManager</string>
			<key>IONameMatch</key>
			<string>PNP0C0A</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOACPIPlatformDevice</string>
		</dict>
		<key>ACPI Battery Tracker</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.rehabman.driver.AppleSmartBatteryManager</string>
			<key>IOClass</key>
			<string>rehab_BatteryTracker</string>
			<key>IOMatchCategory</key>
			<string>rehab_BatteryTracker</string>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2011 Apple Inc. All rights reserved, RehabMan 2012</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOACPIFamily</key>
		<string>1.0d1</string>
		<key>com.apple.kpi.iokit</key>
		<string>9.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>9.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
	<key>Source Code</key>
	<string>https://github.com/RehabMan/OS-X-ACPI-Battery-Driver</string>
</dict>
</plist>
