<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>12C60</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AtherosL1cEthernet</string>
	<key>CFBundleIdentifier</key>
	<string>com.insanelymac.AtherosL1cEthernet</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AtherosL1cEthernet</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2.3</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.2.3</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvmgcc42</string>
	<key>DTPlatformBuild</key>
	<string>4G2008a</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>11E52</string>
	<key>DTSDKName</key>
	<string>macosx10.7</string>
	<key>DTXcode</key>
	<string>0452</string>
	<key>DTXcodeBuild</key>
	<string>4G2008a</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>L1C</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.insanelymac.AtherosL1cEthernet</string>
			<key>EnableTSO</key>
			<false/>
			<key>IOClass</key>
			<string>AtherosL1cEthernet</string>
			<key>IOPCIMatch</key>
			<string>0x10631969</string>
			<key>IOProbeScore</key>
			<integer>500</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Model</key>
			<string>AR8131 Gigabit Ethernet</string>
			<key>Vendor</key>
			<string>Atheros</string>
		</dict>
		<key>L1D</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.insanelymac.AtherosL1cEthernet</string>
			<key>EnableTSO</key>
			<true/>
			<key>IOClass</key>
			<string>AtherosL1cEthernet</string>
			<key>IOPCIMatch</key>
			<string>0x10731969</string>
			<key>IOProbeScore</key>
			<integer>500</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Model</key>
			<string>AR8151 v1.0 Gigabit Ethernet</string>
			<key>Vendor</key>
			<string>Atheros</string>
		</dict>
		<key>L1D_2_0</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.insanelymac.AtherosL1cEthernet</string>
			<key>EnableTSO</key>
			<true/>
			<key>IOClass</key>
			<string>AtherosL1cEthernet</string>
			<key>IOPCIMatch</key>
			<string>0x10831969</string>
			<key>IOProbeScore</key>
			<integer>500</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Model</key>
			<string>AR8151 v2.0 Gigabit Ethernet</string>
			<key>Vendor</key>
			<string>Atheros</string>
		</dict>
		<key>L2C</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.insanelymac.AtherosL1cEthernet</string>
			<key>EnableTSO</key>
			<false/>
			<key>IOClass</key>
			<string>AtherosL1cEthernet</string>
			<key>IOPCIMatch</key>
			<string>0x10621969</string>
			<key>IOProbeScore</key>
			<integer>500</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Model</key>
			<string>AR8132 Fast Ethernet</string>
			<key>Vendor</key>
			<string>Atheros</string>
		</dict>
		<key>L2C_B</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.insanelymac.AtherosL1cEthernet</string>
			<key>EnableTSO</key>
			<true/>
			<key>IOClass</key>
			<string>AtherosL1cEthernet</string>
			<key>IOPCIMatch</key>
			<string>0x20601969</string>
			<key>IOProbeScore</key>
			<integer>500</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Model</key>
			<string>AR8152 v1.1 Fast Ethernet</string>
			<key>Vendor</key>
			<string>Atheros</string>
		</dict>
		<key>L2C_B2</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.insanelymac.AtherosL1cEthernet</string>
			<key>EnableTSO</key>
			<true/>
			<key>IOClass</key>
			<string>AtherosL1cEthernet</string>
			<key>IOPCIMatch</key>
			<string>0x20621969</string>
			<key>IOProbeScore</key>
			<integer>500</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Model</key>
			<string>AR8152 v2.0 Fast Ethernet</string>
			<key>Vendor</key>
			<string>Atheros</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2012. All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IONetworkingFamily</key>
		<string>2.0</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>2.6.5</string>
		<key>com.apple.kpi.bsd</key>
		<string>11.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>11.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>11.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>11.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Network-Root</string>
</dict>
</plist>
