<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>11D50</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleSmartBatteryManager</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.AppleSmartBatteryManager</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleSmartBatteryManager</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvmgcc42</string>
	<key>DTPlatformBuild</key>
	<string>4B110</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>11A511a</string>
	<key>DTSDKName</key>
	<string>macosx10.7</string>
	<key>DTXcode</key>
	<string>0410</string>
	<key>DTXcodeBuild</key>
	<string>4B110</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>ACPI Battery Manager</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleSmartBatteryManager</string>
			<key>IOClass</key>
			<string>AppleSmartBatteryManager</string>
			<key>IONameMatch</key>
			<string>PNP0C0A</string>
			<key>IOProviderClass</key>
			<string>IOACPIPlatformDevice</string>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOACPIFamily</key>
		<string>1.2.0</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.3.1</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.3.1</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.3.1</string>
		<key>com.apple.kpi.mach</key>
		<string>8.3.1</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
