<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>com.pjalm.injector.USB</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>USB</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AppleUSBXHCILPTH</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.usb.AppleUSBXHCIPCI</string>
			<key>IOClass</key>
			<string>AppleUSBXHCILPTH</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x8cb18086</string>
			<key>IOPCITunnelCompatible</key>
			<true/>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
		<key>iMac17,1-XHC</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IONameMatch</key>
			<string>XHC</string>
			<key>IOProviderClass</key>
			<string>AppleUSBXHCIPCI</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>port-count</key>
				<data>
				FQAAAA==
				</data>
				<key>ports</key>
				<dict>
					<key>HS01</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						AQAAAA==
						</data>
					</dict>
					<key>HS02</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						AgAAAA==
						</data>
					</dict>
					<key>HS03</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						AwAAAA==
						</data>
					</dict>
					<key>HS04</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						BAAAAA==
						</data>
					</dict>
					<key>HS05</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						BQAAAA==
						</data>
					</dict>
					<key>HS06</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						BgAAAA==
						</data>
					</dict>
					<key>HS07</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						BwAAAA==
						</data>
					</dict>
					<key>HS08</key>
					<dict>
						<key>UsbConnector</key>
						<integer>255</integer>
						<key>port</key>
						<data>
						CAAAAA==
						</data>
					</dict>
					<key>HS09</key>
					<dict>
						<key>UsbConnector</key>
						<integer>255</integer>
						<key>port</key>
						<data>
						CQAAAA==
						</data>
					</dict>
					<key>HS10</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						CgAAAA==
						</data>
					</dict>
					<key>HS11</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						CwAAAA==
						</data>
					</dict>
					<key>HS12</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						DAAAAA==
						</data>
					</dict>
					<key>HS13</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						DQAAAA==
						</data>
					</dict>
					<key>HS14</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						DgAAAA==
						</data>
					</dict>
					<key>HS15</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						DwAAAA==
						</data>
					</dict>
					<key>HS16</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						EAAAAA==
						</data>
					</dict>
					<key>HS17</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>
						EQAAAA==
						</data>
					</dict>
					<key>HS18</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>
						EwAAAA==
						</data>
					</dict>
					<key>HS19</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>
						FAAAAA==
						</data>
					</dict>
					<key>HS20</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>
						FQAAAA==
						</data>
					</dict>
				</dict>
			</dict>
			<key>model</key>
			<string>iMac17,1</string>
		</dict>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
