<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>17A405001</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>IOUSBHostHIDDevice</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.usb.IOUSBHostHIDDevice</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>I/O Kit Driver for USB HID Devices</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.2</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>10L213p</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>10.14</string>
	<key>DTSDKBuild</key>
	<string>18A375</string>
	<key>DTSDKName</key>
	<string>macosx10.14internal</string>
	<key>DTXcode</key>
	<string>1000</string>
	<key>DTXcodeBuild</key>
	<string>10L213p</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>Generic Keyboard</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.usb.IOUSBHostHIDDevice</string>
			<key>HIDDefaultBehavior</key>
			<string></string>
			<key>IOClass</key>
			<string>IOUSBHostHIDDevice</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>bInterfaceClass</key>
			<integer>3</integer>
			<key>bInterfaceProtocol</key>
			<integer>1</integer>
			<key>bInterfaceSubClass</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>10.14</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2000-2017 Apple Inc. All rights reserved.</string>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.driver.usb.AppleUSBCommon</key>
		<string>1.0</string>
		<key>com.apple.iokit.IOHIDFamily</key>
		<string>2.0</string>
		<key>com.apple.iokit.IOUSBHostFamily</key>
		<string>1.2</string>
		<key>com.apple.kpi.bsd</key>
		<string>16.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>16.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>16.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>16.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Console</string>
</dict>
</plist>
