<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>HDMIAudio</string>
	<key>CFBundleIdentifier</key>
	<string>com.exvision.hdmiaudio</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>HDMIAudio</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>HDMIAudio</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.exvision.hdmiaudio</string>
			<key>IOClass</key>
			<string>HDMIAudio</string>
			<key>IOMatchCategory</key>
			<string>IOService</string>
			<key>IOPCIClassMatch</key>
			<string>0x04020000&amp;0xfffe0000</string>
			<key>IOPCIMatch</key>
			<string>0x000010de&amp;0x0000ffff 0x00001002&amp;0x0000ffff</string>
			<key>IOProbeScore</key>
			<integer>60000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
		<key>HDMIDisplay</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.exvision.hdmiaudio</string>
			<key>IOClass</key>
			<string>HDMIDisplay</string>
			<key>IOMatchCategory</key>
			<string>IOService</string>
			<key>IOPCIClassMatch</key>
			<string>0x03000000&amp;0xff000000</string>
			<key>IOPCIMatch</key>
			<string>0x000010de&amp;0x0000ffff 0x00001002&amp;0x0000ffff</string>
			<key>IOProbeScore</key>
			<integer>60000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>2.6</string>
		<key>com.apple.kpi.iokit</key>
		<string>10.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>10.0.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>10.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Safe Boot</string>
</dict>
</plist>
