<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>13B42</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AsusNBFnKeys</string>
	<key>CFBundleIdentifier</key>
	<string>org.emlydinesh.driver.AsusNBFnKeys</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AsusNBFnKeys</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2.0</string>
	<key>DTCompiler</key>
	<string></string>
	<key>DTPlatformBuild</key>
	<string>4H1503</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>11E52</string>
	<key>DTSDKName</key>
	<string>macosx10.7</string>
	<key>DTXcode</key>
	<string>0463</string>
	<key>DTXcodeBuild</key>
	<string>4H1503</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AsusNBFnKeys</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.AsusNBFnKeys</string>
			<key>IOClass</key>
			<string>AsusNBFnKeys</string>
			<key>IONameMatch</key>
			<array>
				<string>pnp0c14</string>
				<string>pnp0c14</string>
				<string>ASU010</string>
				<string>ASU0100</string>
				<string>ASU0010</string>
			</array>
			<key>IOProbeScore</key>
			<integer>30</integer>
			<key>IOProviderClass</key>
			<string>IOACPIPlatformDevice</string>
			<key>Preferences</key>
			<dict>
				<key>ALSEnabledAtBoot</key>
				<false/>
				<key>DimPanelBLightOnACBat</key>
				<true/>
				<key>F3KeyFunction</key>
				<integer>0</integer>
				<key>F4KeyFunction</key>
				<integer>0</integer>
				<key>HasKBBackLight</key>
				<true/>
				<key>HasMediaFnKeys</key>
				<true/>
				<key>HasSensorALS</key>
				<false/>
				<key>KBBackLightLvlAtBoot</key>
				<integer>1</integer>
				<key>MediaDoesFastRewind</key>
				<false/>
				<key>SoftPanelBackLightOff</key>
				<false/>
				<key>UsingAsusBackLight</key>
				<false/>
			</dict>
		</dict>
		<key>FnKeysHIKeyboard</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.AsusNBFnKeys</string>
			<key>IOClass</key>
			<string>FnKeysHIKeyboard</string>
			<key>IONameMatch</key>
			<string>FnKeysHIKeyboardDevice</string>
			<key>IOProviderClass</key>
			<string>FnKeysHIKeyboardDevice</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © EMlyDinEsH(OSXLatitude) 2012-2014.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOACPIFamily</key>
		<string>1.0.0d1</string>
		<key>com.apple.iokit.IOHIDSystem</key>
		<string>1.6.5</string>
		<key>com.apple.kpi.bsd</key>
		<string>10.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>9.6.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>9.6.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>9.6.0</string>
	</dict>
</dict>
</plist>
