<plist version='1.0'>
  <dict>
    <key>CFBundleIdentifier</key>
    <string>com.no-one.BrcmInjector.0a5c.6414</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>BrcmInjector.0a5c.6414</string>
    <key>CFBundlePackageType</key>
    <string>KEXT</string>
    <key>CFBundleShortVersionString</key>
    <string>2.1.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>2.1.0</string>
    <key>IOKitPersonalities</key>
    <dict>
      <key>0a5c_6414</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmPatchRAM2</string>
        <key>DisplayName</key>
        <string>Broadcom Bluetooth 4.1 USB</string>
        <key>FirmwareKey</key>
        <string>0a5c_6414_v6820</string>
        <key>IOClass</key>
        <string>BrcmPatchRAM2</string>
        <key>IOMatchCategory</key>
        <string>BrcmPatchRAM2</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOUSBHostDevice</string>
        <key>idProduct</key>
        <integer>25620</integer>
        <key>idVendor</key>
        <integer>2652</integer>
      </dict>
      <key>BrcmFirmwareStore</key>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.no-one.BrcmFirmwareStore</string>
        <key>Firmwares</key>
        <dict>
          <key>0a5c_6414_v6820</key>
          <data>
            eNrtXdeW5ThyfO+vgTf9Bvv/n6SIAHhNaWdG0pF0VtrpahYJEIRNnwnUb+MM
            /wVjnJ311++SlzKMNcmY1ULILjgTbBs24tXaydtYfAvvJ5+Ni+le+V7lXvVe
            7V79XuNe817rXvtcaPxc9l7uXv5e4V7xXule+V7lXpWXK3abtifHue8/PKKB
            6jN+jxhNQK2mGcMZcNZ8/Yv91+/dF95hqqyL+O2CD9MH7330+NZHZ2KMPjhn
            kJfd8py2GUpuzuScRkK/ko07OJTbKYYRVmA7zaC+NsJ2TvOudAiua2lsLYal
            PGaLd5sd+208rmyKSnh+4cLT26oSDSUG3tuQAmYCby0rHBjh1teOP6l51jbR
            yB1zv7W0ew/uzsG9l6eVe083P9/7uPXM+97dfP+UG+yLOaUcqkGF6N95728d
            BEsbxx7enhW7pU8Pxt6f+Xlb3VPY7TMfI1NnV9jrMx+DPj0P57q1P30yafz7
            /FwFAbY8fbjfcj5vl1+z8vmtu9MwftTp72rN8p1fbh+AO/arD+Y1e9/571X5
            x+XNrp9jX9Om0//dP/O7GSe/fOdnVHDLf825t6+1+CpfkHP7Q8R698e/pjJ9
            5j/Q0Z75tD/W4ue4LnlC3nd+fq3LV/5T3QgWXdp3FR4YNre0e9J31v0D25Wv
            0LeWdi+CAJenOfTBeQ+4A5DeDhQb8gaNM62phVZf1drwtSjOBotxdCdwUanm
            3q9tc2cEltMpyCINCCrpMYawiwEhMWlz3H/xfhZiFmor1n/PyTOXLxhu5hvF
            02uWvtbwNV0/qCSJGAoPpwIBP+WpqpoaSihM6y3SEUSLaZZTukS9TyLLpvJe
            7o/SJel9YzeRziJ/nJ6hdLXVMr04LKYdyP7zPT6qvvrX90wHdOn5numILjzf
            Mz3rVBpkmukWuxME+MwKT9myVGGb7ZQdazDdRx9MbyIP07PPV7qb3txZ74J/
            nJDmmz/YVIbSoYU7baLTbbRxsLQr3UMPh8ZOpXfY77QHDPxIl+T3wRG7AIvg
            pyaAn5i9UKF4UAV+k+69n17vCVdtNyzHc2+C5/Bj9b/S5MUeLQ8BgGDZHz5W
            3GiCVtSDIiO2tIBTEdgSsKgBgAGZA1cFHCdc6MHG88TzBAdHjbEB7xq+KeCV
            DYDkhkmA7gQeltYCYFWT2gL6RlzIz2QxHe8H5sDjssALvEe9qBVzg8uGqMsB
            i3lhpkND2w1tk2cVsPkwBAEhe+F0xHJGTDEFo7DQ9zlMnBlTZzGecPoJLgRB
            CW2jfeIl+4mxpD5xIQ/8PXXkhQAW2nFVMDSOhwD+B31Dr+0LQWMFzGwsjH4H
            /S76rfx3uaHcodyp0lOlZ/kqR9aUNsfPdz/qwExGcIKCPm7gAWCl6+sevsuF
            ASjc0eh30O+i38r/qE/v0vmtEkklsnnKidNYQOUgj7HnZ+Fn6KfbvgNksWw6
            eSfwJeXx/KT+/Liin4yfqB8IcM939c++2/pZ+Jn8mVkQEBOW3A03VEcy88/q
            8Es/Ez9DP93zO/dX3wX+kBR0inAh4ifpO8Ddn30XE37OP4sfgGi0z3fNYi7/
            4DvJPf/guhjr/i9i7H8/lq6jC6RUJfT+jbH/5Bj734+l0QsCMiXFf06M7X5O
            ceT0z4elVw74z2GC+4Tw/wzM/hEsAorze0bfsPYj/wVLyP9YAX/kgBLRxhtu
            UCa+y7xhAfnhnf9ea2LSx6r++Vq6v9fyf2gt/0vrl5IgoFLf+4+vpWlnsHa4
            R39SDpR691IAGxWW/pTZr1yUA22XuUXydzsGkzBfn877K6vu/dLXPlRLwJH/
            lNSz5PZ0dcBOudyMcmw1sZNggfF4yKbBFSl0gLLTw0zB4Ev7O/2+ubftvFij
            d0cPLNJWmaA5ClpwsC1Rn4hq7yrBtufiPNdYWks01LMHpkOUsS1fejtWMlkd
            8vLsb6+tDMCVNBZq+UHzodQanyloqVmpYq7diNAtWwZQp9eXlvsuYzs1bMtp
            2pD7Ou1VTRDQYrwa/md5t2jPQvmOOgFCx+40vsr4QcLOdheWqvRxWflnGTCR
            peVJbpvVuqbRf9cTZwj2acuPUyY+/deIwUTsxxdpGsgzWKGaMLHutExr7UcZ
            cLd8rB91Y9FPmVLsZxlo7C2rHhDC4vq82PxZBkp5OG1hEly5Zb5H0EBg6lOm
            3JnI3zPRsbhLMwHClkfvtz/xo8wYAUNjmUri19u1mH3WM0FI11PG7VOmuK8y
            a5V3WwCofix4Nn2UgexDSXDhdzxTestDvFH/x/osb00b88zDWclxrVUf7Vrr
            BjD8lgFE9GuU+SzjYvgo406Z/jVG69FXyrxADcxVORA9vusJufhTZiI5Tn9q
            sB+YYWmjjiqDdRmmr0tfPushLMny1JLqOVbG7/5kkIaiMlnYIxjY32UwFQSQ
            W087fY7FfcCtrWl4UiBAObt+6rGkNe8yjVSclAgSFMXzdQRp99kWRN8hKxek
            M6DPaWuvU2Zfq9iv3x++ETfLr9+ktZcyyHDffVks42ydvOdeqvkkibmuz3Te
            Vcav5k++j+C9fD8rbSuYvPN9M6QsYb7I93+Brr98Af8g76uP5octz/6Bbe8P
            /oEq9+atK9HmsGxPyZL0AbwcJG4X0bHcljhyA1vpA3LItm4SfK3AGMQ9eDud
            dy15D3KClI+rYXa6hxTtM55zKR5I6pHla3C+je4blLQ+ve+RAA9pHfmzJz9d
            9mDMflGUSIDyAT7iQVgr2BikakAG3VlYwhRcXMF1SNpARR97QMVgBrjA9yFp
            QdtzeDlDBDmMHXcTQJJrAPKD1NgAiSrkGEEqcYEOZ6QxFaGUGcqggRHV+I2q
            SqjdhrpqoBDXIDA0lGnDhbbxTJMe+gLNJvThg7wNaJwqbYc41F0KkDwg2OHq
            uBZwE21NsNAJFWPWAbJQwsT4QOECagpUUFbD86CzDkOxEwpUgsC4ICzi3ukY
            iQGoDRbrgegAxwwJjCxtQGRceMZSWI8RxREt1WIsix0pWkywxXfOLahmEC6p
            pFUfXY/RzRTdztHZHLGg0UdcGVfF1VP0M0ZMSeQyY60jSUxI6EgZEbo7BpYj
            BgAZ0EIdWijcKGDhv4+x7AjCHiPKxIU0BhBtjckHzM6GWNZiKniueO7Inz6m
            NWMyOUJgRhUtqkdpxFxQZV0xd7yDoJwhz0PqjQX1Fbo2IWaXhDsKAjHJ62Lp
            KxaMr6BOrG2stkVAcMRKY/ZWBMjEWnqsEGkq6q1jxrpcrBvvzYKE42PDfGJF
            IsA9NtQNOIgN5RvmBnANoX0jHX/9Li1sOkExVyCgsdsRO9rqIUa0EKH9RTD7
            2CtAs+F977EDMDraA8xAeisR2jZo34qAdqxgiCNlTF2LA3M9MEejI3/4ODCm
            gfGPjXdY14l5B/2BaOHixHd4HSfWcJYaZ21xYg1mn3GivYn+TtJRIw/x/9I/
            SV9UfP7+9y/6TxoYqNXfIPCv+k80ADwp/T0V/6L/liDANfv3VPxr/rPu12+I
            5r6O/0dkbUL3pPxrjq3shGTcvPC2Cdb4qaOaufDdgpLESBdrOoTeUHA1KODF
            +gRZdnuZj3Cn/Y1phrBB6dc7aES+3GcqW7ccVQY//EmXm2asG9PjeQ/NZ6h+
            q7Qp7n5v1Y7FGgWbClM0CKgv1J7uM7QWtq3nysgan8xAuj79VvxA7uob+hKe
            Z4ys3GdoUWjzPI/hWH5ojNazvJ6huX+NK0T7NS5o3c+41O+yoHAykMznMdH/
            5FmHsQNpPhda1nyefMaDDfcZ+pUtTz5aZtgVvpnxqUMjyiuYvJTOmBmDe3cW
            Zbh+kLt//YZE7WlSz1hPx5AVs5Mi9rCymw69srfLjK3ZDko4I/oYGAlVdzs7
            o8o56I9h7GSdtZamhhDGSUNT9wzUgB7J8iMHN5B2SqPT7qShY0I5570xLBR3
            xkmdu7/3oKguNLehF6ySZeHdBios9BzA6QD0Ei5XUEgL5rgoVqvuPKFVTcBu
            YS34rGFICdqE7acdpi00M1oSh+F3HEeofEZFymf8lbCl4sOs71BMhjfLOmw6
            ec7uQD2WeehjNp829HJs7k8cYbnpMs69hnu/tvnypG+5du/1lm/3fbvl283H
            MNeptymSDEq/LFhPDChmXZbwUlw99f76HQYVec4wBB6LOeQwNtRkYAfn02O1
            QAxzTJtub7oJoKHv4oAGBiq+pYU7A5KgJLtOnL/v0qLpD9o75qunGpzmzA0H
            DRIlnN9F4UIYA53++1rdAEGas3DHYgCrLpjoy4HVMTLU1zAtNEwHLVcWPYv6
            WqbVLdtFn47DqKZ10LDxDtfUWJBmHTN30PZkIiOR3FwVQ8gH0JwpFbShh2nK
            tgoiSyHZ2m1iQFYthjAIaMypFBQNO6g5hsb22kvpib4OIABjykxdRu3naSuN
            dJZWb8ZmBXRmQsUHnLlqGuoGXcNXIdGZTq8/8A84UFlPaUBi1eNVD22XZjGP
            MWVJ78wsK5OWNxkl3+OiCQSrq7FMu8ux8blsFsnSNoqTna4AFTmNxa9pJyMV
            8jEJ7kXHhN5p/mjkHtbkTNxgECqQH4hxgv5yNoVj4mKhTz2tnOfOK++OBtLz
            nF0o2YOWABu7231bus8KpuCdRlfsMGkCbtAAwyGUz9g9u2wpANaGMrVU25DV
            +Our3zSw03geQ4lBYckWiIPlwcWx03VTTp9G3L3l7MdeWTCAubRRuJHoFiPc
            0T7H7/ozhxg3vw1x0+cJLjltT+ddWqCfeWNWuwXlTlzXT9pVHTCT82kOPKKm
            0hlbSZNzQ38WbcU0HRLn5ARKrrzrYJkE2rYspVR5W5/1tlzvbk5d6COGANov
            6+8OeYQTTQlQCTlgzCAJxwU69gCVN9MuYJJcWnUOC3pBuCDd8LRk4R4i8QqY
            Bjj1lfEfgMGKcnOCxezYRwYTn6Y5ulmzQ6r5cr4hlakD89IXsLsDE3KVCy9N
            WziviSGmO9B5NUAfCoMo7brPeYyLz2AjNgHX0WvglHBsqf4OPOf8AgZ5HVAH
            TGNcbWVPeoB584RNzqTDxIHYZcz9cIzOv+MCnC3n32lPfzLW3651eBJjcrG2
            z5hs3d1qf4MLMlXRp4l5Ap9ru77nKxMq56JxuzBgGmNv+9Cm8IzRGkazYi7k
            ON2MMe8isp1G/gMDDLklNoKAgwPabkCyAICWcxcoBqFd0Ap8hjvmqptDMfoC
            K0bdVV4GzMFambGnoJYCDfFDhpMULEF58zF8Lv4Sy6HNfkTRsg1gOHyo3Cik
            LV/6w28iI47pzwANT3RTmDecCo84lfHg1UOjiFfBHLzM3FmRybpDIk75tMcJ
            WCA9KDRjCt9BMjBt+B6cwBda5sEHRAHoJD7fYmwDsABu3e2T5xyhvlswvcIo
            debVtVvSngOsNclBOLDyzHtMv34DNEoUf++AMiDIyJXwZsHXDOVD8KbiuuZc
            /Mlnuu0EjJZ0xK0eHHhzxB0SW+SyYP2Bk0QOF4d84G3TVVNzLaobS465gRzK
            dqeDhgpQAqn6oPXckEHussVrx4jdLfK1QgI+vWIBAKcLQhj4WzMR69Upz6CM
            PzyJjhcGacRAd4tknxYBowXyvPorrzR4OwMqOld1MWQYH+dWiA/AMucOv1Ub
            XFeMlvITv1NQvDuygb6lZAl5PDoAMQgOkEYywWAUe3EFApzvY1sBV5v0KoL2
            7fbwEz5jvRrXrue9Hpqe4iY4C1bYN/FP0JkJ/slOTMIOYB19ho5x8zbxrnri
            I9YizbrL2aQh+caxbshIZywgYCFwbwvu1hwh6PJ14ilxNnq6QyDfBI1lrDYB
            noc/PnKEAw0HB6uM4hCfmfg2XHxgdGQiK8S6ZvCaivowllay5pdQaSHfdoyk
            pDccYNxRa4FxtBZWA4FTfRUjpkwC2WwqOH5TSlmU4xiXM4r8l1miGMocbyQD
            ZYjekN7rmVvIug14UyWjkB8BCNHmJA2CTpCeMXvQ2xICA+a8nsFAHCAc+kbi
            XGrN3OF1bA9IZSm/C1EwT4reYF8FczsmDTIPwi1jiS6ck+aD3m2A91I8KXEo
            3GeUD7jKR5o85uzj4BjRZjltroo2m5B2K+6h3PQZZzzbiiDTkDxUucFAO6FG
            0CNIvZiyBfVO4EDVDpx6+Dx1rjxDA1MaEODMaNyCddY3Qszh2k61ccrSTwug
            btpBojUlQ9N6Aj8BCz6k8cDmqSe+5DmkPIMMHrjDcNKArt4Ew366A+uWsApc
            I1xSW+dd+I+xHdisO5U4QkX/wIQLVkp0CzAxqvpfOjqe2ikTMK/MZ7pwjpFH
            HOD+ENIN7iQZVG/bgeVKXCvIJ2m03d3+uYNzRv0HUfc5gRbcPI5np+5q3/LW
            A0DdwMxBOKvnO8jB9o4P3477LL2wruyq7BhdoQ9f8rFgGz29vCiKF5XVsie9
            vvNafUtoV/2kLOnIYz/xe6c7j/bMI2moq4B727u3okFVChkwADIRw5eqZK2A
            O2SkQ1MIz6CPvGfRFitfNvUCMDanUKfuJqMvTvlDjxkNZSFPHXrM4AirNO74
            YQAGeC7Ti9Gx1PTAzbLdyBunLO05ztfXGCl3eqSN4D8rXEG8cK6V/qqvEZM2
            PaOi/7ycB7Xi2vxVOazr6pDPHz1kdmiN+dfvyPCRtx5nC0ka6Scokb80ZpAP
            Xd7/5PmOPMwhN3VabVjidlLKAVY6DtZPZSWHGAUVFuCJka5/5L/6kv8gMzgp
            Ho56GQBzJbqPpXODePE+QA+0eykf3RuiGmNHULNk+EFR6MH1h48fXgBedOGP
            spBkFLCaq3cC9rsF4y3M17qRLpPHGIVky5z3Glf+HpefaPmjPMcG3v/ID1BP
            F6OYOgpa8sYAiKmEBW46bOLtHtAPekfBHmKQuXwdeM3IJ2BrIWr3pi2rki0k
            BwFtySsU8/DwesjMq4LX98PrY+L7N02STAJZv9crC0AfOTTTnL5Y6onA+ScP
            a6j34R+8V6zewRn1VTIs+5pNa8AHlzNwv1IO12bWBtxwZ0zR3bKM90K+ymgD
            LFBHz5R6ISdESLiHJ5oThLn1G3TSSr4nArK8y5DhAemTSqo9tieQEd4tRETV
            X246+tN2vfke4qHWQ7Jo1dio9aAlS72c9psCHkv2oXLWXDor3C4378gkAJ0B
            vG6QRwis4fK0zbBa59Wvrc2+Tn1B24NmoU6EzIn2Rcqm4l+QSfDBPNv+IA9T
            /nUQBwx1MvXPD+SNzvAb6N2042ToKmO6uRdjeylWRApvigxtNEJDgSP+mwUZ
            fSUGaCANvreIaLJBUF9hwLLE3AHeDBCY40N/Bz7ZJHmYayM92h++QYHMYCyQ
            BYTHGguqs5xvw7iVBPr56N8VONj6pqDUmvSB9cFTpINT/mJbdrPdd3vOHPhj
            +Fki25MCc+iGi9muBHk1Z0+5j3I5CNnE+mQSv7f+Fyz7kEffL32w044P7lUO
            v+NcjI21PLs3zUOrHCYNYqFslpjQ3OaJZIPsd2yJ/IabE6l+htCsy6R90idp
            hzibvbE+qddHP3zmfGR96xRFHM/42WdXb9uQ9bw7tgwKctHmTl1tFIzj2K6W
            9tjSJp3CID5RtHHccW8haaWjs9Ag4dZEvvpmlE9aBDpDvnrpkCdPIcBVLzzD
            2PAedEdp0P20u79lJc8Xc2Ri+kYm6KrKEQzANzrtlVUbe0e7z9NfGRVC7rjP
            +KYeGytoXgJ4MPid76Z9l7Ma4yysP1o98zualfndbnOo7WPAKJu0UOm0Y80q
            /0k3+0JPkPesgwHsc0MsqezL7kRzGKOMsL6R0YrhA17BVyhXAmCyhJ30fiav
            QI+Q3LXRtrno90GvAT9YC4Dv9rVSNzzyJWRg+VgIGrJneunZspcQ/5eLQPXN
            yd+0T53Nwg4VnDaDtLa3neNEs54o9lrOuORkOf4KSjAMqe9p6R2VFbAG4HEM
            JVPHh7A4IuAyGe4tEk2D/AxYz519etFJyuDpMFW88/bi9oJqkz9wG3L8Ai8i
            V7NfdBbfN+0+SHQ/jC5LJbWqaZ80ZQza0qEnJtYhvVKyZnCMFBvx6NXShTBE
            iKSCAcb+6hkgRTuh7cd+I5mwkTGzHEg532FxaRfh8Q7Kx+rrW5IZwjH6p7S9
            8Eg9eBKHk2yQLzgNB04Zca7yVBTv99Kdp3RnTPT0p34IDPX282fd4eALWmCo
            IPoIYcbuThPtgJTwc0wTxP3nWJ52sWAHt/ptVxoollLP5fQ1/vt5As9aQKOx
            pnBmVuDMA2NBcqTVaRHPOjP+8eCFeLtzHev10CBHQoKxD6wZbRl0Y2DtsPBn
            zQDWBRoRqrAVQNdpO6HFDpKUnFO7QxMAiwAPxl1znG460Y9WBJv1E7Z8PLAJ
            8GME5KCOi3Fwg7js1hEwToF5XPpZbBquhYl5huwXIKt80NCrv3iIJ5BtuvTK
            JBlJNDRALxyUw+kbjT9oaMZ39U1D2+79lrUqy11l9AHhYduHhnJD5ENDrXTD
            dp8PDaVwuyvNY9Y+tPTJ4zkkpKn2oamzlb+iqef5fG/toa3Q2S0oWZn90FbB
            Rt3hTVtJ+9leLIfGbswr+yp9Fzpaj+zteskY6fJXOnWTjoHooMZUqiEOVxoZ
            wFog0lTI2lBY9jmXg99YS8uaPT4d+V3o2+F3aGvIBl37evhrNofuyQxybOg7
            eMJ038lRXrOWp2MA7grHQPpI+8xjqyatep4h78tfdOo+9wDYAUxBjzj00dKK
            ZlOTnxPaLJ7dy+8Zjt/zlfYnHaToowXIOMtu+vsgQ587YQvLqvNYmHaBE3Xs
            SLy3KX0mjKZDVBYhRHs3QAgZaUA85QYi1Tl6cwkSM/pLrg+EqJJJ6JsatFtz
            X+q993DPgHHyVcn/283LR7tClk5GJ77u8dyfM0BAE276vnf37s+93/ekHzy+
            x4+37EXd1JyzirRm2+1Nn3SAhkMeHIqYn+Y7QpTU1jauTTvrJLEVoMR30H3b
            MwdM1wS4SlqjijvwFjoYEQTP4T4HxkNwHh6f/90/le+JOPKPnS1IPKHH0nvJ
            H2fkU3fiVne9h/QgGxPWNpfe9tD8k9yq/z5KJiiEamtk+63gC5bsz7sLdx9+
            WCODmTMRci1gqMtXeMcHwZ7yINesUsc7NrGsskDR/lnOWm7Y7ZN2nZYsd5M/
            siPP8YDSAwoeOHSQOsa113X8gF40jQERsqGcXTrsk2wOlFsDfXmoyNBeFibG
            sUKgvJC2Lazal2x5xBPpQ0UZxlaUFSCWTkVUkw8ELCdkI7csT+MBxWEbt23Z
            O2ieRnr4YxM33mrXB/A4qD9O9DRSfytQddgXNA5SwY0Fnfst2V/avUvI2br9
            7k/BsMEwv/szTn8m8kjfIIB/+XUWRPOTbuFotAeGtcOQMRe0+ZFn0iBnz7sc
            zjusT7381Lsm+Pb5wncGTAP9C332mXsXuGtHkKW1OfbRfHD15XOmrR8wDtUg
            h7mhEXeQkOBBecnbKTuARcuOALLuqUKgCvqHum06dQy60+YpWaAv/sAY2/Gg
            v4xa6h+8HpSOOxXOHAkljs8QYFBS5TEtuSTuZwA620M/iz12PGAxynn5gTvt
            x74raAoAOyN9UToUyB04bqTroIlF7UThAb81a/ci/290ih1AHphP+6pvfNQH
            XhHdmcenLfKMljedLTTVm/KMxbiX7ypjzeiB8nddDq+QPifstPSLecnBPBxM
            +kUwousWlKXkqrlsz5rRR+6TDbSJQPAheeVYh6e8L74lXwT9a/TdYz6dj/S3
            AM9oA1C+526zU572okFhwx05D6ynMY+nbFlusgEUSccPv37Xwc0wR7f3I8js
            BDUi+R6qi4Aj7m+0Oy3GsXTIvB1j8TRgYPj0WyEP2mYZjJGaWPyE+6KYpO3B
            ydAUcr8HQIXHJ0Afz4LMqzgF6KLkW5h4dAZ6z3D2iVMgcJv2Grtk0F65i5kL
            z62uOy5x9KN3hr2a7ife4fWd3aGiH5oM8ETow5g7RWMlxizZc6zasfnSoBZQ
            ptRXOfaDdJcBfu5c3dFuURPjGwlGH/aRcODgkSFoLyE8gOeQz8iHTR2HMS6M
            FRo1V64J/cXAn1q48SVhFir3v3UnvBgH3n14eGOfAMV09hjbePhvlp/Y6RQn
            8tW83T2Nyz2naWnH5bMnmY6kt785MFJBOylBk5I8RKJJrW7xBzsUz+jIAB/7
            VGiWx0LxOKtiJI2BZ20e5qG4lFIgf3DfFITcwkDwwTimppMDJZvErnIV5TzK
            VPoaQG5ZTs90NutAOLyn9E0XeTyxYtW948fsjR17xZMRviPjzyEB07lOH3OY
            oVXKW5BnJCdJZEmSnTtlPzwz/o8bSaWXo170rjIGA1KkgwLQGRgw1Ucu13ke
            NLAyYADvaabBHauZnHwog1aWoMgwv4/XfZ7YOsLRZFwJneCEW7SKkWuTpXDG
            UWGnr86eOCyaGx5RgjDId6yLBkFfTl2G9sRAB92WKfrn92dD+fv7QQi549NB
            AsdmrViRTpl1n+2M8b4b7hw9yZhGruETj3ZPgSwfaVItp9MG71hKSf7MezBn
            nY0584e5gAi+t+IFmg4X3LSZkU4DnxkKcMth/QvHljUPWyZYwoTqZUgu2qBf
            fyn2FspbO/Qz5ZseN01ZfSFNUQa0oVCvm4ALSmzrtF04BuQP5tUDD2CaLAuZ
            44EDuqweOHBucB7wXqdhVsr2yb39q/kVC5LHY189MjLnOh0rlc5UlGbAnb3h
            4Gq+MZD5yhjpkTWG7MyODIznjklWrZDHLXfNnrVE/khHd+rPs8Xz60zLeepo
            51S45GlntLUpXsbRNsVYC+hE/fhK+f28u6ihGMpOR57Ik8hOrsuLOp/VnGd3
            55wxiCkhvS6t5JkvRCKMsbLPg/KtxGkStPTINbRtRephVTy5Hhsq7lQRE+gN
            emOvXXZlxbZQnmCAp+Yi0YAhPwVyFVcnfRcYD+rgeFhpLl62hZPelB2xVk67
            QkmHT3wZhEfR1y1Bk7b0c6fN2CpY0pyYJT8n41gGILXYjcr70j305Y9f4Egy
            5cQ3gNc1+U/9W7cEgcoenI73YM8OaCiniuWMWHOwxFw/eI5rh6bRYzLQNmTN
            Dvk6A6soZ2fHuKd8YnsJl9wwSaeau/BCzWVQ5oFSkwbgo5E/Je/c1TdN5reF
            86cDGN0U/smwaJfoDZ/Hff+UCxcGn3zTlnneuR/vKDeSkbF9yHdLRz75074C
            BwgP1t2DEZ3gELy9Sd6kmB+9voUQ1+edAyghnXuHnzk5emFpTNMFwXWlHuaa
            LYrbrkFnGUpvsmeM4cpgdx/3fOJ+83rif8/9iQuGkCl99vFZNp1JZkv6iNvi
            mkEXKriWdGv6KDnHg46tXv14dO4s3yRGVpL6dfgD4YZk8sbAAuPesVW0/4J/
            tHJtwXxW/LicSKce6n6QPY4tqEya4tQebZusK3z4SFhH9b2FWx/kmubVtyMz
            8+RHPTua053iv1zDfBfuJ+BxwpTV3PZjUg5mfDcAQYe/+vAcS9omHS05+0Nv
            nmc7Q6XtXLElgALlv9rf53QU0rZ+8ngwoiaeenGV3FSYf2kwAwO9bChpRtwP
            7JOuZNo7lg5Hll598RA6YLZ5V9VBO94635r141t/v7WKhZQfeCG/Ml4iNmiA
            oFMVU4FpqnmJB/yEm2kOPVnjwhUedZJpvWcNl3PPSwouBnPu8jVRyxWDPDQl
            1N0//FyZc7EmVeZja9ufZQv0OuC5Y5wa5J5Ydh4D7OH6sjZ9AstW8Zhy8IM2
            AeIjZdnaeid+iA6iXD3GHs5PFx6FaV6+82tHTu58cwJpi86ofeyBkqmHrd1c
            +nZiS14xw1xv4rgQE1LWE8tADOCRcDw3zjLk2VLFJqDNSP1fcDFu/LViGrco
            KOkMD89g2t40PtoPfUuML6NO1xTjOkV/ICCQP9CmoHhjzC+am1DJrGwPKA+9
            E9xIMQ+K5z5HQp/4/Mh1aPgZR4dEW1ByIMGW428Z+dgBZK8DXZ8j2319MSTt
            lG3BS3U69ENTtoNMQJyjP8a9bd6giU3HOgGzHX2JxNd87dfE//mKwzOKTbz+
            O4q0HrwzuKy4N6pRRZKXTv+h27T+/I5xPPTHQ8LajOcJSTGYY9npJ1DfraTD
            R08sZpIPvIf0pl2Qy0CwWv2IRZmAOdrCFRcKMWWnJwbSHlvT9fEcaHJlrXn8
            FzzJOCmu68RGVXSCG7CwVgM6DUPRlpf9AQ3euJPHz0OKVei3BgvlfZMZnDmg
            T1k0KYkWckpAE7jYdkj3A2bQP/uUKXi/bGlYtUieT7hYNJNLsVS/d9JBwaQL
            4O30uHysKyjvIv15+co+1naWjZ4fX1n+4SvL11d2aV8BjQdDxdrfmFWqG55H
            pigeVfE677nkCeVoj3U3m7TXgl4GvYM2mCpt4ZmxXkFHzoKnBtnHU318UqCE
            7onZLpv7oACwEPOetVLMMJ+P/fMV301izXbXbffxUbFPj4+KcJUIl3dN2gdc
            UtZ5+aiKmwPLDkEfswx9FdPZ1+O/zKU6nWsm9Wz5OIZoIO2BNpQBuANKykdk
            FVcV5B+L/sSEm1llvBKscc8UvgVVAE+s3Et3YcGUemIPDOVne21K+ejQhX0a
            Vgeqk9blzQURbDutiztn/7MuWhZ4iGWTbPriaTxfmBZbQMWxWdMXZs98Vdr7
            /mieFvfAlGvXZ3z79XETvkQ3GmMT+uw6TQ864/oRW9UYd5TKxrhpHGG0EeY7
            av+G64oDrqNYf2IuX/FXr3ijEx/neYaj/UmH3KEnnQczphsHYGfD8rnP2Ngn
            HljxgpHOVBL5+YK7hk5QOef70KZ7xRsX2Xx5XFmn1V3xctz048KJE2fUjX3F
            AEL3yHRf1IR70b34AXkNNCJfGaahzOZYIpfJKm6p3rgl0TtK3/SOVupYT5xR
            aOYnTi/ILE/MFeskvRGeUd+/+Wifcm1Y5dDSkJrkaBI77oeyqHdheUGjPZ16
            Df2kj5zqVSZeRazv5EmlN/71I1Zx3Ly3/DApAVjKYiy4wXuIVOEz/jN/wEO9
            8ADRkHrJmWNrFTN04rwvjXGKEdpNdADykTPtxIM22o5AQGmEDgv696E7QAnX
            uVGpRXti3hppjOFfkKAtPykm75F5rF0MAtqKu6EPmfFWMo2dyBRvXzJzVvvl
            tO82j+o5/K9I9gS8/cQhe3AIi1wUMxvkuzxrYp7+ympsn/ef9FJ27NN3CEyn
            X51xlbSR4xuOz18YXhBW1B9FmS/zMyaSQds0UbziDynHor8W+PseM/dQZXwL
            mLD0fQunl3v4DIHHcU5PvORs7DP5a5U8IzsVN0MEGSE1J4x1eXgLD5JTzGt5
            wZGz/QOfTzxtYrAGiGikT5+8+eGn/DsauSvGFPwWdEdzJV869WTpKAnwRX8E
            8UsypDaovMtxg9onXaBPX7MUJwGONo1C/ZDO9sL9SzRS8dtEO8cZE9ty+8Tt
            iwdKZwZtSOZND4xi00Hpzp4jjdv96bi1r4Fx1hr3j3fUF2TK5/ZszMUz98TR
            MqEH/xi3i9yZAFpPCYZEuSzzc9y0HzPGG+k14vQtSi5lpOiNXSjUervCOc2d
            4zbNZzuVQjIjQ8qJWWM/nnc8rfiLBg/w6Hno+uPbok0o0pL3sT+UfTj7Q4qT
            XL/fceEFff4RN619LKLVdCiCrhCeez0xCOivcLo3xTjI60rlrndGBSk2eSs2
            mXrO5D4DO9LT3zD72b+gjYY56Ew3uz/kzk1fW2GUAnVNelm4D6Zxg2elXbWE
            509zUFKEzDnCwRHF95H0+wNvOWufh1WAIuk887n/YxFuq77jn2954oz5Zy0M
            T0xIlQxv0kaOoW7ZPpr0Xqz9fspDlqtSIhNl2Yq5qndvUH3BLOOk5FvmH/Oh
            yBKT4uZL9oqbL9w9vxlL5Wolr83l4Cf3ggk//cFPzMwyJ3JcxlN393WndPYb
            0a+Dfoxnv6bkOZ0PK2t1s2d/Zoc23CBHchkc3S3SqbiR33L254juXXfY77rD
            mEBFyVnFtbO/kuPRuIiTdzyyDUb60hX/zF16jNku3F9pGV3Cfejx3hP3FvPv
            h1Tv+IcrMLbsc7u6A22Ormlbj3w4k5FIvZ34abegf36MiePwoL9fY8OYIIwO
            p0Ppj/3KyksjXLTn73pos4ehfQxvK9un71DnW0MMlT1woG3CUdY+EDMyg4bz
            8VHxbFf61MC7puwLS3HqWfsRKmOiaDCzjJF6+i4rZKyysetPV9TjmzNn329V
            jHjRIa4B5GZHSpQAkcszd+iMDYbo0r709KD9CFRa5eM9caratxmodB875wdf
            OsBL29LVjX/yN5voa3Y2PnE18nHrmOJjdzKy94D4y2a0/fUtm3F9y/7IttSl
            C/CxN2gA1EWJp4ym+3jnKmONQlE8DOGMUs4TVyS7GXnciQU5cTEHRjdg8Ua+
            lc14i3rKHR/vLa+ThU1g3MgIJ45kjPOHmxhmeP68lKnHFnTS4cQsKcrqc+9z
            hGBXwq/fZThC+t3zpjgW8eUxFauUGA/a1tF3Dz6ZzH3Ejc/AFx9nWdwjweh4
            7qUvPEMWeLShQHHf1oi0iGiuiue+ho892CRm3G2ZzzxQN+OONMVKlXf7T3n2
            o+Veub+cfoLy+OyKke9tqj0avUoZFv2goa52yCvqnvaqa68QdMxXHwr/2MdX
            n7j3LdfZtdt0T2A16NfrjILBYCX0i3btkZ41Box2T7409Kdprn7CiEOCsZGV
            RXI+dzMP1KMD37VJhr7HKlme516wbW7F+SxjPsqArwNS795nwL4Lj30b/VK7
            WScRMyayaVsq/4BNqXKh5Gm1VbVyvfgh96XivWUacwMamKCZiN+5B0/BczFH
            R6agPnHWMf4sc9fy8O6SA8+4GRCF3N2/QB0G9D/1s89Q8UKO8UtOOw/t9UP4
            u7+S63D2QRt9B4Rr7BfkyFzjsU3yOa7NUzcYO120J9Kd80mIj90LV8vzt9ZC
            PPca/f1Taed8DhusznIY9DfdY4f2/vVvIvya7A== 
          </data>
        </dict>
        <key>IOClass</key>
        <string>BrcmFirmwareStore</string>
        <key>IOMatchCategory</key>
        <string>BrcmFirmwareStore</string>
        <key>IOProbeScore</key>
        <integer>2000</integer>
        <key>IOProviderClass</key>
        <string>IOResources</string>
      </dict>
    </dict>
  </dict>
</plist>
