<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>m-dudarev</string>
	<key>CodecID</key>
	<integer>1635</integer>
	<key>CodecName</key>
	<string>ALC663</string>
	<key>Files</key>
	<dict>
		<key>Layouts</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Mirone Laptop Patches ALC663</string>
				<key>Id</key>
				<integer>3</integer>
				<key>Path</key>
				<string>layout3.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Mirone Laptop Patches ALC663 v2</string>
				<key>Id</key>
				<integer>4</integer>
				<key>Path</key>
				<string>layout4.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Custom by m-dudarev</string>
				<key>Id</key>
				<integer>28</integer>
				<key>Path</key>
				<string>layout28.xml.zlib</string>
			</dict>
		</array>
		<key>Platforms</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Mirone resources ALC663 </string>
				<key>Id</key>
				<integer>3</integer>
				<key>Path</key>
				<string>PlatformsM3.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Mirone resources ALC663 v2</string>
				<key>Id</key>
				<integer>4</integer>
				<key>Path</key>
				<string>PlatformsM4.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Custom by m-dudarev</string>
				<key>Id</key>
				<integer>28</integer>
				<key>Path</key>
				<string>Platforms28.xml.zlib</string>
			</dict>
		</array>
	</dict>
	<key>Patches</key>
	<array>
		<dict>
			<key>Count</key>
			<integer>1</integer>
			<key>Find</key>
			<data>QcYGAEmLvCQ=</data>
			<key>MaxKernel</key>
			<integer>13</integer>
			<key>MinKernel</key>
			<integer>13</integer>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>QcYGAUmLvCQ=</data>
		</dict>
		<dict>
			<key>Count</key>
			<integer>1</integer>
			<key>Find</key>
			<data>QcYGAEiLu2g=</data>
			<key>MinKernel</key>
			<integer>14</integer>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>QcYGAUiLu2g=</data>
		</dict>
		<dict>
			<key>Count</key>
			<integer>1</integer>
			<key>Find</key>
			<data>QcaGQwEAAAA=</data>
			<key>MinKernel</key>
			<integer>13</integer>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>QcaGQwEAAAE=</data>
		</dict>
		<dict>
			<key>Count</key>
			<integer>2</integer>
			<key>Find</key>
			<data>hQjsEA==</data>
			<key>MinKernel</key>
			<integer>13</integer>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>AAAAAA==</data>
		</dict>
		<dict>
			<key>Count</key>
			<integer>2</integer>
			<key>Find</key>
			<data>hAjsEA==</data>
			<key>MinKernel</key>
			<integer>13</integer>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>AAAAAA==</data>
		</dict>
		<dict>
			<key>Count</key>
			<integer>2</integer>
			<key>Find</key>
			<data>ixnUEQ==</data>
			<key>MinKernel</key>
			<integer>13</integer>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>YwbsEA==</data>
		</dict>
		<dict>
			<key>Count</key>
			<integer>2</integer>
			<key>Find</key>
			<data>gxnUEQ==</data>
			<key>MinKernel</key>
			<integer>15</integer>
			<key>MaxKernel</key>
			<integer>15</integer>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>AAAAAA==</data>
		</dict>
		<dict>
			<key>Count</key>
			<integer>2</integer>
			<key>Find</key>
			<data>ihnUEQ==</data>
			<key>MinKernel</key>
			<integer>16</integer>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>AAAAAA==</data>
		</dict>
	</array>
	<key>Revisions</key>
	<array>
		<integer>1048578</integer>
	</array>
	<key>Vendor</key>
	<string>Realtek</string>
</dict>
</plist>
