<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>DSDT</key>
		<dict>
			<key>Fixes</key>
			<dict>
				<key>FixHPET</key>
				<true/>
				<key>FixIPIC</key>
				<true/>
				<key>FixRTC</key>
				<true/>
				<key>FixTMR</key>
				<true/>
				<key>FixWAK</key>
				<true/>
			</dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>change _OSI to XOSI</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X09TSQ==</data>
					<key>Replace</key>
					<data>WE9TSQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change EC0 to EC</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>RUMwXw==</data>
					<key>Replace</key>
					<data>RUNfXw==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change EHC1 to EH01</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>RUhDMQ==</data>
					<key>Replace</key>
					<data>RUgwMQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change EHC2 to EH02</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>RUhDMg==</data>
					<key>Replace</key>
					<data>RUgwMg==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change GFX0 to IGPU</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>R0ZYMA==</data>
					<key>Replace</key>
					<data>SUdQVQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change B0D3 to HDAU</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>QjBEMw==</data>
					<key>Replace</key>
					<data>SERBVQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(XSEL,0,S) to XXEL</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>WFNFTAg=</data>
					<key>Replace</key>
					<data>WFhFTAg=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_Q11,0,N) to XQ11</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1ExMQA=</data>
					<key>Replace</key>
					<data>WFExMQA=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_Q12,0,N) to XQ12</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1ExMgA=</data>
					<key>Replace</key>
					<data>WFExMgA=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Name(_PRW, Package(0x0d,3)) to 0x0d,0</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>CF9QUlcSBgIKDQoD</data>
					<key>Replace</key>
					<data>CF9QUlcSBgIKDQoA</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(FANG,1,N) to XANG</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>RkFORwE=</data>
					<key>Replace</key>
					<data>WEFORwE=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(FANW,2,N) to XANW</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>RkFOVwI=</data>
					<key>Replace</key>
					<data>WEFOVwI=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(CFUN,4,S) to XFUN</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>Q0ZVTgw=</data>
					<key>Replace</key>
					<data>WEZVTgw=</data>
				</dict>
			</array>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
		</array>
		<key>SSDT</key>
		<dict>
			<key>Generate</key>
			<dict>
				<key>APLF</key>
				<true/>
				<key>APSN</key>
				<true/>
				<key>CStates</key>
				<false/>
				<key>PStates</key>
				<false/>
				<key>PluginType</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>dart=0 nv_disable=1 kext-dev-mode=1</string>
		<key>NeverHibernate</key>
		<true/>
		<key>Secure</key>
		<false/>
		<key>Timeout</key>
		<integer>5</integer>
	</dict>
	<key>Devices</key>
	<dict>
		<key>#FakeID</key>
		<dict>
			<key>IntelGFX</key>
			<string>0x04128086</string>
		</dict>
		<key>Arbitrary</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Intel HD4600</string>
				<key>CustomProperties</key>
				<array>
					<dict>
						<key>Disabled</key>
						<false/>
						<key>Key</key>
						<string>model</string>
						<key>Value</key>
						<string>Intel HD Graphics 4600</string>
					</dict>
					<dict>
						<key>Disabled</key>
						<false/>
						<key>Key</key>
						<string>device-id</string>
						<key>Value</key>
						<data>EgQAAA==</data>
					</dict>
					<dict>
						<key>Disabled</key>
						<false/>
						<key>Key</key>
						<string>hda-gfx</string>
						<key>Value</key>
						<string>onboard-1</string>
					</dict>
					<dict>
						<key>Disabled</key>
						<false/>
						<key>Key</key>
						<string>AAPL,ig-platform-id</string>
						<key>Value</key>
						<data>BgAmCg==</data>
					</dict>
				</array>
				<key>PciAddr</key>
				<string>00:02.00</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Intel HDA</string>
				<key>CustomProperties</key>
				<array>
					<dict>
						<key>Disabled</key>
						<false/>
						<key>Key</key>
						<string>layout-id</string>
						<key>Value</key>
						<data>AwAAAA==</data>
					</dict>
					<dict>
						<key>Disabled</key>
						<false/>
						<key>Key</key>
						<string>PinConfigurations</string>
						<key>Value</key>
						<data></data>
					</dict>
				</array>
				<key>PciAddr</key>
				<string>00:1B.00</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Intel HDMI HDA</string>
				<key>CustomProperties</key>
				<array>
					<dict>
						<key>Disabled</key>
						<false/>
						<key>Key</key>
						<string>layout-id</string>
						<key>Value</key>
						<data>AwAAAA==</data>
					</dict>
					<dict>
						<key>Disabled</key>
						<false/>
						<key>Key</key>
						<string>hda-gfx</string>
						<key>Value</key>
						<string>onboard-1</string>
					</dict>
				</array>
				<key>PciAddr</key>
				<string>00:03.00</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Intel EHCI #1</string>
				<key>CustomProperties</key>
				<array>
					<dict>
						<key>Disabled</key>
						<false/>
						<key>Key</key>
						<string>subsystem-id</string>
						<key>Value</key>
						<data>cHIAAA==</data>
					</dict>
					<dict>
						<key>Disabled</key>
						<false/>
						<key>Key</key>
						<string>subsystem-vendor-id</string>
						<key>Value</key>
						<data>hoAAAA==</data>
					</dict>
					<dict>
						<key>Disabled</key>
						<false/>
						<key>Key</key>
						<string>AAPL,current-available</string>
						<key>Value</key>
						<integer>2100</integer>
					</dict>
					<dict>
						<key>Disabled</key>
						<false/>
						<key>Key</key>
						<string>AAPL,current-extra</string>
						<key>Value</key>
						<integer>2200</integer>
					</dict>
					<dict>
						<key>Disabled</key>
						<false/>
						<key>Key</key>
						<string>AAPL,current-extra-in-sleep</string>
						<key>Value</key>
						<integer>1600</integer>
					</dict>
					<dict>
						<key>Disabled</key>
						<false/>
						<key>Key</key>
						<string>AAPL,max-port-current-in-sleep</string>
						<key>Value</key>
						<integer>2100</integer>
					</dict>
				</array>
				<key>PciAddr</key>
				<string>00:1D.00</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Intel EHCI #2</string>
				<key>CustomProperties</key>
				<array>
					<dict>
						<key>Disabled</key>
						<false/>
						<key>Key</key>
						<string>subsystem-id</string>
						<key>Value</key>
						<data>cHIAAA==</data>
					</dict>
					<dict>
						<key>Disabled</key>
						<false/>
						<key>Key</key>
						<string>subsystem-vendor-id</string>
						<key>Value</key>
						<data>hoAAAA==</data>
					</dict>
					<dict>
						<key>Disabled</key>
						<false/>
						<key>Key</key>
						<string>AAPL,current-available</string>
						<key>Value</key>
						<integer>2100</integer>
					</dict>
					<dict>
						<key>Disabled</key>
						<false/>
						<key>Key</key>
						<string>AAPL,current-extra</string>
						<key>Value</key>
						<integer>2200</integer>
					</dict>
					<dict>
						<key>Disabled</key>
						<false/>
						<key>Key</key>
						<string>AAPL,current-extra-in-sleep</string>
						<key>Value</key>
						<integer>1600</integer>
					</dict>
					<dict>
						<key>Disabled</key>
						<false/>
						<key>Key</key>
						<string>AAPL,max-port-current-in-sleep</string>
						<key>Value</key>
						<integer>2100</integer>
					</dict>
				</array>
				<key>PciAddr</key>
				<string>00:1A.00</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Intel XHCI</string>
				<key>CustomProperties</key>
				<array>
					<dict>
						<key>Disabled</key>
						<false/>
						<key>Key</key>
						<string>subsystem-id</string>
						<key>Value</key>
						<data>cHIAAA==</data>
					</dict>
					<dict>
						<key>Disabled</key>
						<false/>
						<key>Key</key>
						<string>subsystem-vendor-id</string>
						<key>Value</key>
						<data>hoAAAA==</data>
					</dict>
					<dict>
						<key>Disabled</key>
						<false/>
						<key>Key</key>
						<string>AAPL,current-available</string>
						<key>Value</key>
						<integer>2100</integer>
					</dict>
					<dict>
						<key>Disabled</key>
						<false/>
						<key>Key</key>
						<string>AAPL,current-extra</string>
						<key>Value</key>
						<integer>2200</integer>
					</dict>
					<dict>
						<key>Disabled</key>
						<false/>
						<key>Key</key>
						<string>AAPL,current-extra-in-sleep</string>
						<key>Value</key>
						<integer>1600</integer>
					</dict>
					<dict>
						<key>Disabled</key>
						<false/>
						<key>Key</key>
						<string>AAPL,max-port-current-in-sleep</string>
						<key>Value</key>
						<integer>2100</integer>
					</dict>
					<dict>
						<key>Comment</key>
						<string>No XHC to EHC port routing for USB2</string>
						<key>Disabled</key>
						<false/>
						<key>Key</key>
						<string>RM,pr2-force</string>
						<key>Value</key>
						<data>/z8AAA==</data>
					</dict>
				</array>
				<key>PciAddr</key>
				<string>00:14.00</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Intel LPC</string>
				<key>CustomProperties</key>
				<array>
					<dict>
						<key>Disabled</key>
						<false/>
						<key>Key</key>
						<string>compatible</string>
						<key>Value</key>
						<string>pci8086,9c43</string>
					</dict>
				</array>
				<key>PciAddr</key>
				<string>00:1F.00</string>
			</dict>
		</array>
		<key>Audio</key>
		<dict>
			<key>Inject</key>
			<integer>0</integer>
		</dict>
		<key>USB</key>
		<dict>
			<key>FixOwnership</key>
			<true/>
			<key>Inject</key>
			<false/>
		</dict>
	</dict>
	<key>DisableDrivers</key>
	<array>
		<string>VBoxHfs</string>
	</array>
	<key>GUI</key>
	<dict>
		<key>Custom</key>
		<dict>
			<key>Entries</key>
			<array>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>Ignore</key>
					<false/>
					<key>Title</key>
					<string>Windows</string>
					<key>Type</key>
					<string>Windows</string>
				</dict>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>Hidden</key>
					<true/>
					<key>Ignore</key>
					<false/>
					<key>NoCaches</key>
					<false/>
					<key>Type</key>
					<string>OSXRecovery</string>
				</dict>
			</array>
		</dict>
		<key>Hide</key>
		<array>
			<string>Preboot</string>
		</array>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<false/>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Kernel</key>
			<string>All</string>
			<key>Legacy</key>
			<false/>
			<key>Tool</key>
			<true/>
		</dict>
		<key>Theme</key>
		<string>black_green</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>Inject</key>
		<dict>
			<key>Intel</key>
			<false/>
		</dict>
		<key>ig-platform-id</key>
		<string>0x0a260006</string>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleRTC</key>
		<true/>
		<key>KernelLapic</key>
		<true/>
		<key>KernelPm</key>
		<true/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>AppleHDA ALC283 (1 of 4) 0x11d41984 to 0x10ec0283</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>PYQZ1BE=</data>
				<key>Name</key>
				<string>com.apple.driver.AppleHDA</string>
				<key>Replace</key>
				<data>PYMC7BA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>AppleHDA ALC283 (2 of 4) 0x10ec0884 to zero</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>PYQI7BA=</data>
				<key>MatchOS</key>
				<string>10.9.x,10.10.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleHDA</string>
				<key>Replace</key>
				<data>PQAAAAA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>AppleHDA ALC283 (3 of 4) 0x10ec0885 to zero</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>PYUI7BA=</data>
				<key>MatchOS</key>
				<string>10.9.x,10.10.x,10.11.x,10.12.x,10.13.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleHDA</string>
				<key>Replace</key>
				<data>PQAAAAA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>AppleHDA ALC283 (#4 of 4) 0x11d41983 to zero</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>PYMZ1BE=</data>
				<key>MatchOS</key>
				<string>10.11.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleHDA</string>
				<key>Replace</key>
				<data>PQAAAAA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable TRIM for non-Apple SSDs</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>AEFQUExFIFNTRAA=</data>
				<key>Name</key>
				<string>com.apple.iokit.IOAHCIBlockStorage</string>
				<key>Replace</key>
				<data>AAAAAAAAAAAAAAA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>10.9.5 5Ghz US FCC, svko</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>WFQAIBcnIAAA</data>
				<key>MatchOS</key>
				<string>10.9.5</string>
				<key>Name</key>
				<string>com.apple.driver.AirPort.Brcm4360</string>
				<key>Replace</key>
				<data>WFQAG2cxlQAJ</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>10.10.2+ 5Ghz US FCC, the-darkvoid</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>QYP8/3QsSA==</data>
				<key>MatchOS</key>
				<string>10.10.x,10.11.x</string>
				<key>Name</key>
				<string>com.apple.driver.AirPort.Brcm4360</string>
				<key>Replace</key>
				<data>ZscGVVPrKw==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>AirPortBrcm4360 - fcvo, 10.12.x (credit the-darkvoid)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>gflSqgAAdSk=</data>
				<key>MatchOS</key>
				<string>10.12.x</string>
				<key>Name</key>
				<string>com.apple.driver.AirPort.Brcm4360</string>
				<key>Replace</key>
				<data>gflSqgAAZpA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>10.10.2+ BT4LE-Handoff-Hotspot, Dokterdok</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>SIXAdFwPt0g=</data>
				<key>MatchOS</key>
				<string>10.10.x</string>
				<key>Name</key>
				<string>com.apple.iokit.IOBluetoothFamily</string>
				<key>Replace</key>
				<data>Qb4PAAAA61k=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>10.11.dp BT4LE-Handoff-Hotspot, credit RehabMan based on Dokterdok patch</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>SIX/dEdIiwc=</data>
				<key>MatchOS</key>
				<string>10.11.x,10.12.x</string>
				<key>Name</key>
				<string>com.apple.iokit.IOBluetoothFamily</string>
				<key>Replace</key>
				<data>Qb4PAAAA60Q=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string> 0x0a260006 9MB cursor bytes (vbo), 2 ports only (RehabMan)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>BgAmCgEDAwMAAAACAAAwAQAAYAA=</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<data>BgAmCgEDAgIAAAACAAAwAQAAkAA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio, port 0105(12), 0x0a260005 0x0a260006, 0x0d220003, 0x0a2e000a, 0x0a26000a</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>AQUJAAAEAACHAAAA</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<data>AQUSAAAIAACHAAAA</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>0x0a260006, disable 0204 port (RehabMan)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>AgQJAAAEAACHAAAA</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<data>/wAAAAEAAABAAAAA</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>change F%uT%04x to F%uTxxxx in AppleBacklightInjector.kext (credit RehabMan)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>RiV1VCUwNHgA</data>
				<key>Name</key>
				<string>com.apple.driver.AppleBacklight</string>
				<key>Replace</key>
				<data>RiV1VHh4eHgA</data>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>ProductName</key>
		<string>MacBookPro11,1</string>
		<key>Trust</key>
		<true/>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Detect</string>
		<key>InjectSystemID</key>
		<true/>
	</dict>
</dict>
</plist>
