<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>com.tonymacx86.AHCI_Intel_Generic_SATA</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AHCI Intel Generic SATA</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>0.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>0.5</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AppleAHCIDiskDriver</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOAHCIBlockStorage</string>
			<key>IOClass</key>
			<string>AppleAHCIDiskDriver</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOAHCIDevice</string>
			<key>Protocol Characteristics</key>
			<dict>
				<key>Physical Interconnect</key>
				<string>SATA</string>
				<key>Physical Interconnect Location</key>
				<string>Internal</string>
			</dict>
		</dict>
		<key>Intel 9 Series Chipset</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAHCIPort</string>
			<key>Chipset Name</key>
			<string>9 Series Chipset</string>
			<key>IOClass</key>
			<string>AppleAHCI</string>
			<key>IOPCIClassMatch</key>
			<string>0x01060100&amp;0xffffff00</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x8c828086 0x8c838086 0x9c838086</string>
			<key>IOProbeScore</key>
			<integer>11000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Vendor Name</key>
			<string>Intel</string>
		</dict>
		<key>Intel x79 Series Chipset</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAHCIPort</string>
			<key>Chipset Name</key>
			<string>C600/X79 Series Chipset</string>
			<key>IOClass</key>
			<string>AppleAHCI</string>
			<key>IOPCIClassMatch</key>
			<string>0x01060100&amp;0xffffff00</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x1d028086</string>
			<key>IOProbeScore</key>
			<integer>11000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Vendor Name</key>
			<string>Intel</string>
		</dict>
		<key>Intel x99 Series Chipset</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleAHCIPort</string>
			<key>Chipset Name</key>
			<string>C610/X99 Series Chipset</string>
			<key>IOClass</key>
			<string>AppleAHCI</string>
			<key>IOPCIClassMatch</key>
			<string>0x01060100&amp;0xffffff00</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x8d028086 0x8d628086</string>
			<key>IOProbeScore</key>
			<integer>11000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>Vendor Name</key>
			<string>Intel</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>MacMan @ tonymacx86.com</string>
	<key>OSBundleRequired</key>
	<string>Local-Root</string>
</dict>
</plist>
