<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>10K549</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleIntelE1000e</string>
	<key>CFBundleIdentifier</key>
	<string>com.insanelymac.driver.AppleIntelE1000e</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleIntelE1000e</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>3.1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>3.1.0</string>
	<key>DTCompiler</key>
	<string></string>
	<key>DTPlatformBuild</key>
	<string>10M2518</string>
	<key>DTPlatformVersion</key>
	<string>PG</string>
	<key>DTSDKBuild</key>
	<string>10M2518</string>
	<key>DTSDKName</key>
	<string>macosx10.6</string>
	<key>DTXcode</key>
	<string>0400</string>
	<key>DTXcodeBuild</key>
	<string>10M2518</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>e1000e</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.insanelymac.driver.AppleIntelE1000e</string>
			<key>E1000_CTRL_TFCE</key>
			<true/>
			<key>E1000_DEFAULT_RXD</key>
			<integer>256</integer>
			<key>E1000_DEFAULT_TXD</key>
			<integer>256</integer>
			<key>IOClass</key>
			<string>AppleIntelE1000e</string>
			<key>IOPCIMatch</key>
			<string>0x156f8086 0x15708086 0x153a8086 0x153b8086 0x15598086 0x155a8086 0x15a08086 0x15a18086 0x15a28086 0x15a38086 0x10968086 0x10988086 0x10ba8086 0x10bb8086 0x10cc8086 0x10cd8086 0x10ce8086 0x10de8086 0x10df8086 0x15258086 0x15018086 0x10498086 0x104a8086 0x104b8086 0x104c8086 0x104d8086 0x10c48086 0x10c58086 0x10bd8086 0x10bf8086 0x10c08086 0x10c28086 0x10c38086 0x10cb8086 0x10e58086 0x10f58086 0x294c8086 0x105e8086 0x105f8086 0x10608086 0x10a48086 0x10a58086 0x10bc8086 0x10d58086 0x10d98086 0x10da8086 0x107d8086 0x107e8086 0x107f8086 0x10b98086 0x108b8086 0x108c8086 0x109a8086 0x10d38086 0x10ea8086 0x10eb8086 0x10ef8086 0x10f08086 0x15028086 0x15038086 0x150c8086</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>NETIF_F_TSO</key>
			<true/>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IONetworkingFamily</key>
		<string>1.5.0</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>1.7</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.10.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.10.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.10.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.10.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Network-Root</string>
</dict>
</plist>
