<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>16E195</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>FakeSMC</string>
	<key>CFBundleIdentifier</key>
	<string>org.netkas.driver.FakeSMC</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>FakeSMC</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>6.25.1426</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1426</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>8E162</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>16E185</string>
	<key>DTSDKName</key>
	<string>macosx10.12</string>
	<key>DTXcode</key>
	<string>0830</string>
	<key>DTXcodeBuild</key>
	<string>8E162</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>FakeSMC</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.netkas.driver.FakeSMC</string>
			<key>Configuration</key>
			<dict>
				<key>Clover</key>
				<dict>
					<key>BEMB</key>
					<array>
						<string>BEMB</string>
						<string>flag</string>
					</array>
					<key>EPCI</key>
					<array>
						<string>EPCI</string>
						<string>ui32</string>
					</array>
					<key>RBr</key>
					<array>
						<string>RBr</string>
						<string>ch8*</string>
					</array>
					<key>REV</key>
					<array>
						<string>REV</string>
						<string>{rev</string>
					</array>
					<key>RPlt</key>
					<array>
						<string>RPlt</string>
						<string>ch8*</string>
					</array>
				</dict>
				<key>Keys</key>
				<dict>
					<key>$Adr</key>
					<array>
						<string>ui32</string>
						<data>
						AAADAA==
						</data>
					</array>
					<key>$Num</key>
					<array>
						<string>ui8</string>
						<data>
						AQ==
						</data>
					</array>
					<key>FNum</key>
					<array>
						<string>ui8</string>
						<data>
						AA==
						</data>
					</array>
					<key>LsNM</key>
					<array>
						<string>ui8</string>
						<data>
						AQ==
						</data>
					</array>
					<key>LsbV</key>
					<array>
						<string>{rev</string>
						<data>
						AQQKAAY=
						</data>
					</array>
					<key>MSSD</key>
					<array>
						<string>si8</string>
						<data>
						BQ==
						</data>
					</array>
					<key>MSSP</key>
					<array>
						<string>si8</string>
						<data>
						BQ==
						</data>
					</array>
					<key>NATJ</key>
					<array>
						<string>ui8</string>
						<data>
						AA==
						</data>
					</array>
					<key>OSK0</key>
					<array>
						<string>ch8*</string>
						<data>
						b3VyaGFyZHdvcmtieXRoZXNld29y
						ZHNndWFyZGVkcGw=
						</data>
					</array>
					<key>OSK1</key>
					<array>
						<string>ch8*</string>
						<data>
						ZWFzZWRvbnRzdGVhbChjKUFwcGxl
						Q29tcHV0ZXJJbmM=
						</data>
					</array>
					<key>REV </key>
					<array>
						<string>{rev</string>
						<data>
						ATAPAAAD
						</data>
					</array>
					<key>RVBF</key>
					<array>
						<string>{rev</string>
						<data>
						ATAPAAAD
						</data>
					</array>
					<key>RVUF</key>
					<array>
						<string>{rev</string>
						<data>
						ATAPAAAD
						</data>
					</array>
				</dict>
				<key>Types</key>
				<dict>
					<key>BEMB</key>
					<string>flag</string>
					<key>CLKC</key>
					<string>{clc</string>
					<key>CLKH</key>
					<string>{clh</string>
					<key>CLKT</key>
					<string>ui32</string>
					<key>CLWK</key>
					<string>ui32</string>
					<key>EPCI</key>
					<string>flag</string>
					<key>LSSS</key>
					<string>{lso</string>
					<key>MSDS</key>
					<string>ui8</string>
					<key>MSDW</key>
					<string>flag</string>
					<key>MSPS</key>
					<string>{msp</string>
					<key>RPlt</key>
					<string>ch8*</string>
				</dict>
				<key>debug</key>
				<false/>
				<key>smc-compatible</key>
				<string>smc-napa</string>
				<key>trace</key>
				<false/>
			</dict>
			<key>IOClass</key>
			<string>FakeSMC</string>
			<key>IOMatchCategory</key>
			<string>FakeSMC</string>
			<key>IOProviderClass</key>
			<string>AppleACPIPlatformExpert</string>
			<key>IOResourceMatch</key>
			<string>FakeSMCKeyStore</string>
		</dict>
		<key>FakeSMCKeyStore</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.netkas.driver.FakeSMC</string>
			<key>IOClass</key>
			<string>FakeSMCKeyStore</string>
			<key>IOMatchCategory</key>
			<string>FakeSMCKeyStore</string>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>IOUserClientClass</key>
			<string>FakeSMCKeyStoreUserClient</string>
		</dict>
		<key>WiredMouse-1</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBHIDMouse</string>
			<key>HIDDefaultBehavior</key>
			<string>Mouse</string>
			<key>IOClass</key>
			<string>AppleHIDMouse</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>9505</integer>
			<key>idVendor</key>
			<integer>2362</integer>
		</dict>
		<key>WiredMouseAccel-1</key>
		<dict>
			<key>AppleHIDMouseVersion</key>
			<integer>256</integer>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOHIDFamily</string>
			<key>HIDAccelCurves</key>
			<array>
				<dict>
					<key>HIDAccelGainLinear</key>
					<integer>65536</integer>
					<key>HIDAccelIndex</key>
					<integer>0</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>524288</integer>
				</dict>
				<dict>
					<key>HIDAccelGainCubic</key>
					<integer>5243</integer>
					<key>HIDAccelGainLinear</key>
					<integer>70124</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>26214</integer>
					<key>HIDAccelIndex</key>
					<integer>8192</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>537395</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>1245184</integer>
				</dict>
				<dict>
					<key>HIDAccelGainCubic</key>
					<integer>6554</integer>
					<key>HIDAccelGainLinear</key>
					<integer>74711</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>36045</integer>
					<key>HIDAccelIndex</key>
					<integer>32768</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>543949</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>1179648</integer>
				</dict>
				<dict>
					<key>HIDAccelGainCubic</key>
					<integer>7864</integer>
					<key>HIDAccelGainLinear</key>
					<integer>79299</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>46531</integer>
					<key>HIDAccelIndex</key>
					<integer>45056</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>550502</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>1114112</integer>
				</dict>
				<dict>
					<key>HIDAccelGainCubic</key>
					<integer>9830</integer>
					<key>HIDAccelGainLinear</key>
					<integer>83886</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>57672</integer>
					<key>HIDAccelIndex</key>
					<integer>57344</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>557056</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>1048576</integer>
				</dict>
				<dict>
					<key>HIDAccelGainCubic</key>
					<integer>11796</integer>
					<key>HIDAccelGainLinear</key>
					<integer>88474</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>69468</integer>
					<key>HIDAccelIndex</key>
					<integer>65536</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>563610</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>983040</integer>
				</dict>
				<dict>
					<key>HIDAccelGainCubic</key>
					<integer>14418</integer>
					<key>HIDAccelGainLinear</key>
					<integer>93061</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>81920</integer>
					<key>HIDAccelIndex</key>
					<integer>98304</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>570163</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>917504</integer>
				</dict>
				<dict>
					<key>HIDAccelGainCubic</key>
					<integer>17695</integer>
					<key>HIDAccelGainLinear</key>
					<integer>97649</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>95027</integer>
					<key>HIDAccelIndex</key>
					<integer>131072</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>576717</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>851968</integer>
				</dict>
				<dict>
					<key>HIDAccelGainCubic</key>
					<integer>21627</integer>
					<key>HIDAccelGainLinear</key>
					<integer>102236</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>108790</integer>
					<key>HIDAccelIndex</key>
					<integer>163840</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>583270</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>786432</integer>
				</dict>
				<dict>
					<key>HIDAccelGainCubic</key>
					<integer>26214</integer>
					<key>HIDAccelGainLinear</key>
					<integer>104858</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>123208</integer>
					<key>HIDAccelIndex</key>
					<integer>196608</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>589824</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>786432</integer>
				</dict>
			</array>
			<key>HIDDisallowRemappingOfPrimaryClick</key>
			<true/>
			<key>HIDScrollAccelerationTable</key>
			<data>
			AACAAFVTQioACAAAAAAAAQABAAAAAKAAAAAgAAARAACAAAABITgA
			APd3AAMEhQABkREABbM1AAIzMwAIjM8AAxmaAA0+ggAECIkAExyh
			AAT3dwAZ0VcABiIiACKz/AAHm7kAL60rAAkL5ABAlHUACubxAFm3
			6AAMzfUAcQCiAA8nmwCKvFgAEdQ+AKNZoQAUyDoAwOAEABfUJwDY
			opEAG0+XAPCMwAAAUAAAEQAAgAAAAkgLAADu7wAFB4kAAWZmAAg2
			+QACGZoADROXAALERAARml4AA5ERABciqAAEqqsAH4SMAAXVVQAp
			EtwAB1gvADlNsAAI+gEASsYnAArm8QBkfA4ADM31AH6QEgAPJ5sA
			m2JOABHUPgC2878AFQGcANyUtgAYFoAA+RU7ABtPlwENanAAAIAA
			ABEAAHd3AAP8iwAA5mYAB2dLAAFMzQALY9UAAczNAA+pRQACgAAA
			Fez7AANVVQAceZUABMzNACjcjQAGREQANfVWAAd3dwBC3IcACPd3
			AFP6RgAK5vEAcIrxAAzN9QCNwBQADyebAK4HtAAR1D4AzOgJABUO
			wgD2msAAGCOmARWVwAAbT5cBLb7kAACwAAARAACIiQAHrbYAAPd3
			AA0+ggABd3cAExyhAAIIiQAZUJYAAszNACGyegADzM0AKxXgAATu
			7wA1pbIABhERAEDhMAAHme8AUcnXAAkQqwBjyIMACs/hAIEhmgAM
			zfUAnsKmAA8nmwDC6egAEgcEAOyw1QAVDsIBExtGABg8dQE2zfoA
			GwY+AUv0OgAA4AAAEQAAgAAACyXBAAD6sQAXwo4AAXgJACAlVgAC
			HyoAKTsFAALwEwAztn8AA/ixAD+XxgAFAVAAShNBAAYztgBV9IgA
			B1gvAGM7mgAI3d4AdvcJAAqzMwCV8gkADOQyALnh/gAPJ5sA2k2o
			ABHUPgEBCNoAFP1bASmGugAYJnkBUgSeABrppwFjp94AAQAAABEA
			ACqrAA2aKgAAbu8AG1SSAADd3gApDvoAAYiJADUF/QAClmEAQF4p
			AAOLXgBMUmQABKSmAFkyBgAF0BUAZSZBAAcx9AB2nuYACK+5AIkC
			8QAKszMAp/BcAAzkMgDQMFAADyebAPR/7wAR1D4BH+D0ABT9WwFN
			OrwAGCZ5AXqUiAAa6acBjlWcAAGzMwARAAAqqwAPPAYAAG7vAB6c
			KQAA3d4ALfxLAAGIiQA7Yt4AApZhAEgXigADi14AVXsAAASkpgBj
			5hsABdAVAHFJkQAHMfQAhNrtAAivuQCZc+8ACrMzALwXcQAM5DIA
			6SvfAA8nmwER1vgAEdQ+AUJslgAU/VsBdTeKABgmeQGoAoQAGumn
			Ab4icg==
			</data>
			<key>HIDScrollAccelerationTableX</key>
			<data>
			AACAAFVTQioACAAAAAAAAQABAAAAAQAAAAAgAAARAACAAAACGcMA
			AQAAAAQq2wABd3cAB4BXAAIzMwAPfbMAAyqrABki6QAEEREAIeel
			AAUZmgAqYY4ABmZmADX7bgAHzM0AQ3pJAAlVVQBUNk8ACwAAAGel
			TQAM3d4AfcwjAA8zMwCaeMkAEd3eALqW3AAU5mYA23dyABfd3gD5
			ZcEAGyIiARiOHAAAUAAADwAAgAAABDOHAAEAAAAKdCgAAgAAABkc
			CQADREQAKISDAASiIgA1EogABhERAER7AgAHzM0AVivaAAkZmgBm
			JmwACqIiAHqxuQAMZmYAkYVkAA73dwCw6G8AEZERANDdkgAVCIkA
			+D3nABgREQEXoPIAGxmaATakNgAAgAAADwAAgAAACBo6AAEIiQAU
			eswAAfd3ACNrCwADEREAM3TgAARMzQBC06EABcREAFQznQAHZmYA
			Zj6tAAk7vAB8TDEACxERAJRa8AANGZoArxX9AA87vADKfB4AEhER
			AO/oZAAVGZoBFVSqABgiIgE1aFIAGxmaAVS6UAAAsAAADwAAgAAA
			EDR1AAEIiQAeVxsAAczNAC2CqQAC1VUAPvS/AAP3dwBRKQMABYAA
			AGZl/AAHVVUAfel+AAk7vACW8VsACvd3AKzwggAM93cAyD7nAA9E
			RADl09UAEgiJAQyC5AAVEREBMzH0ABgIiQFTDWoAGxmaAXLQagAA
			4AAADwAAgAAAGAHcAAEIiQAoNlEAAaqrADghJgACmZoAS9nEAAOz
			MwBhFr4ABTMzAHlcbQAG5mYAkyZ4AAiZmgCsLlQACoiJAMd8ugAM
			oiIA5RGoAA8REQEEKvAAEgAAASxeWgAVEREBUYkQABgzMwF0bTwA
			GxERAZDmhAABAAAADwAAgAAAIBwXAAEAAAA0Nz8AAZmaAEVwCwAC
			d3cAWkTbAAN3dwBvGasABPd3AIxrGwAGmZoAqPcIAAhu7wDHDfwA
			CkREAOLUZwAMZmYBAzviAA8ZmgEqlPoAEgiJAVUEHAAVGZoBfSK2
			ABg7vAGke84AGwAAAcKK/AABszMAEAAAgAAAKB1XAAEAAABALvIA
			AXd3AFK8yQACEREAZBh0AAMZmgB/3fAABHd3AJ0zfQAFmZoAtISe
			AAbERADMlkwACCIiAObpowAJ1VUBBD8wAAwiIgErW+wADqqrAU92
			cgARszMBfJeaABT3eAGpuMAAF+7vAdDVfAAbAAAB9C90
			</data>
			<key>HIDScrollResolution</key>
			<integer>2818048</integer>
			<key>HIDScrollResolutionX</key>
			<integer>2818048</integer>
			<key>IOClass</key>
			<string>IOHIDEventDriver</string>
			<key>IOHIDScrollReportRate</key>
			<integer>8192000</integer>
			<key>IOProviderClass</key>
			<string>IOHIDInterface</string>
			<key>ProductID</key>
			<integer>9505</integer>
			<key>VendorID</key>
			<integer>2362</integer>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2015 netkas. All rights reserved.</string>
	<key>OSBundleCompatibleVersion</key>
	<string>1212</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOACPIFamily</key>
		<string>1.0.0d1</string>
		<key>com.apple.kpi.bsd</key>
		<string>10.6</string>
		<key>com.apple.kpi.iokit</key>
		<string>10.6</string>
		<key>com.apple.kpi.libkern</key>
		<string>10.6</string>
		<key>com.apple.kpi.mach</key>
		<string>10.6</string>
		<key>com.apple.kpi.unsupported</key>
		<string>10.6</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
