<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>bb1045</string>
	<key>Description</key>
	<string>Boot Camp</string>
	<key>Theme</key>
	<dict>
		<key>Anime</key>
		<array>
<dict>
				<key>ID</key>
				<integer>1</integer>
				<key>Path</key>
				<string>logo_3D</string>
				<key>Frames</key>
				<integer>50</integer>
				<key>FrameTime</key>
				<integer>100</integer>
			</dict>
			<dict>
				<key>DistanceFromScreenEdgeX%</key>
				<integer>64</integer>
				<key>DistanceFromScreenEdgeY%</key>
				<integer>44</integer>
				<key>Frames</key>
				<integer>1</integer>
				<key>ID</key>
				<integer>3</integer>
				<key>NudgeX</key>
				<integer>2</integer>
				<key>NudgeY</key>
				<integer>-5</integer>
				<key>Path</key>
				<string>func_help</string>
				<key>ScreenEdgeX</key>
				<string>right</string>
				<key>ScreenEdgeY</key>
				<string>top</string>
			</dict>
			<dict>
				<key>DistanceFromScreenEdgeX%</key>
				<integer>64</integer>
				<key>DistanceFromScreenEdgeY%</key>
				<integer>44</integer>
				<key>Frames</key>
				<integer>1</integer>
				<key>ID</key>
				<integer>4</integer>
				<key>NudgeX</key>
				<integer>2</integer>
				<key>NudgeY</key>
				<integer>-5</integer>
				<key>Path</key>
				<string>func_options_big</string>
				<key>ScreenEdgeX</key>
				<string>right</string>
				<key>ScreenEdgeY</key>
				<string>top</string>
			</dict>
			<dict>
				<key>DistanceFromScreenEdgeX%</key>
				<integer>64</integer>
				<key>DistanceFromScreenEdgeY%</key>
				<integer>44</integer>
				<key>Frames</key>
				<integer>1</integer>
				<key>ID</key>
				<integer>14</integer>
				<key>NudgeX</key>
				<integer>2</integer>
				<key>NudgeY</key>
				<integer>-5</integer>
				<key>Path</key>
				<string>14_Themes</string>
				<key>ScreenEdgeX</key>
				<string>right</string>
				<key>ScreenEdgeY</key>
				<string>top</string>
			</dict>
		</array>
		<key>Background</key>
		<dict>
			<key>Path</key>
			<string>background_tile.png</string>
			<key>Type</key>
			<string>Scale</string>
		</dict>
		<key>Badges</key>
		<dict>
			<key>Inline</key>
			<false/>
			<key>OffsetX</key>
			<integer>0</integer>
			<key>OffsetY</key>
			<integer>0</integer>
			<key>Scale</key>
			<integer>8</integer>
			<key>Show</key>
			<false/>
			<key>Swap</key>
			<false/>
		</dict>
		<key>Banner</key>
		<string></string>
		<key>Components</key>
		<dict>
			<key>MenuTitle</key>
			<false/>
			<key>MenuTitleImage</key>
			<false/>
			<key>Revision</key>
			<false/>
		</dict>
		<key>Font</key>
		<dict>
			<key>CharWidth</key>
			<integer>22</integer>
			<key>Path</key>
			<string>font.png</string>
			<key>Proportional</key>
			<true/>
			<key>Type</key>
			<string>Load</string>
		</dict>
		<key>Layout</key>
		<dict>
			<key>BannerOffset</key>
			<integer>64</integer>
			<key>ButtonOffset</key>
			<integer>114</integer>
			<key>SelectionBigWidth</key>
			<integer>247</integer>
			<key>TextOffset</key>
			<integer>1</integer>
			<key>TileXSpace</key>
			<integer>68</integer>
			<key>TileYSpace</key>
			<integer>24</integer>
		</dict>
		<key>Origination</key>
		<dict>
			<key>DesignHeight</key>
			<integer>1080</integer>
			<key>DesignWidth</key>
			<integer>1920</integer>
		</dict>
		<key>Selection</key>
		<dict>
			<key>Big</key>
			<string>Selection_big.png</string>
			<key>ChangeNonSelectedGrey</key>
			<false/>
			<key>Color</key>
			<string>0xf8f8f872</string>
			<key>OnTop</key>
			<false/>
			<key>Small</key>
			<string>selection.small.png</string>
		</dict>
	</dict>
	<key>Year</key>
	<string>2015</string>
</dict>
</plist>
