<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppleSecurityExtension</key>
	<true/>
	<key>BuildMachineOSBuild</key>
	<string>16G29</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>LiluFriend</string>
	<key>CFBundleGetInfoString</key>
	<string>LiluFriend v1.1.0, Copyright © 2017 Vanilla. All rights reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.security.LiluFriend</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>LiluFriend</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.1.0</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>8E3004b</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>16E185</string>
	<key>DTSDKName</key>
	<string>macosx10.12</string>
	<key>DTXcode</key>
	<string>0833</string>
	<key>DTXcodeBuild</key>
	<string>8E3004b</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>LiluFriend</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.security.LiluFriend</string>
			<key>IOClass</key>
			<string>LiluFriend</string>
			<key>IOMatchCategory</key>
			<string>LiluFriend</string>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2017 Vanilla. All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>as.lvs1974.AirportBrcmFixup</key>
		<string>1.0</string>
		<key>as.lvs1974.BT4LEContiunityFixup</key>
		<string>1.0</string>
		<key>as.lvs1974.HibernationFixup</key>
		<string>1.0</string>
		<key>as.lvs1974.IntelGraphicsFixup</key>
		<string>1.0</string>
		<key>as.lvs1974.NvidiaGraphicsFixup</key>
		<string>1.0</string>
		<key>as.vit9696.AppleALC</key>
		<string>1.0</string>
		<key>as.vit9696.Lilu</key>
		<string>1.2.0</string>
		<key>as.vit9696.Shiki</key>
		<string>1.0</string>
		<key>com.apple.kpi.bsd</key>
		<string>12.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>12.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>12.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>12.0.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>12.0.0</string>
		<key>com.sherlocks.IntelGraphicsDVMTFixup</key>
		<string>1.0</string>
		<key>org.vanilla.driver.CoreDisplayFixup</key>
		<string>1.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
