<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>bb1045</string>
	<key>Description</key>
	<string>B&amp;B (bootcamp and blur)</string>
	<key>Theme</key>
	<dict>
		<key>Anime</key>
		<array>
			<dict>
				<key>DistanceFromScreenEdgeX%</key>
				<integer>64</integer>
				<key>DistanceFromScreenEdgeY%</key>
				<integer>40</integer>
				<key>Frames</key>
				<integer>1</integer>
				<key>ID</key>
				<integer>2</integer>
				<key>NudgeX</key>
				<integer>-3</integer>
				<key>NudgeY</key>
				<integer>-1</integer>
				<key>Path</key>
				<string>func_about_big</string>
				<key>ScreenEdgeX</key>
				<string>right</string>
				<key>ScreenEdgeY</key>
				<string>top</string>
			</dict>
			<dict>
				<key>DistanceFromScreenEdgeX%</key>
				<integer>64</integer>
				<key>DistanceFromScreenEdgeY%</key>
				<integer>40</integer>
				<key>Frames</key>
				<integer>1</integer>
				<key>ID</key>
				<integer>3</integer>
				<key>NudgeX</key>
				<integer>2</integer>
				<key>NudgeY</key>
				<integer>1</integer>
				<key>Path</key>
				<string>func_help_big</string>
				<key>ScreenEdgeX</key>
				<string>right</string>
				<key>ScreenEdgeY</key>
				<string>top</string>
			</dict>
			<dict>
				<key>DistanceFromScreenEdgeX%</key>
				<integer>64</integer>
				<key>DistanceFromScreenEdgeY%</key>
				<integer>40</integer>
				<key>Frames</key>
				<integer>1</integer>
				<key>ID</key>
				<integer>4</integer>
				<key>NudgeX</key>
				<integer>2</integer>
				<key>NudgeY</key>
				<integer>1</integer>
				<key>Path</key>
				<string>func_options_big</string>
				<key>ScreenEdgeX</key>
				<string>right</string>
				<key>ScreenEdgeY</key>
				<string>top</string>
			</dict>
		</array>
		<key>Background</key>
		<dict>
			<key>Path</key>
			<string>Dark.png</string>
			<key>Type</key>
			<string>Tile</string>
		</dict>
		<key>Badges</key>
		<dict>
			<key>Inline</key>
			<false/>
			<key>Show</key>
			<false/>
			<key>Swap</key>
			<false/>
		</dict>
		<key>Components</key>
		<dict>
			<key>Banner</key>
			<true/>
			<key>Functions</key>
			<true/>
			<key>Label</key>
			<true/>
			<key>MenuTitle</key>
			<false/>
			<key>MenuTitleImage</key>
			<false/>
			<key>Revision</key>
			<false/>
			<key>Tools</key>
			<false/>
		</dict>
		<key>Banner</key>
		<string>apple logo.png</string>
		<key>Font</key>
		<dict>
			<key>CharWidth</key>
			<integer>25</integer>
			<key>Path</key>
			<string>font_bootcamp.png</string>
			<key>Proportional</key>
			<true/>
			<key>Type</key>
			<string>Load</string>
		</dict>
		<key>Layout</key>
		<dict>
			<key>BannerOffset</key>
			<integer>30</integer>
			<key>ButtonOffset</key>
			<integer>270</integer>
			<key>SelectionBigWidth</key>
			<integer>229</integer>
			<key>TextOffset</key>
			<integer>-100</integer>
			<key>TileXSpace</key>
			<integer>91</integer>
			<key>TileYSpace</key>
			<integer>1</integer>
		</dict>
		<key>Origination</key>
		<dict>
			<key>DesignHeight</key>
			<integer>768</integer>
			<key>DesignWidth</key>
			<integer>1366</integer>
		</dict>
		<key>Selection</key>
		<dict>
			<key>Big</key>
			<string>Selection_big.png</string>
			<key>ChangeNonSelectedGrey</key>
			<false/>
			<key>Color</key>
			<string>0xf8f8f872</string>
			<key>OnTop</key>
			<false/>
			<key>Small</key>
			<string>selection_small.png</string>
		</dict>
	</dict>
	<key>Year</key>
	<string>2015/08</string>
</dict>
</plist>
