<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Vandroiy</string>
	<key>CodecID</key>
	<integer>2184</integer>
	<key>CodecName</key>
	<string>ALC888</string>
	<key>Files</key>
	<dict>
		<key>Layouts</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Toleda ALC888</string>
				<key>Id</key>
				<integer>1</integer>
				<key>Path</key>
				<string>layout1.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Toleda ALC888</string>
				<key>Id</key>
				<integer>2</integer>
				<key>Path</key>
				<string>layout2.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Toleda ALC888</string>
				<key>Id</key>
				<integer>3</integer>
				<key>Path</key>
				<string>layout3.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Mirone ALC888 for Laptop</string>
				<key>Id</key>
				<integer>4</integer>
				<key>Path</key>
				<string>layout4.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Mirone 3 ports (Pink, Green, Blue)</string>
				<key>Id</key>
				<integer>5</integer>
				<key>Path</key>
				<string>layout5.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Mirone 5/6 ports (Gray, Black, Orange, Pink, Green, Blue)</string>
				<key>Id</key>
				<integer>7</integer>
				<key>Path</key>
				<string>layout7.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>ALC888S-VD Version1 for MedionP9614 by MacPeet</string>
				<key>Id</key>
				<integer>11</integer>
				<key>Path</key>
				<string>layout11.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>ALC888S-VD Version2 for MedionE7216 by MacPeet</string>
				<key>Id</key>
				<integer>28</integer>
				<key>Path</key>
				<string>layout28.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>ALC888S-VD Version3 for MedionP8610 by MacPeet</string>
				<key>Id</key>
				<integer>29</integer>
				<key>Path</key>
				<string>layout29.xml.zlib</string>
			</dict>
		</array>
		<key>Platforms</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Toleda ALC888</string>
				<key>Id</key>
				<integer>1</integer>
				<key>Path</key>
				<string>PlatformsT.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Toleda ALC888</string>
				<key>Id</key>
				<integer>2</integer>
				<key>Path</key>
				<string>PlatformsT.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Toleda ALC888</string>
				<key>Id</key>
				<integer>3</integer>
				<key>Path</key>
				<string>PlatformsT.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Mirone ALC888 for Laptop</string>
				<key>Id</key>
				<integer>4</integer>
				<key>Path</key>
				<string>PlatformsM4.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Mirone resources</string>
				<key>Id</key>
				<integer>5</integer>
				<key>Path</key>
				<string>PlatformsM.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Mirone resources</string>
				<key>Id</key>
				<integer>7</integer>
				<key>Path</key>
				<string>PlatformsM.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>ALC888S-VD Version1 for MedionP9614 by MacPeet</string>
				<key>Id</key>
				<integer>11</integer>
				<key>Path</key>
				<string>Platforms11.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>ALC888S-VD Version2 for MedionE7216 by MacPeet</string>
				<key>Id</key>
				<integer>28</integer>
				<key>Path</key>
				<string>Platforms28.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>ALC888S-VD Version3 for MedionP8610 by MacPeet</string>
				<key>Id</key>
				<integer>29</integer>
				<key>Path</key>
				<string>Platforms29.xml.zlib</string>
			</dict>
		</array>
	</dict>
	<key>Patches</key>
	<array>
		<dict>
			<key>Count</key>
			<integer>1</integer>
			<key>Find</key>
			<data>QcYGAEmLvCQ=</data>
			<key>MaxKernel</key>
			<integer>13</integer>
			<key>MinKernel</key>
			<integer>13</integer>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>QcYGAUmLvCQ=</data>
		</dict>
		<dict>
			<key>Count</key>
			<integer>1</integer>
			<key>Find</key>
			<data>QcYGAEiLu2g=</data>
			<key>MinKernel</key>
			<integer>14</integer>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>QcYGAUiLu2g=</data>
		</dict>
		<dict>
			<key>Count</key>
			<integer>1</integer>
			<key>Find</key>
			<data>QcaGQwEAAAA=</data>
			<key>MinKernel</key>
			<integer>13</integer>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>QcaGQwEAAAE=</data>
		</dict>
		<dict>
			<key>Count</key>
			<integer>2</integer>
			<key>Find</key>
			<data>ixnUEQ==</data>
			<key>MinKernel</key>
			<integer>13</integer>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>iAjsEA==</data>
		</dict>
		<dict>
			<key>Count</key>
			<integer>2</integer>
			<key>Find</key>
			<data>gxnUEQ==</data>
			<key>MinKernel</key>
			<integer>15</integer>
			<key>MaxKernel</key>
			<integer>15</integer>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>AAAAAA==</data>
		</dict>
		<dict>
			<key>Count</key>
			<integer>2</integer>
			<key>Find</key>
			<data>ihnUEQ==</data>
			<key>MinKernel</key>
			<integer>16</integer>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>AAAAAA==</data>
		</dict>
	</array>
	<key>Revisions</key>
	<array>
		<integer>1048577</integer>
		<integer>1048833</integer>
		<integer>1049090</integer>
		<integer>1049346</integer>
	</array>
	<key>Vendor</key>
	<string>Realtek</string>
</dict>
</plist>
