<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>15A284</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleBacklight</string>
	<key>CFBundleGetInfoString</key>
	<string>170.9.14, Copyright 2000-2016 Apple Inc. All rights reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.AppleBacklight</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleBacklight</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>170.9.14</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>170.9.14</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>8V109d</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>16E189</string>
	<key>DTSDKName</key>
	<string>macosx10.12internal</string>
	<key>DTXcode</key>
	<string>0830</string>
	<key>DTXcodeBuild</key>
	<string>8V109d</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AppleIntelPanelA</key>
		<dict>
			<key>ApplePanels</key>
			<dict>
				<key>Default</key>
				<data>AEUATgDOAP8=</data>
				<key>F10P9c56</key>
				<data>AAAANQDiAP8=</data>
				<key>F10P9c57</key>
				<data>AAAANQDiAP8=</data>
				<key>F10P9c58</key>
				<data>AEYARgDXAP8=</data>
				<key>F10P9c59</key>
				<data>AEwATADMAP8=</data>
				<key>F10P9c5a</key>
				<data>AEwATADMAP8=</data>
				<key>F10P9c5b</key>
				<data>AAAAPgEHASg=</data>
				<key>F10P9c5c</key>
				<data>AAAAPgEHASg=</data>
				<key>F10P9c5d</key>
				<data>AAAAPgEHASg=</data>
				<key>F10P9c5e</key>
				<data>AAAAPgEHASg=</data>
				<key>F10P9c5f</key>
				<data>AAAAPgEHASg=</data>
				<key>F10P9c60</key>
				<data>AAAANQDiAP8=</data>
				<key>F10P9c61</key>
				<data>AAAANwDnAP8=</data>
				<key>F10P9c62</key>
				<data>AAAANwDnAP8=</data>
				<key>F10P9c63</key>
				<data>AAAAAADlAP8=</data>
				<key>F10P9c65</key>
				<data>AAAAAADlAP8=</data>
				<key>F10P9c69</key>
				<data>AAAANQDoAP8=</data>
				<key>F10P9c6a</key>
				<data>AEUATgDOAP8=</data>
				<key>F10P9c6b</key>
				<data>AEUATgDOAP8=</data>
				<key>F10P9c6c</key>
				<data>AAAADgDOAP8=</data>
				<key>F10P9c71</key>
				<data>AAAADgDOAP8=</data>
				<key>F10P9c72</key>
				<data>AAAANQDoAP8=</data>
				<key>F10P9c74</key>
				<data>ABAAAAAeACUAMQA9AE8AZwCDAKkA2QEVAWUB6QJPAvcDzw==</data>
				<key>F10P9c7d</key>
				<data>AEUATgDOAP8=</data>
				<key>F10P9c7e</key>
				<data>AAAADgDOAP8=</data>
				<key>F10P9c8d</key>
				<data>AAAADgDOAP8=</data>
				<key>F10P9c8e</key>
				<data>AAAADgDOAP8=</data>
				<key>F10P9c92</key>
				<data>AEUATgDOAP8=</data>
				<key>F10P9c93</key>
				<data>AEUATgDOAP8=</data>
				<key>F10P9c94</key>
				<data>AEUATgDOAP8=</data>
				<key>F10P9c95</key>
				<data>AEUATgDOAP8=</data>
				<key>F10P9c96</key>
				<data>AAAADgDOAP8=</data>
				<key>F10T9c66</key>
				<data>ABAAAAAeACUAMQA9AE8AZwCDAKkA2QEVAWUB6QJPAvcDzw==</data>
				<key>F10T9c67</key>
				<data>ABAAAAAeACUAMQA9AE8AZwCDAKkA2QEVAWUB6QJPAvcDzw==</data>
				<key>F10T9c68</key>
				<data>ABAAAAAeACUAMQA9AE8AZwCDAKkA2QEVAWUB6QJPAvcDzw==</data>
				<key>F10T9c6d</key>
				<data>ABAAAAAeACUAMQA9AE8AZwCDAKkA2QEVAWUB6QJPAvcDzw==</data>
				<key>F10T9c6f</key>
				<data>ABEAAAASABcAHgAnADMAQgBWAG8AkAC7APMBPAGaAhQCsgOA</data>
				<key>F10T9c70</key>
				<data>ABAAAAAeACUAMQA9AE8AZwCDAKkA2QEVAWUB6QJPAvcDzw==</data>
				<key>F10T9c73</key>
				<data>ABEAAAASABcAHgAnADMAQgBWAG8AkAC7APMBPAGaAhQCsgOA</data>
				<key>F10T9c79</key>
				<data>ABEAAAAjACwANwBEAFUAagCFAKYAzwECAUIBkQH1AnIDDQPP</data>
				<key>F10T9c79D</key>
				<data>ABEAAAAjACwANwBEAFUAagCFAKYAzwECAUIBkQH1AnIDDQPPAMg=</data>
				<key>F10T9c7aD</key>
				<data>ABEAAAAjACwANwBEAFUAagCFAKYAzwECAUIBkQH1AnIDDQPPAMg=</data>
				<key>F10T9c7c</key>
				<data>ABEAAAASABcAHgAnADMAQgBWAG8AkAC7APMBPAGaAhQCsgOA</data>
				<key>F10T9c80D</key>
				<data>ABAAAAAeACUAMQA9AE8AZwCDAKkA2QEVAWUB6QJPAvcDzwDI</data>
				<key>F10T9c81D</key>
				<data>ABAAAAAeACUAMQA9AE8AZwCDAKkA2QEVAWUB6QJPAvcDzwDI</data>
				<key>F10T9c82D</key>
				<data>ABAAAAAeACUAMQA9AE8AZwCDAKkA2QEVAWUB6QJPAvcDzwDI</data>
				<key>F10T9c83D</key>
				<data>ABAAAAAeACUAMQA9AE8AZwCDAKkA2QEVAWUB6QJPAvcDzwDI</data>
				<key>F10T9c84</key>
				<data>ABEAAAAQABUAGwAjAC4APABPAGgAiACzAOsBNQGWAhYCvgOa</data>
				<key>F10T9c85</key>
				<data>ABEAAAAQABUAGwAjAC4APABPAGgAiACzAOsBNQGWAhYCvgOa</data>
				<key>F10T9c86</key>
				<data>ABEAAAAQABUAGwAjAC4APABPAGgAiACzAOsBNQGWAhYCvgOa</data>
				<key>F10T9c89</key>
				<data>ABEAAAAtADgARABUAGcAfgCcAL4A6gEgAWUBugIfAp0DPAQA</data>
				<key>F10T9c8a</key>
				<data>ABEAAAAtADgARABUAGcAfgCcAL4A6gEgAWUBugIfAp0DPAQA</data>
				<key>F10T9c8b</key>
				<data>ABEAAAAtADgARABUAGcAfgCcAL4A6gEgAWUBugIfAp0DPAQA</data>
				<key>F10T9c8c</key>
				<data>ABEAAAAtADgARABUAGcAfgCcAL4A6gEgAWUBugIfAp0DPAQA</data>
				<key>F10T9c8f</key>
				<data>ABEAAAAdACUALgA6AEkAXAB0AJIAtwDmASEBagHGAjkCygOA</data>
				<key>F10T9c90</key>
				<data>ABEAAAAdACUALgA6AEkAXAB0AJIAtwDmASEBagHGAjkCygOA</data>
				<key>F10T9c91</key>
				<data>ABEAAAAdACUALgA6AEkAXAB0AJIAtwDmASEBagHGAjkCygOA</data>
				<key>F10T9c9a</key>
				<data>ABEAAAAdACUALgA6AEkAXAB0AJIAtwDmASEBagHGAjkCygOA</data>
				<key>F10T9c9d</key>
				<data>ABEAAAAdACUALgA6AEkAXAB0AJIAtwDmASEBagHGAjkCygOA</data>
				<key>F10T9c9e</key>
				<data>ABEAAAAhACoANgBFAFkAdACXAMUA8AEmAWcBtwIcApsDOQQA</data>
				<key>F10T9c9f</key>
				<data>ABEAAAAhACoANQBDAFYAbgCPALgA4gESAVABmwH6Am8DAgO/</data>
				<key>F10T9ca0</key>
				<data>ABEAAAAhACoANgBFAFkAdACXAMUA8AEmAWcBtwIcApsDOQQA</data>
				<key>F10T9ca1</key>
				<data>ABEAAAAhACoANQBDAFYAbgCPALgA4gESAVABmwH6Am8DAgO/</data>
				<key>F10T9ca2</key>
				<data>ABEAAAAkACsANgBDAFQAaACDAKYAywD6ATUBfQHYAkgC1QOG</data>
				<key>F10T9ca3</key>
				<data>ABEAAAAkACsANgBDAFQAaACDAKYAywD6ATUBfQHYAkgC1QOG</data>
				<key>F10T9ca4</key>
				<data>ABEAAAAkACsANgBDAFQAaACDAKYAywD6ATUBfQHYAkgC1QOG</data>
				<key>F10T9ca5M</key>
				<data>ABEAAAAtADgARABUAGcAfgCcAL4A6gEgAWUBugIfAp0DPAQABAA=</data>
				<key>F10T9ca6M</key>
				<data>ABEAAAAtADgARABUAGcAfgCcAL4A6gEgAWUBugIfAp0DPAQABAA=</data>
				<key>F10T9ca7M</key>
				<data>ABEAAAAtADgARABUAGcAfgCcAL4A6gEgAWUBugIfAp0DPAQABAA=</data>
				<key>F10T9ca8M</key>
				<data>ABEAAAAtADgARABUAGcAfgCcAL4A6gEgAWUBugIfAp0DPAQABAA=</data>
				<key>F10T9ca9</key>
				<data>ABEABgAIAA0AEQAXABsAIQAnAC4AOABAAE8AZQB/AKAAygD/</data>
				<key>F10T9caaM</key>
				<data>ABEACgAQABYAHgAnADEAOwBKAFwAZABuAHwAjgClAL4AzQDYAQA=</data>
				<key>F10T9cabM</key>
				<data>ABEACgAQABYAHgAnADEAOwBKAFwAZABuAHwAjgClAL4AzQDYAQA=</data>
				<key>F10T9cb0</key>
				<data>ABEAAAAkACsANgBDAFQAaACDAKYAywD6ATUBfQHYAkgC1QOG</data>
				<key>F10T9cb1</key>
				<data>ABEAAAAkACsANgBDAFQAaACDAKYAywD6ATUBfQHYAkgC1QOG</data>
				<key>F10T9cb2</key>
				<data>ABEAAAAkACsANgBDAFQAaACDAKYAywD6ATUBfQHYAkgC1QOG</data>
				<key>F10T9cb5</key>
				<data>ABEABgANABIAGQAhACoANgBDAFUAXgBpAHkAjACiALsA2gDy</data>
				<key>F10T9cb6</key>
				<data>ABEAAAAkAC0AOABHAFoAcgCTALwA5wEdAV8BsQIVApYDNwQA</data>
				<key>F10T9cb7</key>
				<data>ABEAAAAkAC0AOABHAFoAcgCTALwA5wEdAV8BsQIVApYDNwQA</data>
				<key>F10T9cb8</key>
				<data>ABEAAAAjACsANgBEAFYAbQCMALQA3QEQAU8BnQH+AnkDDgPR</data>
				<key>F10T9cb9</key>
				<data>ABEAAAAjACsANgBEAFYAbQCMALQA3QEQAU8BnQH+AnkDDgPR</data>
				<key>F10T9cba</key>
				<data>ABEAAAAkAC0AOABHAFoAcgCTALwA5wEdAV8BsQIVApYDNwQA</data>
				<key>F10T9cbb</key>
				<data>ABEAAAAkAC0AOABHAFoAcgCTALwA5wEdAV8BsQIVApYDNwQA</data>
				<key>F10T9cbcM</key>
				<data>ABEACgAQABYAHgAnADEAOwBKAFwAZABuAHwAjgClAL4AzQDYAQA=</data>
				<key>F10T9cbd</key>
				<data>ABEAAAAhACoANgBFAFkAdACXAMUA8AEmAWcBtwIcApsDOQQA</data>
				<key>F10T9cbeM</key>
				<data>ABEAAAAiACwANgBGAFgAcgCUALwA5gEaAVwBqwIKAoIDFgPOBAA=</data>
				<key>F10T9cc0M</key>
				<data>ABEAAAAiACwANgBGAFgAcgCUALwA5gEaAVwBqwIKAoIDFgPOBAA=</data>
				<key>F10T9cc1M</key>
				<data>ABEAAAAiACwANgBGAFgAcgCUALwA5gEaAVwBqwIKAoIDFgPOBAA=</data>
				<key>F10T9cc2</key>
				<data>ABEAAAAhACoANQBDAFYAbgCPALgA4gESAVABmwH6Am8DAgO/</data>
				<key>F10T9cc3</key>
				<data>ABEAAAAiACsANgBGAFgAbwCPALcA4QEUAVQBogIEAnoDDwPL</data>
				<key>F10T9cc5</key>
				<data>ABEAAAAhACkANABCAFMAaQCHAKwA0wEDAT4BhwHiAlIC3gOP</data>
				<key>F10T9cc7</key>
				<data>ABEAAAAiACsANgBGAFgAbwCPALcA4QEUAVQBogIEAnoDDwPL</data>
				<key>F10T9cc9</key>
				<data>ABEAAAAiACsANgBGAFgAbwCPALcA4QEUAVQBogIEAnoDDwPL</data>
				<key>F10T9ccb</key>
				<data>ABEAAAAhACkANABCAFMAaQCHAKwA0wEDAT4BhwHiAlIC3gOP</data>
				<key>F10T9cd1M</key>
				<data>ABEAAAAiACwANgBGAFgAcgCUALwA5gEaAVwBqwIKAoIDFgPOBAA=</data>
				<key>F10T9cd6</key>
				<data>ABEABgALABQAHAAnADMAPwBOAFwAZwBzAIEAkQClAL8A2wD/</data>
				<key>F10T9cd7</key>
				<data>ABEABgALABQAHAAnADMAPwBOAFwAZwBzAIEAkQClAL8A2wD/</data>
				<key>F10T9cd8M</key>
				<data>ABEAAAAiACwANgBGAFgAcgCUALwA5gEaAVwBqwIKAoIDFgPOBAA=</data>
				<key>F10T9cd9M</key>
				<data>ABEAAAAiACwANgBGAFgAcgCUALwA5gEaAVwBqwIKAoIDFgPOBAA=</data>
				<key>F10T9cdaM</key>
				<data>ABEAAAAiACwANgBGAFgAcgCUALwA5gEaAVwBqwIKAoIDFgPOBAA=</data>
				<key>F10T9cdbM</key>
				<data>ABEAAAAiACwANgBGAFgAcgCUALwA5gEaAVwBqwIKAoIDFgPOBAA=</data>
				<key>F10T9cdc</key>
				<data>ABEABgALABQAHAAnADMAPwBOAFwAZwBzAIEAkQClAL8A2wD/</data>
				<key>F10T9cdd</key>
				<data>ABEACgARABkAIwAwADwASwBaAGgAdQCEAJYAqwDBANUA5gD/</data>
				<key>F10T9cde</key>
				<data>ABEABgANABcAIgAsADoASABZAGoAdACCAJQAqAC9ANIA5AD/</data>
				<key>F10T9cdf</key>
				<data>ABEAAAAjAC4AOgBMAF8AeQCWALsA6QEiAWcBuwIgApwDMwPq</data>
				<key>F10T9cf0</key>
				<data>ABEAAAAiACwAOABJAFsAdACQALUA4AEXAVcBqQILAoEDEAPA</data>
				<key>F10T9cf2</key>
				<data>ABEAAAAiACwAOQBJAF0AdQCTALgA5QEcAV8BswIXApIDKAPe</data>
				<key>F10T9cf3</key>
				<data>ABEAAAAhACoANgBFAFgAbwCMAK4A2QENAU0BnAH7Am8C+wOq</data>
				<key>F10T9cf4</key>
				<data>ABEAAAAhACkANQBEAFYAbQCJAKoA1AEHAUYBkwHwAmIC6wOT</data>
				<key>F10T9cfc</key>
				<data>ABEABgALABQAHAAnADMAPwBOAFwAZwBzAIEAkQClAL8A2wD/</data>
				<key>F10T9cfd</key>
				<data>ABEACgAPABcAIQAtADkASABWAGEAbAB4AIYAmQCtAL4AzQDV</data>
				<key>F10T9cfeM</key>
				<data>ABEAGAA3AF8AigCzAOsBJAFnAakB1AIJAlQCogL4A00DlgP/BAA=</data>
				<key>F10T9cff</key>
				<data>ABEABgALABQAHAAnADMAPwBOAFwAZwBzAIEAkQClAL8A2wD/</data>
				<key>F10T9d0c</key>
				<data>ABEABgALABQAHAAnADMAPwBOAFwAZwBzAIEAkQClAL8A2wD/</data>
				<key>F10T9d0d</key>
				<data>ABEABgALABQAHAAnADMAPwBOAFwAZwBzAIEAkQClAL8A2wD/</data>
				<key>F10T9d0fM</key>
				<data>ABEAGAA3AF8AigCzAOsBJAFnAakB1AIJAlQCogL4A00DlgP/BAA=</data>
				<key>F10Ta007</key>
				<data>ABEABgALABQAHAAnADMAPwBOAFwAZwBzAIEAkQClAL8A2wD/</data>
				<key>F10Ta008</key>
				<data>ABEABgALABQAHAAnADMAPwBOAFwAZwBzAIEAkQClAL8A2wD/</data>
				<key>F10Ta00aM</key>
				<data>ABEAGAA3AF8AigCzAOsBJAFnAakB1AIJAlQCogL4A00DlgP/BAA=</data>
				<key>F10Ta00b</key>
				<data>ABEABgALABQAHAAnADMAPwBOAFwAZwBzAIEAkQClAL8A2wD/</data>
				<key>F10Ta00cM</key>
				<data>ABEAGAA3AF8AigCzAOsBJAFnAakB1AIJAlQCogL4A00DlgP/BAA=</data>
				<key>F10Ta00d</key>
				<data>ABEABgALABQAHAAnADMAPwBOAFwAZwBzAIEAkQClAL8A2wD/</data>
				<key>F11P9c58</key>
				<data>AEoASgDuASg=</data>
				<key>F11P9c5b</key>
				<data>AAAANQDhAP8=</data>
				<key>F11P9c5c</key>
				<data>AAAANQDhAP8=</data>
				<key>F11P9c5d</key>
				<data>AAAANQDhAP8=</data>
				<key>F11P9c5e</key>
				<data>AAAANQDhAP8=</data>
				<key>F11P9c5f</key>
				<data>AAAANQDhAP8=</data>
				<key>F11T9c7f</key>
				<data>ABEAAADHAP4BNQFsAaMB2gIRAkgCfwK2Au0DJANbA5IDyQQA</data>
				<key>F12P9c5b</key>
				<data>AAAAZAGqAeI=</data>
				<key>F12P9c5c</key>
				<data>AAAAZAGqAeI=</data>
				<key>F12P9c5e</key>
				<data>AAAAZAGqAeI=</data>
				<key>F12P9c5f</key>
				<data>AAAAZAGqAeI=</data>
				<key>F12P9c7f</key>
				<data>AAAAZAGqAeI=</data>
				<key>F12T9c6fL</key>
				<data>ABEAAAJfA3cEPwUvBm8IJwoHDNcQRxRXGX8f5yh/Mx8/x1NYBAA=</data>
				<key>F12T9c73L</key>
				<data>ABEAAAJfA3cEPwUvBm8IJwoHDNcQRxRXGX8f5yh/Mx8/x1NYBAA=</data>
				<key>F12T9c7cL</key>
				<data>ABEAAAJfA3cEPwUvBm8IJwoHDNcQRxRXGX8f5yh/Mx8/x1NYBAA=</data>
				<key>F14T9cc3</key>
				<data>ABEAAAAhADYAUQBzAJ4A0wEUAWQBxQImApsDJwPPBJsFjAar</data>
				<key>F14T9cc5</key>
				<data>ABEAAAAgADQATQBuAJYAyAEGAVEBrQIMAnsDAAOdBF0FPgZM</data>
				<key>F14T9cc7</key>
				<data>ABEAAAAhADYAUQBzAJ4A0wEUAWQBxQImApsDJwPPBJsFjAar</data>
				<key>F14T9cc9</key>
				<data>ABEAAAAhADYAUQBzAJ4A0wEUAWQBxQImApsDJwPPBJsFjAar</data>
				<key>F14T9ccb</key>
				<data>ABEAAAAgADQATQBuAJYAyAEGAVEBrQIMAnsDAAOdBF0FPgZM</data>
				<key>F14T9cdf</key>
				<data>ABEAAAA8AFIAagCJAK4A2gEWAVkBtAIUAoIDDgO5BJAFmwbm</data>
				<key>F14T9cf0</key>
				<data>ABEAAAA5AE8AaACDAKcA0gEJAUwBoQIAAmwC8gOYBGAFYAag</data>
				<key>F14T9cf2</key>
				<data>ABEAAAA8AFEAawCJAK4A3AEXAVsBtgIVAoEDDAOyBIMFjgbU</data>
				<key>F14T9cf3</key>
				<data>ABEAAAA6AE4AZwCCAKQA0AEHAUYBmgH5AmAC4gOABEQFPgZz</data>
				<key>F14T9cf4</key>
				<data>ABEAAAA3AEkAYAB7AJ4AxwD6ATkBiwHqAlACzQNmBCYFHwZJ</data>
				<key>F14T9d0b</key>
				<data>ABEAAAAhADYAUQBzAJ4A0wEUAWQBxQImApsDJwPPBJsFjAar</data>
				<key>F14Ta006</key>
				<data>ABEAAAAhADYAUQBzAJ4A0wEUAWQBxQImApsDJwPPBJsFjAar</data>
				<key>F14Ta010</key>
				<data>ABEAAAA5AE8AaACDAKcA0gEJAUwBoQIAAmwC8gOYBGAFYAag</data>
				<key>F14Ta013</key>
				<data>ABEAAAAnADYAUAB2AJ0AzgEMAVkBrgIfApcDMgPgBLUFogbE</data>
				<key>F14Ta014</key>
				<data>ABEAAAAmADQATQBxAJcAxgECAUsBnQIKAn0DEgO4BIUFaQaA</data>
				<key>F14Ta015</key>
				<data>ABEAAAAnADYAUAB2AJ0AzgEMAVkBrgIfApcDMgPgBLUFogbE</data>
				<key>F14Ta019</key>
				<data>ABEAAAAfADQATwBxAJsAzwEOAV0BuwIvArkDYAQpBR4GRAed</data>
				<key>F14Ta022</key>
				<data>ABEAAAAfADQATwBxAJsAzwEOAV0BuwIvArkDYAQpBR4GRAed</data>
				<key>F14Ta02b</key>
				<data>ABEAAAAfADQATwBxAJsAzwEOAV0BvAIvArkDYAQqBR8GRQee</data>
				<key>F14Ta02c</key>
				<data>ABEAAAAfADQATwBxAJsAzwEOAV0BvAIvArkDYAQqBR8GRQee</data>
				<key>F14Ta02e</key>
				<data>ABEAAAAeADMATABtAJYAyQEGAVMBrgIeAqQDRgQKBPcGFAdj</data>
				<key>F14Ta02f</key>
				<data>ABEAAAAeADMATABtAJYAyQEGAVMBrgIeAqQDRgQKBPcGFAdj</data>
				<key>F15T9cdf</key>
				<data>ABEAAAA4AFgAggC5AP8BVwHDAkIC1QN9BD4FIQYyB4EJDArZ</data>
				<key>F15T9cf0</key>
				<data>ABEAAAA2AFQAfQCyAPUBSQGxAisCuANZBBME7AXzBzQIrwpq</data>
				<key>F15T9cf2</key>
				<data>ABEAAAA4AFgAggC5AP8BVwHDAkIC1QN9BD4FIQYyB4EJDArZ</data>
				<key>F15T9cf3</key>
				<data>ABEAAAA1AFQAfACwAPIBRgGsAiUCsQNQBAgE3wXjByEImApO</data>
				<key>F15Ta010</key>
				<data>ABEAAAA0AFIAeQCsAO0BPwGjAhoCogM+A/IExQXDBvsIagoX</data>
				<key>F15Ta018</key>
				<data>ABEAAAAWACUAOABQAG4AkwDAAPgBOwGNAe8CZgL1A6MEdAVp</data>
				<key>F15Ta01a</key>
				<data>ABEAAAAYACcAOgBSAHEAlgDEAPwBQAGTAfYCbgL+A6oEeAVp</data>
				<key>F15Ta01b</key>
				<data>ABEAAAA2AFQAfQCyAPUBSQGxAisCuANZBBME7AXzBzQIrwpq</data>
				<key>F15Ta01c</key>
				<data>ABEAAAAYACcAOgBSAHEAlgDEAPwBQAGTAfYCbgL+A6oEeAVp</data>
				<key>F15Ta020</key>
				<data>ABEAAAAWACUAOABQAG4AkwDAAPgBOwGNAe8CZgL1A6MEdAVp</data>
				<key>F15Ta027</key>
				<data>ABEAAAAYACcAOgBSAHEAlgDEAPwBQAGTAfYCbgL+A6oEeAVp</data>
				<key>F15Ta028</key>
				<data>ABEAAAAYACcAOgBSAHEAlgDEAPwBQAGTAfYCbgL+A6oEeAVp</data>
				<key>F15Ta029</key>
				<data>ABEAAAAXACYAOgBSAHEAkwDEAPwBPwGRAfMCagL5A6UEcwVp</data>
				<key>F15Ta02a</key>
				<data>ABEAAAAXACYAOQBSAHAAlQDCAPkBPQGOAfICawL+A6wEeAVp</data>
				<key>F15Ta02d</key>
				<data>ABEAAAA4AFgAggC5AP8BVwHDAkIC1QN9BD4FIQYyB4EJDArZ</data>
				<key>F16Ta01a</key>
				<data>ABEAAAAYACcAOgBSAHEAlgDEAPwBQAGTAfYCbgL+A6oEeAVp</data>
				<key>F16Ta01c</key>
				<data>ABEAAAAYACcAOgBSAHEAlgDEAPwBQAGTAfYCbgL+A6oEeAVp</data>
				<key>F16Ta027</key>
				<data>ABEAAAAYACcAOgBSAHEAlgDEAPwBQAGTAfYCbgL+A6oEeAVp</data>
				<key>F16Ta028</key>
				<data>ABEAAAAYACcAOgBSAHEAlgDEAPwBQAGTAfYCbgL+A6oEeAVp</data>
				<key>F16Ta029</key>
				<data>ABEAAAAYACcAOgBSAHEAlgDEAPwBQAGTAfYCbgL+A6oEeAVp</data>
				<key>F16Ta030</key>
				<data>ABEAAAALAA4AEwAZACIALgA+AFQAcgCcANUBIwGPAiUC8gQP</data>
				<key>F16Ta031</key>
				<data>ABEAAAAMABAAFQAcACYAMwBFAF4AgACvAPABSAHCAmoDUgSS</data>
				<key>F16Ta033</key>
				<data>ABEAAAANABIAFwAgACsAOQBOAGoAkADEAQ4BdQIEAsoD3wVp</data>
				<key>F16Ta034</key>
				<data>ABEAAAANABIAFwAfACoAOABNAGkAjwDEAQ0BcgIAAscD3wVp</data>
			</dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleBacklight</string>
			<key>IOClass</key>
			<string>AppleIntelPanelA</string>
			<key>IODisplayParameters</key>
			<dict>
				<key>brightness</key>
				<dict>
					<key>max</key>
					<integer>255</integer>
					<key>min</key>
					<integer>40</integer>
				</dict>
				<key>commit</key>
				<dict>
					<key>reg</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>IOMatchCategory</key>
			<string>IODisplayParameters</string>
			<key>IONameMatch</key>
			<string>backlight</string>
			<key>IOProbeScore</key>
			<integer>2000</integer>
			<key>IOProviderClass</key>
			<string>IOACPIPlatformDevice</string>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.driver.AppleBacklightExpert</key>
		<string>1.0</string>
		<key>com.apple.iokit.IOGraphicsFamily</key>
		<string>1.1</string>
		<key>com.apple.iokit.IONDRVSupport</key>
		<string>1.1</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>1.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.3.1</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.3.1</string>
		<key>com.apple.kpi.mach</key>
		<string>8.3.1</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Safe Boot</string>
</dict>
</plist>
