<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildVersion</key>
	<string>2465</string>
	<key>CFBundleShortVersionString</key>
	<string>8.0</string>
	<key>CFBundleVersion</key>
	<string>800.20.24</string>
	<key>ProjectName</key>
	<string>AirPortDriverBrcm4331</string>
	<key>SourceVersion</key>
	<string>800020024000000</string>
</dict>
</plist>
