<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>14F2009</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>ApplePS2SmartTouchPad</string>
	<key>CFBundleIdentifier</key>
	<string>org.emlydinesh.driver.ApplePS2SmartTouchPad</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>ApplePS2SmartTouchPad</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>4.6.8</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>4.6.8</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>6A2008a</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>12D75</string>
	<key>DTSDKName</key>
	<string>macosx10.8</string>
	<key>DTXcode</key>
	<string>0611</string>
	<key>DTXcodeBuild</key>
	<string>6A2008a</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>Smart-Pad</key>
		<dict>
			<key>AccelerationPreferences</key>
			<dict>
				<key>AppleBluetoothMultiTouch</key>
				<data>
				AACAAFVTQioACgAAAAAAAQABAKkAAQBgAAAgAAAMAACA
				AAAAgAAAAQuBAAEjZQAB3CgAAkISAAJ7vAADSXQAA40f
				AAVK3gAFI34ACPSRAAbVfAANxwcACtGSABtgewAPhL8A
				LCNjABYaUwBB7ZEAID2CAFwmRgAvbvwAd8tbAABQAAAN
				AACC2QAAij0AAQgWAAE4NgAB0mIAAokfAAJmhgADqOAA
				AwtiAAUeCgAEDa0AB+wKAAUUeQALOAIABqpjABFWNQAJ
				+WsAISzeAA+VxQA+BFoAFfhFAFsR7QAflgUAfGbeAC83
				KACjkLwAAIAAAA4AAINLAACUewABA9kAAVINAAHFGgAC
				zAoAAk4BAAQaowADBuEABiaRAAQGKwAJpOsABQb1AA3T
				nwAGZqAAFMLkAAlWLAAnmKYAC190ADWi5gAPoR8AUrB5
				ABXFrQB3y1sAHy+qAKFC+gAutOMA0/GgAACwAAAPAABA
				AAAARR8AAISfAACeuAAA/q8AAWw/AAGxsQADAZMAAj0l
				AASZyQADA+AAB1TiAAP3OQALe0oABOg0ABBm+wAGH8gA
				GC+TAAi2AgAtYA0ACsCLAD8iagAPKfAAZ+ueABWgdQCY
				C/MAHq1lAMq6mQAuQW8BCtXaAADgAAAPAAA8KQAAQAAA
				AId2AACw6wAA+Y8AAZNGAAGZLAADPc0AAjR2AAViiwAC
				85YACLSxAAPOzQANX8kABLZzABNuLgAFpJQAGsEWAAfY
				PQAxA4cACmAQAE9WSgAOk0sAg1AjABVDaADGHxYAHj28
				AQagRgAt3t8BW91GAAEAAAAQAAA4VgAAQAAAAIabAADD
				IgAA8JUAAbpMAAFxVAADUeEAAfxFAAWKsgAC1H4ACjhK
				AAOVRwAPZJUABFFlABVy+gAFELsAHK45AAbn/QAyud8A
				CLLtAE7DtwAKSV0AaQmuAA31HACl3n0AFTDMAQRShAAd
				qNsBVPQCAC0EYAHBOpQAAYAAABEAAEBtAABTMwAAhVMA
				ANfyAADpvwAB7lUAAUyMAANfQwAB1G0ABfx1AAK29AAL
				/H0AA2BqABHKSAAEC28AGLrGAAS7HQAhDpAABfrSADNe
				QAAHuXAAVB2IAAnX2wCEaigADR8YANGj3gAQuEkBGQ5U
				ABYG0AFnYhAAHTkyAb7s0gAr+u0CRth4AAIAAAASAAA/
				kwAAWuEAAILFAAD3mgAA15EAAhdbAAEluQADeggAAZQQ
				AAX8dQACEigACbcXAAJ6UgANX8kAAwAGABNN4QADkisA
				Gl6sAAQvMQAjlJAABR0NADRwNgAGtrUAWUCOAAkW5QCg
				6LMADIo3ARtcFgAP/jABd4JcABUnfgHjyO4AHDSoAllG
				iAAq6wEDFi6UAAMAAAATAAA8lgAAYo8AAH4sAAEmcgAA
				vH8AAjIgAAD60QADlMwAAU8aAAX1xAABnDwACLRsAAIP
				DAANwK8AAobCABQPrgAC/OoAG6GrAAOKZQAmGo8ABB4X
				ADM5vgAE8e4ASWnlAAXlcgBnL6QACADNAMAyZAAKaIYB
				QKFwAA09KwHLC4AAEXuxAmcZEAAZCyADMdOoACaAGgRD
				beA=
				</data>
				<key>AppleBluetoothTrackpad</key>
				<data>
				AACAAFVTQioACgAAAAAAAgAEAAAABAAAABAAAAAQAAAA
				ACAAAA4AAIAAAACAAAAA2oMAAPFLAAFAAAABgAAAAgAA
				AALgAAADAAAABOAAAAQAAAAHQAAABQAAAAoAAAAGAAAA
				DUAAAAgAAAAWAAAACsAAACMAAAANAAAALwAAAA7AAAA4
				wAAAEEAAAEEAAAARwAAASMAAAABQAAARAAA0ewAAMzMA
				AHaxAAB/lAAAyNUAAOrOAAEnHQABh1gAAYiVAAJTXAAC
				AAAAA4AAAAKAAAAE4AAAAwAAAAZgAAAEAAAACgAAAAUA
				AAAOQAAABgAAABNAAAAIAAAAHsAAAArMzQAxNssADQiJ
				AD+RcQAOu7wAS98kABBMzQBWH+QAEd3eAGBgpAAAgAAA
				EgAAQAAAAEAAAACAoAAAjXIAAMK+AADuFAABBusAAW6h
				AAFIEwACBwwAAYAAAAKgAAACAAAABEAAAAKAAAAGAAAA
				AwAAAAgAAAAEAAAADQAAAAUIiQAT0cEABgiJABtAagAI
				EREAKb3zAArMzQBBnmUADRmaAFYf5AAOxEQAYm2XABBV
				VQBuu0oAEe7vAHsI/AAAsAAAEQAANA4AADMzAAB1YwAA
				hFIAAMTMAAEFkAABIEoAAeKdAAGAAAADAAAAAgAAAAUA
				AAACiIkAB4qsAAMyQwALdpUABBERABE88AAFCIkAGZma
				AAYZmgAjgnoACCqrADlqmAAK1VUAVh/kAA0ZmgBuu0oA
				DtVVAH8i4wAQbu8Aj4p8ABHmZgCb2C4AAOAAABEAADQX
				AAAzMwAAbacAAIKPAAC2MAABAo8AARQMAAIGGgABgAAA
				A6AAAAIIiQAGHQ0AAoiJAAkCZQADCIkADBv6AAQREQAU
				+BkABRERAB+howAGIiIALjQCAAgqqwBJNtgACuZmAHDI
				PQANMzMAjX2IAA73dwCkC/sAEIiJALRzlAASAAAAws46
				AAEAAAATAAA0DgAAMzMAAGsYAACHrgAAmZoAAOPXAADF
				+QABXCkAAQj2AAI64QABSXMAA0OAAAGpgAAFD1oAAgiJ
				AAc9WgACkREACph7AAMREQAPcHkABBmaABpM3gAFEREA
				KTo5AAYqqwA8EGkACDMzAGJtlwAK7u8AlbFVAA0qqwC6
				mm4ADwiJANtpoAAQqqsA9hH4ABJMzQEOrV4AAYAAABMA
				ADToAAA4UgAAaxgAAJR7AACZLAAA+FIAAMljAAGXCgAB
				By0AAo4nAAFIiQADsuYAAZF9AAU8sAACCIkACEiIAAKR
				EQAM3boAAzMzABOMKAAEKqsAIae7AAUiIgA09LgABjMz
				AE3VpQAIMzMAgYtKAArmZgDHIcMADSqrAQBSuAAO93cB
				KVW2ABCzMwFSWLYAEm7vAXtbtgACAAAAEwAANOgAADrh
				AABrhQAAoUgAAJtPAAEXCgAAyxgAAczNAAEHpgAC7RcA
				AUj7AAQkggABiIkABZzbAAIRSwAJ31MAApmaAA+AAAAD
				QAAAGCAAAARAAAAqgAAABTu8AEPxsQAGVVUAZTVaAAg7
				vACoO2sACvd3AQ87OgANTM0Bc25gAA8IiQHFLeYAEMAA
				AhNAAAASgAACXUAAAAMAAAASAAA2MAAAQo8AAGxgAACu
				FAAAnJYAATrhAADMYAACD1wAAQTpAANAdgABRQgABLQY
				AAGEDAAGcg8AAgIVAAsmJwACgAAAEQAAAANAAAAegAAA
				BEAAADnAAAAFQAAAXoAAAAaAAACWQAAACEAAAPnAAAAL
				AAABtkAAAA1AAAJZwAAAD4AAAv6AAAARwAADpkAA
				</data>
				<key>AppleMultiTouch</key>
				<data>
				AACAAFVTQioABwAAAAAAAgAEAAAABAAAABAAAAAQAAAA
				ACAAAA0AAIAAAACAAAABQAAAAYAAAAIAAAAC4AAAAwAA
				AATgAAAEAAAAB0AAAAUAAAAKAAAABgAAAA1AAAAIAAAA
				FgAAAArAAAAjAAAADQAAAC8AAAAOwAAAOMAAABBAAABB
				AAAAEcAAAEjAAAAAUAAADwAAgAAAAIAAAAEAAAABQAAA
				AYAAAAJAAAACAAAAA4AAAAKAAAAE4AAAAwAAAAZgAAAE
				AAAACgAAAAUAAAAOQAAABgAAABNAAAAIAAAAHsAAAArA
				AAAuwAAADQAAADyAAAAOwAAARwAAABBAAABPwAAAEcAA
				AFiAAAAAgAAADwAAgAAAAIAAAAEAAAABYAAAAYAAAAKg
				AAACAAAABEAAAAKAAAAGAAAAAwAAAAgAAAAEAAAADQAA
				AAUAAAASwAAABgAAABkAAAAIAAAAKAAAAArAAAA7wAAA
				DQAAAEuAAAAOwAAAV0AAABBAAABgQAAAEcAAAGkAAAAA
				sAAADwAAgAAAAIAAAAEAAAABoAAAAYAAAAMAAAACAAAA
				BQAAAAKAAAAHQAAAAwAAAAnAAAAEAAAAEEAAAAUAAAAX
				gAAABgAAAB/AAAAIAAAAMgAAAArAAABKAAAADQAAAFyA
				AAAOwAAAaQAAABBAAABywAAAEcAAAHrAAAAA4AAADwAA
				gAAAAKAAAAEAAAABwAAAAYAAAANgAAACAAAABeAAAAKA
				AAAIoAAAAwAAAAvAAAAEAAAAE8AAAAUAAAAdQAAABgAA
				ACfAAAAIAAAAPcAAAArAAABZAAAADQAAAG3AAAAOwAAA
				e0AAABBAAACFQAAAEcAAAIxAAAABAAAADwAAgAAAAMAA
				AAEAAAACAAAAAYAAAAPgAAACAAAABsAAAAKAAAAKQAAA
				AwAAAA5gAAAEAAAAGMAAAAUAAAAkwAAABgAAADLAAAAI
				AAAATUAAAArAAABugAAADQAAAIMAAAAOwAAAj0AAABBA
				AACXAAAAEcAAAJxAAA==
				</data>
				<key>AppleUSBMouse</key>
				<data>
				AACAAFVTQioABwAAAAAAAQABAAAAAQAAAAAgAAAQAABx
				OwAATOMABE7FAA03BAAFRAAAFIAAAAcsAAAj4AAACQAA
				ADSwAAAK2AAARfAAAA0IAABXkAAAD2AAAGkAAAASEAAA
				eoAAABUAAACJAAAAF8AAAJEAAAAawAAAlrAAAB2QAACZ
				sAAAIKAAAJswAAAj8AAAnDAAACewAACcMAAAAIAAABIA
				AHE7AABWfwAESgAADqAAAAY6AAAfQAAABygAACkAAAAI
				2AAAPGAAAAm4AABHQAAACrAAAFMwAAALwAAAYDAAAAzA
				AABsIAAADuAAAIQgAAARYAAAnSAAABQAAAC0AAAAFsAA
				AMcAAAAZoAAA1AAAABzgAADbAAAAIIAAAOAAAAAkQAAA
				4wAAACegAADjAAAAALAAABQAAHE7AABhTgAESgAAD2AA
				AAUyAAAXYAAABjIAACCgAAAHLAAALCAAAAgIAAA3oAAA
				COQAAENAAAAJwAAAUIAAAAqgAABfIgAAC5AAAG1wAAAM
				cAAAewAAAA6AAACYoAAAEMAAALYAAAATQAAA0gAAABZg
				AADpAAAAGiAAAPoAAAAdoAABAwAAACEgAAEHAAAAJIAA
				AQoAAAAnoAABDAAAAADgAAARAABxOwAAbXcABBoAABHw
				AAAFGgAAG/AAAAXwAAAmYAAABvwAADQAAAAITAAAT+AA
				AAlsAABt4AAACngAAI3AAAALsAAAtkAAAA1QAADZgAAA
				EQAAAPeAAAAVwAABEQAAABlgAAEgAAAAHUAAASgAAAAh
				AAABLgAAACSAAAEyAAAAJ4AAATUAAAAAUAAAEgAAcTsA
				AEuwAARMAAAOAAAABUAAABVQAAAHJAAAJiAAAAi0AAA1
				wAAACpAAAEmAAAAL6AAAVoAAAA0gAABiAAAADhgAAGrQ
				AAAPGAAAdAAAABGQAACHgAAAFFAAAJoAAAAXYAAAqYAA
				ABpgAAC0AAAAHVAAALkAAAAg0AAAvIAAACQgAAC9gAAA
				J7AAAL6AAAABAAAAEAAAcTsAAFZ/AAO4AAASoAAABSAA
				ACVAAAAGCAAAN4AAAAbwAABfAAAAB/AAAIoAAAAJKAAA
				yyAAAArwAAD3gAAADSAAARyAAAAQAAABOAAAABRAAAFK
				AAAAGQAAAVMAAAAc0AABVwAAACDgAAFbgAAAJCAAAV2A
				AAAnoAABXgAAAFJwAAAJlNEAWTAAAAoSaQBf8AAACpAA
				AGawAAAA4AAAHAABGFUAATAAAAGyKAAC8AAAAlNpAAag
				AAADb0oAENAAAAOteAAUWAAAA+ulABfgAAAEKdMAG2gA
				AARoAAAe8AAABKIBACKYAAAE2VYAJiAAAAUUqwApaAAA
				BVAAACywAAAFgAEAMcgAAAW1VgA2QAAABeqrADq4AAAG
				IAAAPzAAAAZiAABD3AAABp6rAEh4AAAG21YATRQAAAcY
				AABRsAAAB3oBAFbcAAAH2VYAW/gAAAg4qwBhFAAACJgA
				AGYwAAAJFgEAbAAAAAmRVgBx0AAACgyrAHegAAAKiAAA
				fXAAAAEAAAATAAEYVQABMAAAAbIoAAMQAAACU2kABxAA
				AAMvSgARgAAAA6z7AByIAAAEOqsAKOAAAASBVgAwiAAA
				BMgAADgwAAAFDVYAQJgAAAVQAABI8AAABcarAFKwAAAG
				OAAAXHAAAAbxVgBnwAAAB0yrAG1YAAAHqAAAcvAAAAhM
				AAB5BAAACPAAAH8YAAAJlAAAhSwAAAo4AACLQAA=
				</data>
				<key>AppleWirelessMouse2007</key>
				<data>
				AACAAFVTQioABwAAAAAAAQABAAAAAQAAAAAgAAAQAACR
				eQAAil0AA/pPAAWs1QAGJoYACxR7AAgfZgARbkQACsk+
				ABmLlAANYE4AIL7zAA+BSQAlt8EAEZAaACj5qQATsRUA
				KwhWABXSEQAsZ3QAGDu2AC2arwAaybAALqIFAB3W1QAv
				qVwAIL+kADCEzwAkOccAMWBCACgFqQAyD9EAAIAAABIA
				AHE7AABWfwAD+k8AB0vtAAYHigARBPwAB79SABmjxAAJ
				ZdoAIgn4AArhRQApjdQADFywAC/2xgANtZ0ANphMAA+y
				YAA8kBIAEZVGAECKlgATgMoAQzGZABW56gBF2JwAGCbI
				AEfV3gAa4UEASWH0AB3gtgBK7gsAIQKqAEx6IgAkrpUA
				TndkACgM5QBQA3sAALAAABMAAHE7AABhTgAD9B0ACGyA
				AAX2SwATc2kAB2kWABwSMgAI00IAJOmQAAoJsQAtFy0A
				CyZBADO4tAAMh80APTnTAA4UdwBEhRoAD6nBAEoLtQAR
				hAYATndkABNm7ABSAL0AFaAMAFSnwAAYOAcAVt2XABrh
				QQBYokQAHeC2AFouWwAhAqoAW7pyACS3NQBdfx4AKBWF
				AF8LNQAA4AAAFAAAcTsAAG13AAPn8gAJVpMABcKOABVw
				qwAHAZwAHoCfAAgvawAnH2cACUv8ADBn8QAKTq0AOJWO
				AAt8fABCFq0ADKGsAEp84AAOAzgAUY+SAA+P4gBX+IMA
				ET8KAFycyAATO84AYJdMABWOzQBj6A8AGB4oAGYd5wAa
				6eEAaBspAB3PdwBpp0AAIPoKAGszVgAkrpUAbL9tACgV
				hQBuEu8AAFAAABEAAHE7AABLsAAD+3YABlo4AAYICgAO
				Cs0AB+ZmABXLeQAJ93cAHgqgAAvd3gAlQeMADcbcACvD
				rAAPoSEAMRGxABGVRgA006AAE5qpADdCDQAVwooAOQa5
				ABgmyAA6ktAAGtiiADvmUgAd4LYAPTnTACDoywA+jVQA
				JHI5AEAZawAoDOUAQTRXAAEAAAAVAABxOwAAVn8AA97b
				AApFogAFWQgAFjhEAAZzZAAfrwsAB1prACiH0QAIOOIA
				MmfvAAj1IAA8sWQACfXSAEg23AALEC4AUx5TAAxENgBc
				lRoADbQkAGTP3gAPV2gAa2VIABD6rABwIKsAEwSdAHRy
				uAAVZB8AeCbEABf/hgB6NXUAGtbSAHx40QAdx8kAfh4r
				ACDsFwB/jtoAJKpqAID/iQAoCp0Aggbi
				</data>
				<key>HIDAccelCurvesBT</key>
				<array>
					<dict>
						<key>HIDAccelGainLinear</key>
						<integer>65536</integer>
						<key>HIDAccelIndex</key>
						<integer>0</integer>
						<key>HIDAccelTangentSpeedLinear</key>
						<integer>484966</integer>
						<key>HIDAccelTangentSpeedParabolicRoot</key>
						<integer>2621440</integer>
					</dict>
					<dict>
						<key>HIDAccelGainCubic</key>
						<integer>5243</integer>
						<key>HIDAccelGainLinear</key>
						<integer>70779</integer>
						<key>HIDAccelGainParabolic</key>
						<integer>32768</integer>
						<key>HIDAccelIndex</key>
						<integer>8192</integer>
						<key>HIDAccelTangentSpeedLinear</key>
						<integer>484966</integer>
						<key>HIDAccelTangentSpeedParabolicRoot</key>
						<integer>1966080</integer>
					</dict>
					<dict>
						<key>HIDAccelGainCubic</key>
						<integer>6554</integer>
						<key>HIDAccelGainLinear</key>
						<integer>76022</integer>
						<key>HIDAccelGainParabolic</key>
						<integer>43254</integer>
						<key>HIDAccelIndex</key>
						<integer>32768</integer>
						<key>HIDAccelTangentSpeedLinear</key>
						<integer>484966</integer>
						<key>HIDAccelTangentSpeedParabolicRoot</key>
						<integer>1572864</integer>
					</dict>
					<dict>
						<key>HIDAccelGainCubic</key>
						<integer>7864</integer>
						<key>HIDAccelGainLinear</key>
						<integer>81265</integer>
						<key>HIDAccelGainParabolic</key>
						<integer>54395</integer>
						<key>HIDAccelIndex</key>
						<integer>45056</integer>
						<key>HIDAccelTangentSpeedLinear</key>
						<integer>491520</integer>
						<key>HIDAccelTangentSpeedParabolicRoot</key>
						<integer>1245184</integer>
					</dict>
					<dict>
						<key>HIDAccelGainCubic</key>
						<integer>9830</integer>
						<key>HIDAccelGainLinear</key>
						<integer>86508</integer>
						<key>HIDAccelGainParabolic</key>
						<integer>65536</integer>
						<key>HIDAccelIndex</key>
						<integer>57344</integer>
						<key>HIDAccelTangentSpeedLinear</key>
						<integer>498074</integer>
						<key>HIDAccelTangentSpeedParabolicRoot</key>
						<integer>1179648</integer>
					</dict>
					<dict>
						<key>HIDAccelGainCubic</key>
						<integer>11796</integer>
						<key>HIDAccelGainLinear</key>
						<integer>91750</integer>
						<key>HIDAccelGainParabolic</key>
						<integer>75366</integer>
						<key>HIDAccelIndex</key>
						<integer>65536</integer>
						<key>HIDAccelTangentSpeedLinear</key>
						<integer>511181</integer>
						<key>HIDAccelTangentSpeedParabolicRoot</key>
						<integer>1114112</integer>
					</dict>
					<dict>
						<key>HIDAccelGainCubic</key>
						<integer>14418</integer>
						<key>HIDAccelGainLinear</key>
						<integer>96993</integer>
						<key>HIDAccelGainParabolic</key>
						<integer>85197</integer>
						<key>HIDAccelIndex</key>
						<integer>98304</integer>
						<key>HIDAccelTangentSpeedLinear</key>
						<integer>524288</integer>
						<key>HIDAccelTangentSpeedParabolicRoot</key>
						<integer>1048576</integer>
					</dict>
					<dict>
						<key>HIDAccelGainCubic</key>
						<integer>17695</integer>
						<key>HIDAccelGainLinear</key>
						<integer>102236</integer>
						<key>HIDAccelGainParabolic</key>
						<integer>95027</integer>
						<key>HIDAccelIndex</key>
						<integer>131072</integer>
						<key>HIDAccelTangentSpeedLinear</key>
						<integer>543949</integer>
						<key>HIDAccelTangentSpeedParabolicRoot</key>
						<integer>983040</integer>
					</dict>
					<dict>
						<key>HIDAccelGainCubic</key>
						<integer>21627</integer>
						<key>HIDAccelGainLinear</key>
						<integer>106824</integer>
						<key>HIDAccelGainParabolic</key>
						<integer>108790</integer>
						<key>HIDAccelIndex</key>
						<integer>163840</integer>
						<key>HIDAccelTangentSpeedLinear</key>
						<integer>570163</integer>
						<key>HIDAccelTangentSpeedParabolicRoot</key>
						<integer>917504</integer>
					</dict>
					<dict>
						<key>HIDAccelGainCubic</key>
						<integer>26214</integer>
						<key>HIDAccelGainLinear</key>
						<integer>111411</integer>
						<key>HIDAccelGainParabolic</key>
						<integer>123208</integer>
						<key>HIDAccelIndex</key>
						<integer>196608</integer>
						<key>HIDAccelTangentSpeedLinear</key>
						<integer>589824</integer>
						<key>HIDAccelTangentSpeedParabolicRoot</key>
						<integer>851968</integer>
					</dict>
				</array>
				<key>HIDAccelCurvesMT</key>
				<array>
					<dict>
						<key>HIDAccelGainLinear</key>
						<integer>65536</integer>
						<key>HIDAccelIndex</key>
						<integer>0</integer>
						<key>HIDAccelTangentSpeedLinear</key>
						<integer>484966</integer>
						<key>HIDAccelTangentSpeedParabolicRoot</key>
						<integer>1376256</integer>
					</dict>
					<dict>
						<key>HIDAccelGainCubic</key>
						<integer>5243</integer>
						<key>HIDAccelGainLinear</key>
						<integer>70779</integer>
						<key>HIDAccelGainParabolic</key>
						<integer>32768</integer>
						<key>HIDAccelIndex</key>
						<integer>8192</integer>
						<key>HIDAccelTangentSpeedLinear</key>
						<integer>478413</integer>
						<key>HIDAccelTangentSpeedParabolicRoot</key>
						<integer>1310720</integer>
					</dict>
					<dict>
						<key>HIDAccelGainCubic</key>
						<integer>6554</integer>
						<key>HIDAccelGainLinear</key>
						<integer>76022</integer>
						<key>HIDAccelGainParabolic</key>
						<integer>43254</integer>
						<key>HIDAccelIndex</key>
						<integer>32768</integer>
						<key>HIDAccelTangentSpeedLinear</key>
						<integer>471859</integer>
						<key>HIDAccelTangentSpeedParabolicRoot</key>
						<integer>1245184</integer>
					</dict>
					<dict>
						<key>HIDAccelGainCubic</key>
						<integer>7864</integer>
						<key>HIDAccelGainLinear</key>
						<integer>81265</integer>
						<key>HIDAccelGainParabolic</key>
						<integer>54395</integer>
						<key>HIDAccelIndex</key>
						<integer>45056</integer>
						<key>HIDAccelTangentSpeedLinear</key>
						<integer>465306</integer>
						<key>HIDAccelTangentSpeedParabolicRoot</key>
						<integer>1179648</integer>
					</dict>
					<dict>
						<key>HIDAccelGainCubic</key>
						<integer>9830</integer>
						<key>HIDAccelGainLinear</key>
						<integer>86508</integer>
						<key>HIDAccelGainParabolic</key>
						<integer>65536</integer>
						<key>HIDAccelIndex</key>
						<integer>57344</integer>
						<key>HIDAccelTangentSpeedLinear</key>
						<integer>458752</integer>
						<key>HIDAccelTangentSpeedParabolicRoot</key>
						<integer>1114112</integer>
					</dict>
					<dict>
						<key>HIDAccelGainCubic</key>
						<integer>11796</integer>
						<key>HIDAccelGainLinear</key>
						<integer>91750</integer>
						<key>HIDAccelGainParabolic</key>
						<integer>75366</integer>
						<key>HIDAccelIndex</key>
						<integer>65536</integer>
						<key>HIDAccelTangentSpeedLinear</key>
						<integer>458752</integer>
						<key>HIDAccelTangentSpeedParabolicRoot</key>
						<integer>1048576</integer>
					</dict>
					<dict>
						<key>HIDAccelGainCubic</key>
						<integer>13763</integer>
						<key>HIDAccelGainLinear</key>
						<integer>96993</integer>
						<key>HIDAccelGainParabolic</key>
						<integer>85197</integer>
						<key>HIDAccelIndex</key>
						<integer>98304</integer>
						<key>HIDAccelTangentSpeedLinear</key>
						<integer>458752</integer>
						<key>HIDAccelTangentSpeedParabolicRoot</key>
						<integer>983040</integer>
					</dict>
					<dict>
						<key>HIDAccelGainCubic</key>
						<integer>15729</integer>
						<key>HIDAccelGainLinear</key>
						<integer>102236</integer>
						<key>HIDAccelGainParabolic</key>
						<integer>95027</integer>
						<key>HIDAccelIndex</key>
						<integer>131072</integer>
						<key>HIDAccelTangentSpeedLinear</key>
						<integer>458752</integer>
						<key>HIDAccelTangentSpeedParabolicRoot</key>
						<integer>917504</integer>
					</dict>
					<dict>
						<key>HIDAccelGainCubic</key>
						<integer>18350</integer>
						<key>HIDAccelGainLinear</key>
						<integer>106824</integer>
						<key>HIDAccelGainParabolic</key>
						<integer>108790</integer>
						<key>HIDAccelIndex</key>
						<integer>163840</integer>
						<key>HIDAccelTangentSpeedLinear</key>
						<integer>458752</integer>
						<key>HIDAccelTangentSpeedParabolicRoot</key>
						<integer>851968</integer>
					</dict>
					<dict>
						<key>HIDAccelGainCubic</key>
						<integer>23593</integer>
						<key>HIDAccelGainLinear</key>
						<integer>111411</integer>
						<key>HIDAccelGainParabolic</key>
						<integer>123208</integer>
						<key>HIDAccelIndex</key>
						<integer>196608</integer>
						<key>HIDAccelTangentSpeedLinear</key>
						<integer>458752</integer>
						<key>HIDAccelTangentSpeedParabolicRoot</key>
						<integer>786432</integer>
					</dict>
				</array>
			</dict>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.ApplePS2SmartTouchPad</string>
			<key>Debug Level</key>
			<integer>16</integer>
			<key>FocalTechNameMatch</key>
			<array>
				<string>FLT0101</string>
				<string>FLT0102</string>
				<string>FLT0103</string>
			</array>
			<key>HIDAccelCurves</key>
			<array>
				<dict>
					<key>HIDAccelGainLinear</key>
					<integer>65536</integer>
					<key>HIDAccelIndex</key>
					<integer>0</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>484966</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>2621440</integer>
				</dict>
				<dict>
					<key>HIDAccelGainCubic</key>
					<integer>5243</integer>
					<key>HIDAccelGainLinear</key>
					<integer>70779</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>32768</integer>
					<key>HIDAccelIndex</key>
					<integer>8192</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>484966</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>1966080</integer>
				</dict>
				<dict>
					<key>HIDAccelGainCubic</key>
					<integer>6554</integer>
					<key>HIDAccelGainLinear</key>
					<integer>76022</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>43254</integer>
					<key>HIDAccelIndex</key>
					<integer>32768</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>484966</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>1572864</integer>
				</dict>
				<dict>
					<key>HIDAccelGainCubic</key>
					<integer>7864</integer>
					<key>HIDAccelGainLinear</key>
					<integer>81265</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>54395</integer>
					<key>HIDAccelIndex</key>
					<integer>45056</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>491520</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>1245184</integer>
				</dict>
				<dict>
					<key>HIDAccelGainCubic</key>
					<integer>9830</integer>
					<key>HIDAccelGainLinear</key>
					<integer>86508</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>65536</integer>
					<key>HIDAccelIndex</key>
					<integer>57344</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>498074</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>1179648</integer>
				</dict>
				<dict>
					<key>HIDAccelGainCubic</key>
					<integer>11796</integer>
					<key>HIDAccelGainLinear</key>
					<integer>91750</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>75366</integer>
					<key>HIDAccelIndex</key>
					<integer>65536</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>511181</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>1114112</integer>
				</dict>
				<dict>
					<key>HIDAccelGainCubic</key>
					<integer>14418</integer>
					<key>HIDAccelGainLinear</key>
					<integer>96993</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>85197</integer>
					<key>HIDAccelIndex</key>
					<integer>98304</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>524288</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>1048576</integer>
				</dict>
				<dict>
					<key>HIDAccelGainCubic</key>
					<integer>17695</integer>
					<key>HIDAccelGainLinear</key>
					<integer>102236</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>95027</integer>
					<key>HIDAccelIndex</key>
					<integer>131072</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>543949</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>983040</integer>
				</dict>
				<dict>
					<key>HIDAccelGainCubic</key>
					<integer>21627</integer>
					<key>HIDAccelGainLinear</key>
					<integer>106824</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>108790</integer>
					<key>HIDAccelIndex</key>
					<integer>163840</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>570163</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>917504</integer>
				</dict>
				<dict>
					<key>HIDAccelGainCubic</key>
					<integer>26214</integer>
					<key>HIDAccelGainLinear</key>
					<integer>111411</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>123208</integer>
					<key>HIDAccelIndex</key>
					<integer>196608</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>589824</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>851968</integer>
				</dict>
			</array>
			<key>HIDDefaultBehavior</key>
			<string>Trackpad</string>
			<key>HIDPointerAccelerationTable</key>
			<data>
			AACAAFVTQioACgAAAAAAAgAEAAAABAAAABAAAAAQAAAAACAAAA4A
			AIAAAACAAAAA2oMAAPFLAAFAAAABgAAAAgAAAALgAAADAAAABOAA
			AAQAAAAHQAAABQAAAAoAAAAGAAAADUAAAAgAAAAWAAAACsAAACMA
			AAANAAAALwAAAA7AAAA4wAAAEEAAAEEAAAARwAAASMAAAABQAAAR
			AAA0ewAAMzMAAHaxAAB/lAAAyNUAAOrOAAEnHQABh1gAAYiVAAJT
			XAACAAAAA4AAAAKAAAAE4AAAAwAAAAZgAAAEAAAACgAAAAUAAAAO
			QAAABgAAABNAAAAIAAAAHsAAAArMzQAxNssADQiJAD+RcQAOu7wA
			S98kABBMzQBWH+QAEd3eAGBgpAAAgAAAEgAAQAAAAEAAAACAoAAA
			jXIAAMK+AADuFAABBusAAW6hAAFIEwACBwwAAYAAAAKgAAACAAAA
			BEAAAAKAAAAGAAAAAwAAAAgAAAAEAAAADQAAAAUIiQAT0cEABgiJ
			ABtAagAIEREAKb3zAArMzQBBnmUADRmaAFYf5AAOxEQAYm2XABBV
			VQBuu0oAEe7vAHsI/AAAsAAAEQAANA4AADMzAAB1YwAAhFIAAMTM
			AAEFkAABIEoAAeKdAAGAAAADAAAAAgAAAAUAAAACiIkAB4qsAAMy
			QwALdpUABBERABE88AAFCIkAGZmaAAYZmgAjgnoACCqrADlqmAAK
			1VUAVh/kAA0ZmgBuu0oADtVVAH8i4wAQbu8Aj4p8ABHmZgCb2C4A
			AOAAABEAADQXAAAzMwAAbacAAIKPAAC2MAABAo8AARQMAAIGGgAB
			gAAAA6AAAAIIiQAGHQ0AAoiJAAkCZQADCIkADBv6AAQREQAU+BkA
			BRERAB+howAGIiIALjQCAAgqqwBJNtgACuZmAHDIPQANMzMAjX2I
			AA73dwCkC/sAEIiJALRzlAASAAAAws46AAEAAAATAAA0DgAAMzMA
			AGsYAACHrgAAmZoAAOPXAADF+QABXCkAAQj2AAI64QABSXMAA0OA
			AAGpgAAFD1oAAgiJAAc9WgACkREACph7AAMREQAPcHkABBmaABpM
			3gAFEREAKTo5AAYqqwA8EGkACDMzAGJtlwAK7u8AlbFVAA0qqwC6
			mm4ADwiJANtpoAAQqqsA9hH4ABJMzQEOrV4AAYAAABMAADToAAA4
			UgAAaxgAAJR7AACZLAAA+FIAAMljAAGXCgABBy0AAo4nAAFIiQAD
			suYAAZF9AAU8sAACCIkACEiIAAKREQAM3boAAzMzABOMKAAEKqsA
			Iae7AAUiIgA09LgABjMzAE3VpQAIMzMAgYtKAArmZgDHIcMADSqr
			AQBSuAAO93cBKVW2ABCzMwFSWLYAEm7vAXtbtgACAAAAEwAANOgA
			ADrhAABrhQAAoUgAAJtPAAEXCgAAyxgAAczNAAEHpgAC7RcAAUj7
			AAQkggABiIkABZzbAAIRSwAJ31MAApmaAA+AAAADQAAAGCAAAARA
			AAAqgAAABTu8AEPxsQAGVVUAZTVaAAg7vACoO2sACvd3AQ87OgAN
			TM0Bc25gAA8IiQHFLeYAEMAAAhNAAAASgAACXUAAAAMAAAASAAA2
			MAAAQo8AAGxgAACuFAAAnJYAATrhAADMYAACD1wAAQTpAANAdgAB
			RQgABLQYAAGEDAAGcg8AAgIVAAsmJwACgAAAEQAAAANAAAAegAAA
			BEAAADnAAAAFQAAAXoAAAAaAAACWQAAACEAAAPnAAAALAAABtkAA
			AA1AAAJZwAAAD4AAAv6AAAARwAADpkAA
			</data>
			<key>HIDScrollAccelCurves</key>
			<array>
				<dict>
					<key>HIDAccelGainLinear</key>
					<integer>65536</integer>
					<key>HIDAccelIndex</key>
					<integer>0</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>393216</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>786432</integer>
				</dict>
				<dict>
					<key>HIDAccelGainLinear</key>
					<integer>62259</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>39322</integer>
					<key>HIDAccelIndex</key>
					<integer>8192</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>406323</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>786432</integer>
				</dict>
				<dict>
					<key>HIDAccelGainLinear</key>
					<integer>58982</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>58982</integer>
					<key>HIDAccelIndex</key>
					<integer>32768</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>419430</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>786432</integer>
				</dict>
				<dict>
					<key>HIDAccelGainLinear</key>
					<integer>55706</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>78643</integer>
					<key>HIDAccelIndex</key>
					<integer>45056</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>432538</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>786432</integer>
				</dict>
				<dict>
					<key>HIDAccelGainLinear</key>
					<integer>52429</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>91750</integer>
					<key>HIDAccelIndex</key>
					<integer>57344</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>445645</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>786432</integer>
				</dict>
				<dict>
					<key>HIDAccelGainLinear</key>
					<integer>49152</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>104858</integer>
					<key>HIDAccelIndex</key>
					<integer>65536</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>458752</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>786432</integer>
				</dict>
				<dict>
					<key>HIDAccelGainLinear</key>
					<integer>45875</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>117965</integer>
					<key>HIDAccelIndex</key>
					<integer>98304</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>471859</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>786432</integer>
				</dict>
				<dict>
					<key>HIDAccelGainLinear</key>
					<integer>42598</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>131072</integer>
					<key>HIDAccelIndex</key>
					<integer>131072</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>484966</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>786432</integer>
				</dict>
				<dict>
					<key>HIDAccelGainLinear</key>
					<integer>39322</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>144179</integer>
					<key>HIDAccelIndex</key>
					<integer>163840</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>498074</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>786432</integer>
				</dict>
				<dict>
					<key>HIDAccelGainLinear</key>
					<integer>36045</integer>
					<key>HIDAccelGainParabolic</key>
					<integer>157286</integer>
					<key>HIDAccelIndex</key>
					<integer>196608</integer>
					<key>HIDAccelTangentSpeedLinear</key>
					<integer>511181</integer>
					<key>HIDAccelTangentSpeedParabolicRoot</key>
					<integer>786432</integer>
				</dict>
			</array>
			<key>HIDScrollAccelerationTable</key>
			<data>
			AACAAFVTQioACgAAAAAAAQABAAAAAQAAAAAgAAAPAAA1wwAAKPYA
			AH0DAACPXAAAzz4AARxLAAFTpgACUK0AAfqfAAQxPAADAAAAB2AA
			AATAAAAOgAAABvxWABqqqwAJVbkAKAAAAAt/ogAxVVUADYnjADwA
			AAAPlCUARAAAABKLywBOqqsAFQTVAFaqqwAX3NMAXqqrAACAAAAR
			AAA5LAAANcMAAHtPAACuFAAAy2gAAY/vAAE+HAADex4AAYy6AAXf
			JgACAAAACWAAAAMAAAASAAAABMAAACDAAAAGgAAAMIAAAAhqeQBB
			/bYACqIRAGAAAAAMrFMAdqqrAA53RwCKqqsAEIGJAJ1VVQASPKkA
			qqqrABPYIwC1VVUAFu9wAMVVVQAAsAAAEQAAOL8AADXDAAB5mgAA
			vXEAAMeRAAHTZQABJzcAA8RcAAGHkwAHKRsAAgAAAAwgAAADAAAA
			FuAAAATAAAApwAAABkAAADrAAAAHzoIAT+znAAnkKABxVVYAC68c
			AI1VVQANWmkApqqrAA8VigC8AAAAEOB+ANFVVQASm54A4AAAABYC
			DAD1VVUAAOAAABEAADieAAA2vAAAeFIAAMeuAADEsAACFtoAARjB
			AAQZzwABhCMACHMRAAIAAAAOgAAAAwAAABxAAAAEwAAANAAAAAYA
			AABHQAAABzeMAFy+4QAJAAAAgMAAAAqAAAChgAAAC8+yAL1O1AAN
			ehAA2qqrAA77TwDyheIAES7uAQklogAVJHwBJVVWAABQAAAQAAA4
			UgAAMKQAAHyWAACeuAAAzkkAAVrvAAFYcgADFjwAAgAAAAbgAAAD
			AAAADGAAAATAAAAXAAAABszbACaqqwAI9sQANqqrAAswgABIAAAA
			DVppAFqqqwAPRQQAaVVWABFfGQB5VVYAE0m0AIQAAAAU5S4AjVVV
			ABduCwCZVVUAAQAAABEAADiJAAA3EAAAdp0AANR7AADA2gACUK0A
			AQ3pAAR7dwABfvwACb0GAAIAAAARoAAAAwAAACGAAAAExEQAQAAA
			AAXAAABUQAAABsAAAGsAAAAIAAAAjEAAAAkAAACpgAAACkAAAMrA
			AAALwAAA9MAAAA3AAAEkAAAAELu8AVFVVgAUVVUBdqqqAAGAAAAR
			AAA4UgAAPXEAAHToAADeuAAAwNoAAo9RAAEGrgAE3SAAAYC0AAsr
			pQACAYMAFMQCAAMAAAApVVUABLu8AE6qqwAFoiIAZVVWAAazMwCG
			qqsAB9VVAK1VVQAI5mYA1VVVAAoREQEEAAAAC5ERAUFVVgANu7wB
			fqqqABBu7wG4AAAAFBmaAfaqqgACAAAAEQAAOSwAAEKPAABzMwAA
			6PYAAMDaAALN9QABAxEABWNnAAGCbAAMvu4AAf/LABd8lwADAAAA
			MVVVAATERABkAAAABcREAIVVVQAG3d4AsqqrAAfMzQDeqqsACN3e
			ARQAAAAKAAABUqqqAAuzMwGoAAAADbu8AflVVgAQbu8CTqqsABQZ
			mgKpVVQAAwAAABEAADksAABHrgAAcX4AAPMzAADA2gADB8cAAQHc
			AAYmtwABfvwADgjkAAIAAAAawrIAAwAAADdA2gAExEQAeqqrAAXM
			zQCsAAAABszNAN1VVQAH1VUBGqqqAAi7vAFVVVYACdVVAalVVgAL
			bu8CGAAAAA1ERAKMAAAAEAAAAwQAAAATmZoDiqqs
			</data>
			<key>IOClass</key>
			<string>ApplePS2SmartTouchpad</string>
			<key>IOProbeScore</key>
			<integer>3000</integer>
			<key>IOProviderClass</key>
			<string>ApplePS2MouseDevice</string>
			<key>Manufacturer</key>
			<string>Apple</string>
			<key>Preferences</key>
			<dict>
				<key>Buttons</key>
				<dict>
					<key>2FingersClickAction</key>
					<integer>2</integer>
					<key>ClickpadVirtualButtons</key>
					<true/>
					<key>ClickpadVirtualButtonsArea</key>
					<integer>22</integer>
					<key>DisablePhysicalClicks</key>
					<false/>
					<key>EnablePointingOnVirtualButtonArea</key>
					<false/>
					<key>VirtualMiddleButton</key>
					<true/>
				</dict>
				<key>Dragging</key>
				<dict>
					<key>DragFingerIDToUseForData</key>
					<integer>1</integer>
					<key>DragFingersNum</key>
					<integer>7</integer>
					<key>DragLock</key>
					<false/>
					<key>Enable</key>
					<true/>
					<key>FLiftDragReleaseTimeOut</key>
					<integer>300</integer>
					<key>FingerPressDrag</key>
					<true/>
					<key>FingerPressDragPressure</key>
					<dict>
						<key>ELANv2</key>
						<integer>45</integer>
						<key>ELANv3</key>
						<integer>55</integer>
						<key>ELANv4</key>
						<integer>45</integer>
						<key>ELANv4ClickPad</key>
						<integer>25</integer>
						<key>FocalTech</key>
						<integer>25</integer>
						<key>Synaptics</key>
						<integer>65</integer>
						<key>SynapticsClickPad</key>
						<integer>55</integer>
					</dict>
					<key>FingerPressDragStartTimeOut</key>
					<integer>1000</integer>
				</dict>
				<key>FingersPress</key>
				<dict>
					<key>2FingersPressAction</key>
					<integer>0</integer>
					<key>3FingersPressAction</key>
					<integer>0</integer>
					<key>4FingersPressAction</key>
					<integer>0</integer>
					<key>5FingersPressAction</key>
					<integer>0</integer>
					<key>FingersPressTimeOut</key>
					<integer>700</integer>
				</dict>
				<key>Keyboard</key>
				<dict>
					<key>AsusKBacklightAutoOffTimeOut</key>
					<integer>10000</integer>
					<key>AsusKBacklightHas16Levels</key>
					<false/>
					<key>EnableAsusKBacklightAutoOff</key>
					<false/>
					<key>EnableAsusKBacklightSupport</key>
					<false/>
					<key>IgnoreAccidentalTouchpadInput</key>
					<true/>
					<key>TapEnablesTPadFromAccInput</key>
					<false/>
					<key>TimeOutEnablesTPadAfterAccInput</key>
					<integer>1000</integer>
					<key>TriggerAccInputForKeyPressCount</key>
					<integer>2</integer>
				</dict>
				<key>Mouse</key>
				<dict>
					<key>Resolution</key>
					<integer>3</integer>
					<key>SampleRate</key>
					<integer>80</integer>
					<key>Scaling</key>
					<integer>1</integer>
				</dict>
				<key>Others</key>
				<dict>
					<key>4FingersPinchAction</key>
					<integer>0</integer>
					<key>5FingersPinchAction</key>
					<integer>0</integer>
					<key>CircularRotate</key>
					<false/>
					<key>DisableTPadOnLIDClose</key>
					<true/>
					<key>MaxTouchEndDelta</key>
					<dict>
						<key>ELANv2</key>
						<integer>10</integer>
						<key>ELANv3</key>
						<integer>10</integer>
						<key>ELANv4</key>
						<integer>10</integer>
						<key>ELANv4ClickPad</key>
						<integer>10</integer>
						<key>FocalTech</key>
						<integer>10</integer>
						<key>Synaptics</key>
						<integer>25</integer>
						<key>SynapticsClickPad</key>
						<integer>15</integer>
					</dict>
					<key>MaxTouchEndPressure</key>
					<dict>
						<key>ELANv2</key>
						<integer>5</integer>
						<key>ELANv3</key>
						<integer>5</integer>
						<key>ELANv4</key>
						<integer>5</integer>
						<key>ELANv4ClickPad</key>
						<integer>5</integer>
						<key>FocalTech</key>
						<integer>5</integer>
						<key>Synaptics</key>
						<integer>30</integer>
						<key>SynapticsClickPad</key>
						<integer>15</integer>
					</dict>
					<key>PalmCheckMinPressure</key>
					<dict>
						<key>ELANv2</key>
						<integer>180</integer>
						<key>ELANv3</key>
						<integer>200</integer>
						<key>ELANv4</key>
						<integer>200</integer>
						<key>ELANv4ClickPad</key>
						<integer>200</integer>
						<key>FocalTech</key>
						<integer>200</integer>
						<key>Synaptics</key>
						<integer>150</integer>
						<key>SynapticsClickPad</key>
						<integer>150</integer>
					</dict>
					<key>PalmCheckMinWidth</key>
					<dict>
						<key>ELANv2</key>
						<integer>10</integer>
						<key>ELANv3</key>
						<integer>10</integer>
						<key>ELANv4</key>
						<integer>10</integer>
						<key>ELANv4ClickPad</key>
						<integer>10</integer>
						<key>FocalTech</key>
						<integer>10</integer>
						<key>Synaptics</key>
						<integer>9</integer>
						<key>SynapticsClickPad</key>
						<integer>9</integer>
					</dict>
					<key>PalmDetection</key>
					<true/>
					<key>PinchDeltaScale</key>
					<integer>3</integer>
					<key>PinchRotateMinSamples</key>
					<integer>3</integer>
					<key>PinchZoom</key>
					<true/>
					<key>PinchZoomDelta</key>
					<integer>300</integer>
					<key>Rotation</key>
					<true/>
					<key>RotationDelta</key>
					<integer>350</integer>
					<key>RotationMaxCFingDelta</key>
					<integer>85</integer>
					<key>RotationMinCFingIdleTime</key>
					<integer>500</integer>
					<key>TPadStatusCheckPollRate</key>
					<integer>1500</integer>
					<key>UseSynapticsGenericBounds</key>
					<true/>
				</dict>
				<key>Pointing</key>
				<dict>
					<key>AccelerationPrefValue</key>
					<integer>0</integer>
					<key>Clickpad2FingersMove</key>
					<true/>
					<key>DisableTrackPointButton</key>
					<false/>
					<key>EnhancedAccelerationLevel</key>
					<integer>1</integer>
					<key>EnhancedAccelerationMinDelta</key>
					<integer>15</integer>
					<key>HIDTrackpadAccelLevel</key>
					<integer>8</integer>
					<key>PointerCustomAcceleration</key>
					<dict>
						<key>ELANv2</key>
						<integer>16</integer>
						<key>ELANv3</key>
						<integer>16</integer>
						<key>ELANv4</key>
						<integer>12</integer>
						<key>FocalTech</key>
						<integer>12</integer>
						<key>Synaptics</key>
						<integer>16</integer>
					</dict>
					<key>PointerCustomAcceleration2</key>
					<dict/>
					<key>PointerResolution</key>
					<dict>
						<key>ELANv2</key>
						<integer>800</integer>
						<key>ELANv3</key>
						<integer>1600</integer>
						<key>ELANv4</key>
						<integer>1600</integer>
						<key>FocalTech</key>
						<integer>1800</integer>
						<key>MouseMode</key>
						<integer>800</integer>
						<key>Synaptics</key>
						<integer>2400</integer>
					</dict>
					<key>PointerSmoothLevel</key>
					<integer>7</integer>
					<key>PointerSmoothSamples</key>
					<integer>3</integer>
					<key>Sensitivity</key>
					<dict>
						<key>ELANv2</key>
						<integer>0</integer>
						<key>ELANv3</key>
						<integer>0</integer>
						<key>ELANv4</key>
						<integer>0</integer>
						<key>ELANv4ClickPad</key>
						<integer>0</integer>
						<key>FocalTech</key>
						<integer>0</integer>
						<key>Synaptics</key>
						<integer>0</integer>
						<key>SynapticsClickPad</key>
						<integer>0</integer>
					</dict>
					<key>SlowMoveNoiseMaxDelta</key>
					<dict>
						<key>ELANv2</key>
						<integer>0</integer>
						<key>ELANv3</key>
						<integer>0</integer>
						<key>ELANv4</key>
						<integer>0</integer>
						<key>ELANv4ClickPad</key>
						<integer>3</integer>
						<key>FocalTech</key>
						<integer>3</integer>
						<key>Synaptics</key>
						<integer>5</integer>
						<key>SynapticsClickPad</key>
						<integer>3</integer>
					</dict>
					<key>TouchpadEdges</key>
					<dict>
						<key>DisableBottomEdgeActiveArea</key>
						<integer>0</integer>
						<key>DisableLeftEdgeActiveArea</key>
						<integer>0</integer>
						<key>DisableRightEdgeActiveArea</key>
						<integer>0</integer>
						<key>DisableTopEdgeActiveArea</key>
						<integer>0</integer>
					</dict>
				</dict>
				<key>Scrolling</key>
				<dict>
					<key>2FScroll</key>
					<dict>
						<key>2FContScrollMaxDelta</key>
						<dict>
							<key>ELANv2</key>
							<integer>20</integer>
							<key>ELANv3</key>
							<integer>25</integer>
							<key>ELANv4</key>
							<integer>20</integer>
							<key>ELANv4ClickPad</key>
							<integer>15</integer>
							<key>FocalTech</key>
							<integer>15</integer>
							<key>Synaptics</key>
							<integer>30</integer>
							<key>SynapticsClickPad</key>
							<integer>15</integer>
						</dict>
						<key>2FHorizontalScroll</key>
						<true/>
						<key>2FScrollAccelMode</key>
						<integer>0</integer>
						<key>2FVerticalScroll</key>
						<true/>
						<key>Auto2FingScroll</key>
						<false/>
						<key>Continuous2FingScroll</key>
						<true/>
						<key>Inertial2FingScroll</key>
						<true/>
						<key>ScrollSmoothSamples</key>
						<integer>3</integer>
						<key>Sling2FingScroll</key>
						<false/>
					</dict>
					<key>ChangeScrollFlowlDirection</key>
					<false/>
					<key>EdgeScroll</key>
					<dict>
						<key>AutoEdgeScroll</key>
						<false/>
						<key>ContinuousEdgeScroll</key>
						<true/>
						<key>EContScrollMaxDelta</key>
						<dict>
							<key>ELANv2</key>
							<integer>10</integer>
							<key>ELANv3</key>
							<integer>10</integer>
							<key>ELANv4</key>
							<integer>10</integer>
							<key>ELANv4ClickPad</key>
							<integer>10</integer>
							<key>FocalTech</key>
							<integer>10</integer>
							<key>Synaptics</key>
							<integer>15</integer>
							<key>SynapticsClickPad</key>
							<integer>10</integer>
						</dict>
						<key>EScrolSpeedFactor</key>
						<integer>100</integer>
						<key>EdgeCircularScroll</key>
						<false/>
						<key>EdgeCircularScrollDelta</key>
						<integer>10</integer>
						<key>EdgeHScrollAdaptArea</key>
						<integer>2</integer>
						<key>EdgeHScrollArea</key>
						<integer>10</integer>
						<key>EdgeScrollAccelMode</key>
						<integer>0</integer>
						<key>EdgeScrolling</key>
						<true/>
						<key>EdgeVScrollAdaptArea</key>
						<integer>4</integer>
						<key>EdgeVScrollArea</key>
						<integer>8</integer>
						<key>InertialEdgeScroll</key>
						<true/>
						<key>SlingEdgeScroll</key>
						<false/>
					</dict>
					<key>InertialScrollDelay</key>
					<integer>8</integer>
					<key>InertialScrollDepth</key>
					<integer>3</integer>
					<key>NoInertiaForHScroll</key>
					<true/>
					<key>ScrollAccelDelay</key>
					<integer>3</integer>
					<key>ScrollDirectionSamples</key>
					<dict>
						<key>ELANv2</key>
						<integer>3</integer>
						<key>ELANv3</key>
						<integer>5</integer>
						<key>ELANv4</key>
						<integer>5</integer>
						<key>ELANv4ClickPad</key>
						<integer>5</integer>
						<key>FocalTech</key>
						<integer>5</integer>
						<key>Synaptics</key>
						<integer>5</integer>
						<key>SynapticsClickPad</key>
						<integer>5</integer>
					</dict>
					<key>ScrollLevelAtBoot</key>
					<integer>0</integer>
					<key>ScrollLevelFactor</key>
					<integer>1</integer>
					<key>ScrollLevelGranularity</key>
					<integer>40</integer>
					<key>ScrollMaxIdleDetectTimeout</key>
					<integer>500</integer>
					<key>ScrollMaxIdleStateDelta</key>
					<integer>10</integer>
					<key>ScrollResolution</key>
					<dict>
						<key>ELANv2</key>
						<integer>200</integer>
						<key>ELANv3</key>
						<integer>300</integer>
						<key>ELANv4</key>
						<integer>400</integer>
						<key>FocalTech</key>
						<integer>400</integer>
						<key>MouseMode</key>
						<integer>200</integer>
						<key>Synaptics</key>
						<integer>400</integer>
					</dict>
					<key>ScrollStopDetectSamples</key>
					<integer>3</integer>
					<key>SlingScrollStartTimeOut</key>
					<integer>800</integer>
					<key>SlingTriggerArea</key>
					<integer>15</integer>
				</dict>
				<key>SleepInitDelay</key>
				<integer>1500</integer>
				<key>Swiping</key>
				<dict>
					<key>3FingerSwipeDownAction</key>
					<integer>3</integer>
					<key>3FingerSwipeLeftAction</key>
					<integer>11</integer>
					<key>3FingerSwipeRightAction</key>
					<integer>12</integer>
					<key>3FingerSwipeUpAction</key>
					<integer>13</integer>
					<key>3FingerSwipes</key>
					<true/>
					<key>4FingerSwipeDownAction</key>
					<integer>8</integer>
					<key>4FingerSwipeLeftAction</key>
					<integer>1</integer>
					<key>4FingerSwipeRightAction</key>
					<integer>16</integer>
					<key>4FingerSwipeUpAction</key>
					<integer>4</integer>
					<key>4FingerSwipes</key>
					<true/>
					<key>EdgeSwipeBottom</key>
					<integer>0</integer>
					<key>EdgeSwipeDeltaX</key>
					<integer>25</integer>
					<key>EdgeSwipeDeltaY</key>
					<integer>30</integer>
					<key>EdgeSwipeFingers</key>
					<integer>2</integer>
					<key>EdgeSwipeLeft</key>
					<integer>6</integer>
					<key>EdgeSwipeRight</key>
					<integer>7</integer>
					<key>EdgeSwipeSenseHArea</key>
					<integer>7</integer>
					<key>EdgeSwipeSenseVArea</key>
					<integer>5</integer>
					<key>EdgeSwipeTop</key>
					<integer>9</integer>
					<key>EdgeSwipes</key>
					<true/>
					<key>EdgeSwipes2Ways</key>
					<true/>
					<key>EdgeSwipesResetPointer</key>
					<true/>
					<key>MultiFingerSwipesDeltaX</key>
					<integer>250</integer>
					<key>MultiFingerSwipesDeltaY</key>
					<integer>200</integer>
				</dict>
				<key>Tapping</key>
				<dict>
					<key>12TapTimeOut</key>
					<integer>180</integer>
					<key>1FClickTimeOut</key>
					<integer>140</integer>
					<key>1FTapPressure</key>
					<dict>
						<key>ELANv2</key>
						<integer>30</integer>
						<key>ELANv3</key>
						<integer>35</integer>
						<key>ELANv4</key>
						<integer>35</integer>
						<key>ELANv4ClickPad</key>
						<integer>20</integer>
						<key>FocalTech</key>
						<integer>20</integer>
						<key>Synaptics</key>
						<integer>50</integer>
						<key>SynapticsClickPad</key>
						<integer>40</integer>
					</dict>
					<key>1FingerTapAction</key>
					<integer>35</integer>
					<key>2FingersTapAction</key>
					<integer>34</integer>
					<key>3FingersTapAction</key>
					<integer>33</integer>
					<key>4FingersTapAction</key>
					<integer>32</integer>
					<key>5FingersTapAction</key>
					<integer>31</integer>
					<key>CornerTapAreaHeight</key>
					<integer>10</integer>
					<key>CornerTapAreaLength</key>
					<integer>10</integer>
					<key>CornerTapStartABS</key>
					<true/>
					<key>DisableBottomCornersTap</key>
					<false/>
					<key>Enable</key>
					<true/>
					<key>MulFingDoubleTaps</key>
					<false/>
					<key>MulFingTapMaxDelta</key>
					<integer>55</integer>
					<key>MulFingTapTimeOut</key>
					<integer>200</integer>
					<key>TapMaxDelta</key>
					<integer>100</integer>
					<key>TrackpadTappingCorners</key>
					<false/>
				</dict>
			</dict>
			<key>ProductID</key>
			<integer>782</integer>
			<key>VendorID</key>
			<integer>1452</integer>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © EMlyDinEsH (mg-dinesh@live.com) 2012-2016. All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOHIDSystem</key>
		<string>1.0.0b1</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0.0</string>
		<key>org.emlydinesh.driver.ApplePS2Controller</key>
		<string>4.6.8</string>
		<key>org.emlydinesh.driver.ApplePS2Keyboard</key>
		<string>4.6.8</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Safe Boot</string>
</dict>
</plist>
