<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>CosmosCJ/宇宙</string>
	<key>Description</key>
	<string>El Capitan v1</string>
	<key>Theme</key>
	<dict>
		<key>Anime</key>
		<array>
			<dict>
				<key>DistanceFromScreenEdgeX%</key>
				<integer>43</integer>
				<key>DistanceFromScreenEdgeY%</key>
				<integer>10</integer>
				<key>FrameTime</key>
				<integer>25</integer>
				<key>Frames</key>
				<integer>150</integer>
				<key>ID</key>
				<integer>1</integer>
				<key>NudgeX</key>
				<integer>0</integer>
				<key>NudgeY</key>
				<integer>0</integer>
				<key>Once</key>
				<false/>
				<key>Path</key>
				<string>Anim_1_Logo</string>
				<key>ScreenEdgeX</key>
				<string>left</string>
				<key>ScreenEdgeY</key>
				<string>bottom</string>
			</dict>
		</array>
		<key>Background</key>
		<dict>
			<key>Path</key>
			<string>El capitan blur.png</string>
			<key>Type</key>
			<string>Crop</string>
		</dict>
		<key>Badges</key>
		<dict>
			<key>Inline</key>
			<false/>
			<key>Show</key>
			<true/>
			<key>Swap</key>
			<true/>
		</dict>
		<key>Banner</key>
		<string>apple logo.png</string>
		<key>Components</key>
		<dict>
			<key>Label</key>
			<true/>
			<key>MenuTitle</key>
			<true/>
			<key>MenuTitleImage</key>
			<true/>
			<key>Revision</key>
			<false/>
			<key>Tools</key>
			<false/>
		</dict>
		<key>Font</key>
		<dict>
			<key>CharWidth</key>
			<integer>23</integer>
			<key>Path</key>
			<string>font.png</string>
			<key>Proportional</key>
			<true/>
			<key>Type</key>
			<string>Load</string>
		</dict>
		<key>Layout</key>
		<dict>
			<key>BannerOffset</key>
			<integer>-20</integer>
			<key>ButtonOffset</key>
			<integer>400</integer>
			<key>SelectionBigWidth</key>
			<integer>541</integer>
			<key>TextOffset</key>
			<integer>-200</integer>
			<key>TileXSpace</key>
			<integer>380</integer>
			<key>TileYSpace</key>
			<integer>60</integer>
		</dict>
		<key>Selection</key>
		<dict>
			<key>Big</key>
			<string>Selection_big.png</string>
			<key>Color</key>
			<string>0x00000065</string>
			<key>OnTop</key>
			<false/>
			<key>Small</key>
			<string>Selection_small.png</string>
		</dict>
	</dict>
	<key>Year</key>
	<string>2015</string>
</dict>
</plist>
