<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>16F73</string>
	<key>CFBundleIdentifier</key>
	<string>org.rehabman.injector.FakePCIID-Intel-GbX</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>FakePCIID_Intel_GbX</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.3.9</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.3.9</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>8E2002</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>10M2518</string>
	<key>DTSDKName</key>
	<string>macosx10.6</string>
	<key>DTXcode</key>
	<string>0832</string>
	<key>DTXcodeBuild</key>
	<string>8E2002</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>Intel GbX</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.rehabman.driver.FakePCIID</string>
			<key>FakeProperties</key>
			<dict>
				<key>RM,subsystem-id</key>
				<data>
				CgAAAA==
				</data>
			</dict>
			<key>IOClass</key>
			<string>FakePCIID</string>
			<key>IOMatchCategory</key>
			<string>FakePCIID</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x10c68086 0x10c78086 0x10c88086 0x10ec8086 0x10d88086 0x10fb8086 0x10f18086 0x151c8086 0x150b8086 0x15288086 0x10fc8086 0x15608086</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
	</dict>
	<key>OSBundleRequired</key>
	<string>Network-Root</string>
	<key>Source Code</key>
	<string>https://github.com/RehabMan/FakePCIID</string>
</dict>
</plist>
