<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>ApplePS2Trackpad</string>
	<key>CFBundleGetInfoString</key>
	<string>1.1.0, Copyright Apple Computer, Inc. 2002-2003, Copyright mackerintel 2008</string>
	<key>CFBundleIdentifier</key>
	<string>com.Apple.driver.PS2Trackpad</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Apple PS/2 Trackpad</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.1.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>ALPS GlidePoint</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.Apple.driver.PS2Trackpad</string>
			<key>IOClass</key>
			<string>ApplePS2ALPSGlidePoint</string>
			<key>IOProbeScore</key>
			<integer>1500</integer>
			<key>IOProviderClass</key>
			<string>ApplePS2MouseDevice</string>
		</dict>
		<key>Sentelic FSP</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.Apple.driver.PS2Trackpad</string>
			<key>IOClass</key>
			<string>ApplePS2SentelicFSP</string>
			<key>IOProbeScore</key>
			<integer>6000</integer>
			<key>IOProviderClass</key>
			<string>ApplePS2MouseDevice</string>
		</dict>
		<key>Synaptics TouchPad</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.Apple.driver.PS2Trackpad</string>
			<key>Configuration</key>
			<dict>
				<key>BottomEdge</key>
				<integer>1700</integer>
				<key>CenterX</key>
				<integer>3000</integer>
				<key>CenterY</key>
				<integer>3000</integer>
				<key>CircularScrollDivisor</key>
				<integer>0</integer>
				<key>CircularScrollTrigger</key>
				<integer>0</integer>
				<key>Divisor</key>
				<integer>23</integer>
				<key>FingerZ</key>
				<integer>30</integer>
				<key>HorizontalScrollDivisor</key>
				<integer>30</integer>
				<key>LeftEdge</key>
				<integer>1700</integer>
				<key>MaxTapTime</key>
				<integer>100000000</integer>
				<key>MultiFingerHorizontalDivisor</key>
				<integer>30</integer>
				<key>MultiFingerVerticalDivisor</key>
				<integer>25</integer>
				<key>MultiFingerWLimit</key>
				<integer>9</integer>
				<key>RightEdge</key>
				<integer>5200</integer>
				<key>StabilizeTapping</key>
				<true/>
				<key>StickyHorizontalScrolling</key>
				<false/>
				<key>StickyMultiFingerScrolling</key>
				<true/>
				<key>StickyVerticalScrolling</key>
				<false/>
				<key>TopEdge</key>
				<integer>4200</integer>
				<key>UseHighRate</key>
				<true/>
				<key>VerticalScrollDivisor</key>
				<integer>30</integer>
			</dict>
			<key>HIDPointerAccelerationType</key>
			<string>HIDTrackpadAcceleration</string>
			<key>HIDScrollAccelerationType</key>
			<string>HIDTrackpadScrollAcceleration</string>
			<key>IOClass</key>
			<string>ApplePS2SynapticsTouchPad</string>
			<key>IOProbeScore</key>
			<integer>5500</integer>
			<key>IOProviderClass</key>
			<string>ApplePS2MouseDevice</string>
			<key>ProductID</key>
			<integer>547</integer>
			<key>VendorID</key>
			<integer>1452</integer>
		</dict>
	</dict>
	<key>OSBundleCompatibleVersion</key>
	<string>1.1.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOHIDFamily</key>
		<string>1.0.0b1</string>
		<key>com.apple.kpi.iokit</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>9.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Safe Boot</string>
</dict>
</plist>
