<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>14B25</string>
	<key>CFBundleIdentifier</key>
	<string>org.rehabman.injector.BCM94352Z-as-BCM94360CS2</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>FakePCIID_BCM94352Z_as_BCM94360CS2</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>6A2008a</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>14A382</string>
	<key>DTSDKName</key>
	<string>macosx10.10</string>
	<key>DTXcode</key>
	<string>0611</string>
	<key>DTXcodeBuild</key>
	<string>6A2008a</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>Airport_Brcm4360</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AirPort.Brcm4360</string>
			<key>IOClass</key>
			<string>AirPort_Brcm4360</string>
			<key>IOMatchCategory</key>
			<string>IODefaultMatchCategory</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x43b114e4</string>
			<key>IOProbeScore</key>
			<integer>901</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>TruePowerOff</key>
			<true/>
		</dict>
		<key>BCM94352Z Properties Inject</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x43b114e4</string>
			<key>IOProbeScore</key>
			<integer>9001</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>RM,device-id</key>
				<data>
				oEMAAA==
				</data>
				<key>RM,subsystem-id</key>
				<data>
				NAEAAA==
				</data>
				<key>RM,subsystem-vendor-id</key>
				<data>
				axAAAA==
				</data>
				<key>RM,vendor-id</key>
				<data>
				5BQAAA==
				</data>
			</dict>
		</dict>
		<key>BCM94352Z as BCM94360CS2</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.rehabman.driver.FakePCIID</string>
			<key>IOClass</key>
			<string>FakePCIID</string>
			<key>IOMatchCategory</key>
			<string>FakePCIID</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x43b114e4 0x43a014e4</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>RM,Build</key>
			<string>Release-RehabMan</string>
			<key>RM,Version</key>
			<string>FakePCIID_BCM94352Z_as_BCM94360CS2 1.0</string>
		</dict>
	</dict>
	<key>OSBundleRequired</key>
	<string>Network-Root</string>
	<key>Source Code</key>
	<string>https://github.com/RehabMan/FakePCIID</string>
</dict>
</plist>
