<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>AutoMerge</key>
		<true/>
		<key>#Comment-SortedOrder</key>
		<string>SortedOrder may be required if you have patched SSDTs in ACPI/patched</string>
		<key>#SortedOrder</key>
		<array>
			<string>SSDT.aml</string>
			<string>SSDT-0.aml</string>
			<string>SSDT-1.aml</string>
			<string>SSDT-2.aml</string>
			<string>SSDT-3.aml</string>
			<string>SSDT-4.aml</string>
			<string>SSDT-5.aml</string>
			<string>SSDT-6.aml</string>
			<string>SSDT-7.aml</string>
			<string>SSDT-8.aml</string>
			<string>SSDT-9.aml</string>
			<string>SSDT-10.aml</string>
			<string>SSDT-11.aml</string>
			<string>SSDT-12.aml</string>
			<string>SSDT-13.aml</string>
			<string>SSDT-14.aml</string>
			<string>SSDT-15.aml</string>
			<string>SSDT-16.aml</string>
			<string>SSDT-17.aml</string>
			<string>SSDT-18.aml</string>
			<string>SSDT-19.aml</string>
			<string>SSDT-XOSI.aml</string>
			<string>SSDT-LPC.aml</string>
			<string>SSDT-UIAC.aml</string>
			<string>SSDT-PNLF.aml</string>
		</array>
		<key>DSDT</key>
		<dict>
			<key>Fixes</key>
			<dict>
				<key>FixRegions_10000000</key>
				<false/>
				<key>NewWay_80000000</key>
				<true/>
				<key>#Comment-IRQ Fix</key>
				<string>The following fixes may be needed for onboard audio/USB/etc</string>
				<key>FIX_TMR_40000</key>
				<false/>
				<key>FIX_RTC_20000</key>
				<false/>
				<key>FixIPIC_0040</key>
				<false/>
				<key>FixHPET_0010</key>
				<false/>
				<key>FixHeaders_20000000</key>
				<true/>
			</dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>change OSID to XSID (to avoid match against _OSI XOSI patch)</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>T1NJRA==</data>
					<key>Replace</key>
					<data>WFNJRA==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change _OSI to XOSI</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>X09TSQ==</data>
					<key>Replace</key>
					<data>WE9TSQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change _DSM to XDSM</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>X0RTTQ==</data>
					<key>Replace</key>
					<data>WERTTQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change EC0 to EC</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>RUMwXw==</data>
					<key>Replace</key>
					<data>RUNfXw==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change H_EC to EC</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>SF9FQw==</data>
					<key>Replace</key>
					<data>RUNfXw==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change EHC1 to EH01</string>
					<key>Find</key>
					<data>RUhDMQ==</data>
					<key>Replace</key>
					<data>RUgwMQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change EHC2 to EH02</string>
					<key>Find</key>
					<data>RUhDMg==</data>
					<key>Replace</key>
					<data>RUgwMg==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change GFX0 to IGPU</string>
					<key>Find</key>
					<data>R0ZYMA==</data>
					<key>Replace</key>
					<data>SUdQVQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change PCI0.VID to IGPU #1 (Thinkpad)</string>
					<key>Find</key>
					<data>UENJMFZJRF8=</data>
					<key>Replace</key>
					<data>UENJMElHUFU=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change PCI0.VID to IGPU #2 (Thinkpad)</string>
					<key>Find</key>
					<data>VklEXwhfQURSDAAAAgA=</data>
					<key>Replace</key>
					<data>SUdQVQhfQURSDAAAAgA=</data>
				</dict>
			</array>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>#MCFG</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
		</array>
		<key>#DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>MCFG</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>CpuPm</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>Cpu0Cst</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>Cpu0Ist</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>ApCst</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>ApIst</string>
			</dict>
		</array>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<false/>
			<key>Generate</key>
			<dict>
				<key>CStates</key>
				<false/>
				<key>PStates</key>
				<false/>
				<key>APSN</key>
				<false/>
				<key>APLF</key>
				<false/>
			</dict>
			<key>NoOemTableId</key>
			<true/>
			<key>NoDynamicExtract</key>
			<true/>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>kext-dev-mode=1 dart=0 slide=0 nv_disable=1</string>
		<key>DefaultVolume</key>
		<string>LastBootedVolume</string>
		<key>NeverHibernate</key>
		<true/>
		<key>Secure</key>
		<false/>
		<key>Timeout</key>
		<integer>5</integer>
		<key>XMPDetection</key>
		<false/>
	</dict>
	<key>Devices</key>
	<dict>
		<key>NoDefaultProperties</key>
		<true/>
		<key>AddProperties</key>
		<array>
			<dict>
				<key>Device</key>
				<string>NVidia</string>
				<key>Key</key>
				<string>name</string>
				<key>Value</key>
				<data>I2Rpc3BsYXkA</data>
				<key>Comment</key>
				<string>Inject &quot;name&quot; as (data)&quot;#display&quot; to disable graphics drivers on NVidia</string>
			</dict>
			<dict>
				<key>Device</key>
				<string>NVidia</string>
				<key>Key</key>
				<string>IOName</string>
				<key>Value</key>
				<string>#display</string>
				<key>Comment</key>
				<string>Inject &quot;IOName&quot; as &quot;#display&quot; to disable graphics drivers on NVidia</string>
			</dict>
			<dict>
				<key>Device</key>
				<string>NVidia</string>
				<key>Key</key>
				<string>class-code</string>
				<key>Value</key>
				<data>/////w==</data>
				<key>Comment</key>
				<string>Inject bogus class-code to prevent graphics drivers loading for NVidia</string>
			</dict>
			<dict>
				<key>Device</key>
				<string>IntelGFX</string>
				<key>Key</key>
				<string>AAPL00,DualLink</string>
				<key>Value</key>
				<data>AQAAAA==</data>
				<key>Comment</key>
				<string>for dual link LVDS cable, DualLink needed for high resolution HD3000</string>
			</dict>
			<dict>
				<key>Device</key>
				<string>IntelGFX</string>
				<key>Key</key>
				<string>AAPL,snb-platform-id</string>
				<key>Value</key>
				<data>AAABAA==</data>
				<key>Comment</key>
				<string>Selects mobile HD3000 framebuffer</string>
			</dict>
			<dict>
				<key>Device</key>
				<string>IntelGFX</string>
				<key>Key</key>
				<string>#AAPL,os-info</string>
				<key>Value</key>
				<data>MEkBERERCAAAAfAfAQAAABAHAAA=</data>
				<key>Comment</key>
				<string>AAPL,os-info required for Snow Leopard 10.6.8 HD3000</string>
			</dict>
			<dict>
				<key>Device</key>
				<string>IntelGFX</string>
				<key>Key</key>
				<string>#hda-gfx</string>
				<key>Value</key>
				<data>b25ib2FyZC0xAA==</data>
				<key>Comment</key>
				<string>hda-gfx=onboard-1 for HDMI audio</string>
			</dict>
			<dict>
				<key>Device</key>
				<string>HDA</string>
				<key>Key</key>
				<string>#hda-gfx</string>
				<key>Value</key>
				<data>b25ib2FyZC0xAA==</data>
				<key>Comment</key>
				<string>hda-gfx=onboard-1 for HDMI audio</string>
			</dict>
			<dict>
				<key>Device</key>
				<string>HDA</string>
				<key>Key</key>
				<string>#layout-id</string>
				<key>Value</key>
				<data>AwAAAA==</data>
				<key>Comment</key>
				<string>layout-id=3</string>
			</dict>
			<dict>
				<key>Device</key>
				<string>HDA</string>
				<key>Key</key>
				<string>#PinConfigurations</string>
				<key>Value</key>
				<data></data>
			</dict>
		</array>
		<key>Audio</key>
		<dict>
			<key>Inject</key>
			<integer>0</integer>
		</dict>
		<key>USB</key>
		<dict>
			<key>FixOwnership</key>
			<true/>
			<key>AddClockID</key>
			<true/>
			<key>Inject</key>
			<true/>
		</dict>
		<key>UseIntelHDMI</key>
		<false/>
	</dict>
	<key>DisableDrivers</key>
	<array>
		<string>VBoxHfs</string>
	</array>
	<key>GUI</key>
	<dict>
		<key>Custom</key>
		<dict>
			<key>Entries</key>
			<array>
				<dict>
					<key>Hidden</key>
					<false/>
					<key>Type</key>
					<string>OSXRecovery</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>Windows</string>
					<key>Title</key>
					<string>Windows</string>
				</dict>
			</array>
		</dict>
		<key>Hide</key>
		<array>
			<string>Preboot</string>
		</array>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<false/>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Linux</key>
			<true/>
			<key>Tool</key>
			<true/>
		</dict>
		<key>#ScreenResolution</key>
		<string>1920x1080</string>
		<key>Theme</key>
		<string>BGM</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>DualLink</key>
		<integer>1</integer>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<true/>
			<key>NVidia</key>
			<true/>
		</dict>
		<key>InjectEDID</key>
		<false/>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AsusAICPUPM</key>
		<true/>
		<key>AppleRTC</key>
		<true/>
		<key>DellSMBIOSPatch</key>
		<false/>
		<key>KernelLapic</key>
		<true/>
		<key>KernelPm</key>
		<true/>
		<key>ForceKextsToLoad</key>
		<array>
			<string>\System\Library\Extensions\IONetworkingFamily.kext</string>
		</array>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio HD3000, 0x00010000, port 0205</string>
				<key>Disabled</key>
				<true/>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelSNBGraphicsFB</string>
				<key>Find</key>
				<data>AgUAAAAEAAAHAAAA</data>
				<key>Replace</key>
				<data>AgUAAAAIAAAHAAAA</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio HD3000, 0x00010000, port 0304</string>
				<key>Disabled</key>
				<true/>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelSNBGraphicsFB</string>
				<key>Find</key>
				<data>AwQAAAAEAAAJAAAA</data>
				<key>Replace</key>
				<data>AwQAAAAIAAAJAAAA</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio HD3000, 0x00010000, port 0406</string>
				<key>Disabled</key>
				<true/>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelSNBGraphicsFB</string>
				<key>Find</key>
				<data>BAYAAAAEAAAJAAAA</data>
				<key>Replace</key>
				<data>BAYAAAAIAAAJAAAA</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio/VGA(0602) HD3000, 0x00010000, port 0406</string>
				<key>Disabled</key>
				<true/>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelSNBGraphicsFB</string>
				<key>Find</key>
				<data>AQIEABAHAAAQBwAABQMAAAIAAAAwAAAAAgUAAAAEAAAHAAAAAwQAAAAEAAAJAAAABAYAAAAEAAAJAAAA</data>
				<key>Replace</key>
				<data>AQIDABAHAAAQBwAABgIAAAABAAAJAAAABQMAAAIAAAAwAAAABAYAAAAIAAAJAAAAAAAAAAAAAAAAAAAA</data>
			</dict>
		</array>
		<key>KernelToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Disable panic kext logging on 10.13 Debug kernel</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				sABMi1Xw
				</data>
				<key>MatchOS</key>
				<string>10.13</string>
				<key>Replace</key>
				<data>
				SIPEQF3D
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Disable panic kext logging on 10.13 Release kernel</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				igKEwHRE
				</data>
				<key>MatchOS</key>
				<string>10.13</string>
				<key>Replace</key>
				<data>
				igKEwOtE
				</data>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
		<key>BooterConfig</key>
		<string>0x28</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>ProductName</key>
		<string>MacBookPro8,1</string>
		<key>Trust</key>
		<true/>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>#BacklightLevel</key>
		<integer>0</integer>
		<key>InjectKexts</key>
		<string>Detect</string>
	</dict>
</dict>
</plist>
