<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>16G1212</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>HoRNDIS</string>
	<key>CFBundleGetInfoString</key>
	<string>Android/RNDIS tethering driver</string>
	<key>CFBundleIdentifier</key>
	<string>com.joshuawise.kexts.HoRNDIS</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>HoRNDIS</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>9.2</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>7D1014</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>15E60</string>
	<key>DTSDKName</key>
	<string>macosx10.11</string>
	<key>DTXcode</key>
	<string>0731</string>
	<key>DTXcodeBuild</key>
	<string>7D1014</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>RNDISControlLinuxGadget</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.joshuawise.kexts.HoRNDIS</string>
			<key>IOClass</key>
			<string>HoRNDIS</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>bInterfaceClass</key>
			<integer>2</integer>
			<key>bInterfaceProtocol</key>
			<integer>255</integer>
			<key>bInterfaceSubClass</key>
			<integer>2</integer>
		</dict>
		<key>RNDISControlMiscDeviceRoE</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.joshuawise.kexts.HoRNDIS</string>
			<key>IOClass</key>
			<string>HoRNDIS</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>bInterfaceClass</key>
			<integer>239</integer>
			<key>bInterfaceProtocol</key>
			<integer>1</integer>
			<key>bInterfaceSubClass</key>
			<integer>4</integer>
		</dict>
		<key>RNDISControlStockAndroid</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.joshuawise.kexts.HoRNDIS</string>
			<key>IOClass</key>
			<string>HoRNDIS</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>bInterfaceClass</key>
			<integer>224</integer>
			<key>bInterfaceProtocol</key>
			<integer>3</integer>
			<key>bInterfaceSubClass</key>
			<integer>1</integer>
		</dict>
		<key>WirelessControllerDevice</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.joshuawise.kexts.HoRNDIS</string>
			<key>IOClass</key>
			<string>HoRNDIS</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>bDeviceClass</key>
			<integer>224</integer>
			<key>bDeviceProtocol</key>
			<integer>0</integer>
			<key>bDeviceSubClass</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IONetworkingFamily</key>
		<string>3.2</string>
		<key>com.apple.iokit.IOUSBHostFamily</key>
		<string>1.0.1</string>
		<key>com.apple.kpi.bsd</key>
		<string>15.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>15.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>15.0</string>
		<key>com.apple.kpi.mach</key>
		<string>15.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>15.0</string>
	</dict>
</dict>
</plist>
